<div class="stocks-slider">
	<div class="swiper-container js-cars-slider">
		<div class="swiper-wrapper">
			<!-- Slide -->
			<div class="swiper-slide">
				<div class="stocks-slider__slide">
					{% include '../car/car-card-labels.html' %}
				</div>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<div class="stocks-slider__slide">
					{% include '../car/car-card.html' %}
				</div>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<div class="stocks-slider__slide">
					{% include '../car/car-card.html' %}
				</div>
			</div>
			<!-- //Slide -->

			<!-- Slide -->
			<div class="swiper-slide">
				<div class="stocks-slider__slide">
					{% include '../car/car-card.html' %}
				</div>
			</div>
			<!-- //Slide -->


		</div>
	</div>
</div>