{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups/popup-callback.html' %}
		{% include '../parts/components/popups/popup-thanks.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Section promo -->
			<section class="sect__promo">
				<h2 class="w3c">&nbsp;</h2>

				<div class="promo-slider">
					<div class="swiper-container js-promo-slider">
						<div class="swiper-wrapper">
							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/backgrounds/promo-bg.jpg');">
									<div class="container">
										<div class="promo-slide__content">
											<h3 class="page-title">Лучшие автомобили<br>по выгодной цене</h3>
											<p class="promo-slide__text">Сейчас на выбор <strong>2 546</strong> авто</p>

											<div class="promo-slide__btns">
												<a href="page-buy-car.html" class="btn">Купить авто</a>
												<a href="page-sale-car.html" class="btn btn-light">Продать авто</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->

							<!-- Slide -->
							<div class="swiper-slide">
								<div class="promo-slide bg" style="background-image: url('img/backgrounds/promo-bg.jpg');">
									<div class="container">
										<div class="promo-slide__content">
											<h3 class="page-title">Лучшие автомобили<br>по выгодной цене2</h3>
											<p class="promo-slide__text">Сейчас на выбор <strong>2 546</strong> авто</p>

											<div class="promo-slide__btns">
												<a href="page-buy-car.html" class="btn">Купить авто</a>
												<a href="page-sale-car.html" class="btn btn-light">Продать авто</a>
											</div>
										</div>
									</div>
								</div>
							</div>
							<!-- //Slide -->
						</div>
					</div>

					<!-- Pagination -->
					<div class="slider__pagination js-promo-slider-pagination"></div>
					<!-- //Pagination -->
				</div>
			</section>
			<!-- //Section promo -->

			<!-- Section search -->
			<section class="sect__search gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="search">
						<!-- Tab controls -->
						<div class="search-tabs__controls">
							<button class="search-tabs__controls--btn is-active js-tab-btn" type="button">Поиск авто</button>
							<button class="search-tabs__controls--btn js-tab-btn" type="button">Все марки</button>
						</div>
						<!-- //Tab controls -->

						<div class="search-tabs__content">
							<div class="search-tabs__content--item js-tab-content">
								<!-- Search form -->
								<form  class="search-form">
									<div class="row align-horisontal-start form-group__inputs--row">
										<div class="form-group__input--wrapper col-w-33">
											<label class="form-group__input--label is-active">
												<input type="text" name="Марка" class="form-group__input form-group__input--with-label" value="Все марки" readonly>
												<span class="form-group__input--label_text">Выберите марку</span>
											</label>
											{% include '../parts/components/interface/arrow.html' %}
										</div>

										<div class="form-group__input--wrapper col-w-33">
											<label class="form-group__input--label is-active">
												<input type="text" name="Модель" class="form-group__input form-group__input--with-label is-disabled" disabled value="Все модели" readonly>
												<span class="form-group__input--label_text">Выберите модель</span>
											</label>
											{% include '../parts/components/interface/arrow.html' %}
										</div>

										<div class="form-group__input--wrapper col-w-33">
											<button class="btn" type="submit">Подобрать</button>
										</div>
									</div>
								</form>
								<!-- //Search form -->
							</div>

							<div class="search-tabs__content--item js-tab-content">
								<div class="car-categories">
									<div class="row align-horisontal-start">
										<div class="car-categories__col">
											<h3 class="list-title"><a href="#">Легковые</a></h3>
											<ul>
												<li><a href="#">Все марки <span>(2256)</span></a></li>
												<li><a href="#">Новые <span>(145)</span></a></li>
												<li><a href="#">Acura <span>(1)</span></a></li>
												<li><a href="#">Audi <span>(65)</span></a></li>
												<li><a href="#">BMW <span>(118)</span></a></li>
												<li><a href="#">Cadillac <span>(2)</span></a></li>
												<li><a href="#">Chery <span>(10)</span></a></li>
												<li><a href="#">Chevrolet <span>(77)</span></a></li>
												<li><a href="#">Chrysler <span>(3)</span></a></li>
												<li><a href="#">Citroen <span>(24)</span></a></li>
												<li><a href="#">Daewoo <span>(7)</span></a></li>
												<li><a href="#">Daihatsu <span>(3)</span></a></li>
												<li><a href="#">Datsun <span>(6)</span></a></li>
												<li><a href="#">Dodge <span>(4)</span></a></li>
												<li><a href="#">Fiat <span>(4)</span></a></li>
												<li><a href="#">Ford <span>(110)</span></a></li>
												<li><a href="#">Geely <span>(4)</span></a></li>
												<li><a href="#">Genesis <span>(1)</span></a></li>
												<li><a href="#">GMC <span>(1)</span></a></li>

												<li><a href="#">Все марки <span>(2256)</span></a></li>
												<li><a href="#">Новые <span>(145)</span></a></li>
												<li><a href="#">Acura <span>(1)</span></a></li>
												<li><a href="#">Audi <span>(65)</span></a></li>
												<li><a href="#">BMW <span>(118)</span></a></li>
												<li><a href="#">Cadillac <span>(2)</span></a></li>
												<li><a href="#">Chery <span>(10)</span></a></li>
												<li><a href="#">Chevrolet <span>(77)</span></a></li>
												<li><a href="#">Chrysler <span>(3)</span></a></li>
												<li><a href="#">Citroen <span>(24)</span></a></li>
												<li><a href="#">Daewoo <span>(7)</span></a></li>
												<li><a href="#">Daihatsu <span>(3)</span></a></li>
												<li><a href="#">Datsun <span>(6)</span></a></li>
												<li><a href="#">Dodge <span>(4)</span></a></li>
												<li><a href="#">Fiat <span>(4)</span></a></li>
												<li><a href="#">Ford <span>(110)</span></a></li>
												<li><a href="#">Geely <span>(4)</span></a></li>
												<li><a href="#">Genesis <span>(1)</span></a></li>
												<li><a href="#">GMC <span>(1)</span></a></li>

												<li><a href="#">Все марки <span>(2256)</span></a></li>
												<li><a href="#">Новые <span>(145)</span></a></li>
												<li><a href="#">Acura <span>(1)</span></a></li>
												<li><a href="#">Audi <span>(65)</span></a></li>
												<li><a href="#">BMW <span>(118)</span></a></li>
												<li><a href="#">Cadillac <span>(2)</span></a></li>
												<li><a href="#">Chery <span>(10)</span></a></li>
												<li><a href="#">Chevrolet <span>(77)</span></a></li>
												<li><a href="#">Chrysler <span>(3)</span></a></li>
												<li><a href="#">Citroen <span>(24)</span></a></li>
												<li><a href="#">Daewoo <span>(7)</span></a></li>
												<li><a href="#">Daihatsu <span>(3)</span></a></li>
												<li><a href="#">Datsun <span>(6)</span></a></li>
												<li><a href="#">Dodge <span>(4)</span></a></li>
												<li><a href="#">Fiat <span>(4)</span></a></li>
												<li><a href="#">Ford <span>(110)</span></a></li>
												<li><a href="#">Geely <span>(4)</span></a></li>
												<li><a href="#">Genesis <span>(1)</span></a></li>
												<li><a href="#">GMC <span>(1)</span></a></li>
											</ul>
										</div>
										<!-- //col -->

										<div class="car-categories__col">
											<h3 class="list-title"><a href="#">Внедорожники и пикапы</a></h3>
											<ul>
												<li><a href="#">Все марки <span>(2256)</span></a></li>
												<li><a href="#">Новые <span>(145)</span></a></li>
												<li><a href="#">Acura <span>(1)</span></a></li>
												<li><a href="#">Audi <span>(65)</span></a></li>
												<li><a href="#">BMW <span>(118)</span></a></li>
												<li><a href="#">Cadillac <span>(2)</span></a></li>
												<li><a href="#">Chery <span>(10)</span></a></li>
												<li><a href="#">Chevrolet <span>(77)</span></a></li>
												<li><a href="#">Chrysler <span>(3)</span></a></li>
												<li><a href="#">Citroen <span>(24)</span></a></li>
												<li><a href="#">Daewoo <span>(7)</span></a></li>
												<li><a href="#">Daihatsu <span>(3)</span></a></li>
												<li><a href="#">Datsun <span>(6)</span></a></li>
												<li><a href="#">Dodge <span>(4)</span></a></li>

											</ul>
										</div>
										<!-- //col -->

										<div class="car-categories__col">
											<h3 class="list-title"><a href="#">Минивены и микроавтобусы</a></h3>
											<ul>
												<li><a href="#">Все марки <span>(2256)</span></a></li>
												<li><a href="#">Новые <span>(145)</span></a></li>
												<li><a href="#">Acura <span>(1)</span></a></li>
												<li><a href="#">Audi <span>(65)</span></a></li>
												<li><a href="#">BMW <span>(118)</span></a></li>
												<li><a href="#">Cadillac <span>(2)</span></a></li>
												<li><a href="#">Chery <span>(10)</span></a></li>
												<li><a href="#">Chevrolet <span>(77)</span></a></li>
												<li><a href="#">Chrysler <span>(3)</span></a></li>
												<li><a href="#">Citroen <span>(24)</span></a></li>
												<li><a href="#">Daewoo <span>(7)</span></a></li>

											</ul>
										</div>
										<!-- //col -->

									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section search -->

			<!-- Section services -->
			<section class="sect__services gutter-bottom">
				<h2 class="sect-title container text-left">Услуги</h2>

				<div class="container">
					<div class="services">
						<div class="row align-horisontal-start services__row row-gutters">
							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-catalog.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/1.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/1-hover.svg');"></span>
									</span>
									<span class="service-card__title">Каталог автомобилей</span>
									<span class="service-card__description">Галлерея автомобилей в наличии</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-trade-in.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/2.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/2-hover.svg');"></span>
									</span>
									<span class="service-card__title">Обмен (Trade-in)</span>
									<span class="service-card__description">Выгодный обмен автомобиля с персональными условиями</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-online.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/3.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/3-hover.svg');"></span>
									</span>
									<span class="service-card__title">Выкуп (Online оценка)</span>
									<span class="service-card__description">Онлайн оценка вашего а/м не выходя из дома</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-crediting.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/4.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/4-hover.svg');"></span>
									</span>
									<span class="service-card__title">Кредитование</span>
									<span class="service-card__description">Выгодные кредитные условия для наших клиентов</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-delivery-car.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/5.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/5-hover.svg');"></span>
									</span>
									<span class="service-card__title">Доставка а/м</span>
									<span class="service-card__description">Доставим Ваш автомобиль после покупки</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-guarantee.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/6.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/6-hover.svg');"></span>
									</span>
									<span class="service-card__title">Гарантия AltynCar Garant</span>
									<span class="service-card__description">Программа продления технической гарантии AltynCar Garant на срок до 12 месяцев!</span>
								</a>
							</div>
							<!-- //Service item -->

							<!-- Service item -->
							<div class="service-card__wrapper">
								<a href="page-swap.html" class="service-card b-radius box-shadow">
									<span class="service-card__ic">
										<span class="service-card__ic--static" style="background-image: url('img/icons/svg/services/7.svg');"></span>
										<span class="service-card__ic--hover" style="background-image: url('img/icons/svg/services/7-hover.svg');"></span>
									</span>
									<span class="service-card__title">14 дней гарантия на обмен</span>
									<span class="service-card__description">Программа “Гарантия обмена купленного автомобиля AltynCar в первые 14 дней”</span>
								</a>
							</div>
							<!-- //Service item -->


						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section services -->

			<!-- Section stocks -->
			<section class="sect__stocks gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
						<h3 class="sect-title">Акции и горячие предложения</h3>

						<!-- Slider controls -->
						<div class="slider__navigation slider__navigation--md">
							<button class="btn__arrow js-cars-slider-btn-prev" type="button">
								<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
								</svg>
							</button>

							<button class="btn__arrow js-cars-slider-btn-next" type="button">
								<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
								</svg>
							</button>

						</div>
						<!-- //Slider controls -->
					</div>
					
					<!-- Slider -->
					{% include '../parts/components/interface/cars-slider.html' %}
					<!-- //Slider -->

					<div class="permalink__wrapper text-center">
						<a href="page-catalog.html" class="btn">Все автомобили</a>
					</div>
				</div>
				

			</section>
			<!-- //Section stocks -->

			<!-- Section steps -->
			<section class="sect__steps b-radius">
				<h2 class="sect-title sect-title__with-text container">4 простых шага, как продать Ваш автомобиль:</h2>
				<p class="sect-text container">Мы сделаем это быстро, просто и безопасно</p>

				<div class="container">
					<div class="steps">
						<div class="row align-vertical-center align-horisontal-start row-gutters steps__row">
							<!-- Step -->
							<div class="step__wrapper">
								<div class="step">
									<span class="step__ic box-shadow" style="background-image: url('img/icons/svg/steps/1.svg');"></span>
									<div class="step__content">
										<span class="step__count">Шаг 1</span>
										<h3 class="step__title">Запишись online или по телефону</h3>
									</div>
								</div>
							</div>
							<!-- //Step -->

							<!-- Step -->
							<div class="step__wrapper">
								<div class="step">
									<span class="step__ic box-shadow" style="background-image: url('img/icons/svg/steps/2.svg');"></span>
									<div class="step__content">
										<span class="step__count">Шаг 2</span>
										<h3 class="step__title">Пройди оценку</h3>
									</div>
								</div>
							</div>
							<!-- //Step -->

							<!-- Step -->
							<div class="step__wrapper">
								<div class="step">
									<span class="step__ic box-shadow" style="background-image: url('img/icons/svg/steps/3.svg');"></span>
									<div class="step__content">
										<span class="step__count">Шаг 3</span>
										<h3 class="step__title">Передай а/м и документы</h3>
									</div>
								</div>
							</div>
							<!-- //Step -->

							<!-- Step -->
							<div class="step__wrapper">
								<div class="step">
									<span class="step__ic box-shadow" style="background-image: url('img/icons/svg/steps/4.svg');"></span>
									<div class="step__content">
										<span class="step__count">Шаг 4</span>
										<h3 class="step__title">Получи деньги</h3>
									</div>
								</div>
							</div>
							<!-- //Step -->
						</div>
					</div>

					<div class="permalink__wrapper text-center">
						<a href="page-sale-car.html" class="btn">Продать автомобиль</a>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section steps -->

			<!-- Section about-us -->
			<section class="sect__about-us gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="page-container">
					<div class="row align-horisontal-start align-vertical-center about-us__row">

						<!-- Slider -->
						<div class="about-us__slider single-slider">
							<div class="swiper-container js-about-us-slider">
								<div class="swiper-wrapper">
									<!-- Slide -->
									<div class="swiper-slide">
										<div class="about-us__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
											<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="about-us__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
											<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="about-us__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
											<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
										</div>
									</div>
									<!-- //Slide -->
								</div>
							</div>

							<!-- Pagination -->
							<div class="slider__pagination js-about-us-slider-pagination"></div>
							<!-- //Pagination -->

							<!-- Navigation -->
							<div class="slider__navigation">
								<button class="btn__arrow btn__arrow--prev js-about-us-slider-btn-prev" type="button">
									{% include '../parts/components/interface/btn-arrow-left-svg.html' %}
								</button>

								<button class="btn__arrow btn__arrow--next js-about-us-slider-btn-next" type="button">
									{% include '../parts/components/interface/btn-arrow-right-svg.html' %}
								</button>
							</div>
							<!-- //Navigation -->
						</div>
						<!-- //Slider -->
						
						<!-- Content -->
						<div class="about-us__content">
							<h3 class="sect-title">О компании</h3>
							<div class="content light-text-color">
								<p>Компания AltynCar входит в состав группы компаний Урал-Кров-Авто Плюс которая имеет историю успешного роста и развития более 25 лет, зарекомендовала себя надежным и постоянным поставщиком только проверенных автомобилей.</p>
								<p>AltynCar – на сегодняшний день является лидером деятельности по покупке, продаже подержанных автомобилей в Западном Казахстане. На 2020 год можно уверенно  говорить о несомненно заслуженном доверии среди покупателей автомобилей с пробегом и компания по истине дорожит своим именем и репутацией, поэтому продает только проверенные автомобили с пробегом, с предоставлением всех необходимых документов, сопровождаем на всех этапах проведения услуг. </p>
							</div>

							<a href="page-about.html" class="btn">Подробнее о компании</a>
						</div>
						<!-- //Content -->
						
					</div>
					

					<div class="about-us__salons gutter-top">
						<div class="container">
							<h3 class="sect-title sect-title__with-text">Наши автосалоны</h3>
							<div class="about-us__description">
								<p><span>Наведитесь на иконку</span> - Вы увидите название дилера.</p>
								<p><span>Кликните на иконку</span> - Вы увидите адрес, номер телефона и дополнительные контактные данные.</p>
							</div>

							<div class="salons">
								<img src="img/map.svg" alt="Altyn Car. Карта расположения наших салонов">

								<div class="salons-addresses">
									<!-- Address -->
									<div class="salon-address js-salon-address">
										<!-- Marker -->
										<span class="salon-address__marker">
											<svg viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4163 40.2767L17.4954 41.3186L16.4163 40.2767C16.3717 40.3228 16.343 40.3467 16.3282 40.3577C16.3179 40.3589 16.3008 40.3601 16.2753 40.3601C16.2499 40.3601 16.2327 40.3589 16.2224 40.3577C16.2076 40.3467 16.1788 40.3228 16.1343 40.2767C15.8968 40.0307 12.3345 36.2976 8.84214 31.4603C7.09577 29.0414 5.39018 26.3782 4.12652 23.7608C2.85137 21.1196 2.08887 18.6515 2.08887 16.5891C2.08887 7.38894 9.3526 1.84338 16.2753 1.84338C23.198 1.84338 30.4617 7.38894 30.4617 16.5891C30.4617 18.6515 29.6992 21.1196 28.4241 23.7608C27.1604 26.3782 25.4548 29.0414 23.7085 31.4603C20.2161 36.2976 16.6538 40.0307 16.4163 40.2767ZM16.3163 40.3659C16.3163 40.3659 16.3169 40.3655 16.3182 40.3648C16.317 40.3656 16.3164 40.3659 16.3163 40.3659ZM9.54649 16.5891C9.54649 20.4362 12.4348 23.5043 16.2753 23.5043C20.1158 23.5043 23.0041 20.4362 23.0041 16.5891C23.0041 12.742 20.1158 9.67384 16.2753 9.67384C12.4348 9.67384 9.54649 12.742 9.54649 16.5891Z"/>
											</svg>

										</span>
										<!-- //Marker -->

										<p class="salon-address__information">Автосалон AltynCar - г. Актобе</p>

										<!-- Content -->
										<div class="salon-address__contacts box-shadow b-radius">
											<p>Далеко-далеко за.</p>
											<p>Эта, великий.</p>
											<p>Это, текстов.</p>
										</div>
										<!-- //Content -->
									</div>
									<!-- //Address -->

									<!-- Address -->
									<div class="salon-address js-salon-address">
										<!-- Marker -->
										<span class="salon-address__marker">
											<svg viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4163 40.2767L17.4954 41.3186L16.4163 40.2767C16.3717 40.3228 16.343 40.3467 16.3282 40.3577C16.3179 40.3589 16.3008 40.3601 16.2753 40.3601C16.2499 40.3601 16.2327 40.3589 16.2224 40.3577C16.2076 40.3467 16.1788 40.3228 16.1343 40.2767C15.8968 40.0307 12.3345 36.2976 8.84214 31.4603C7.09577 29.0414 5.39018 26.3782 4.12652 23.7608C2.85137 21.1196 2.08887 18.6515 2.08887 16.5891C2.08887 7.38894 9.3526 1.84338 16.2753 1.84338C23.198 1.84338 30.4617 7.38894 30.4617 16.5891C30.4617 18.6515 29.6992 21.1196 28.4241 23.7608C27.1604 26.3782 25.4548 29.0414 23.7085 31.4603C20.2161 36.2976 16.6538 40.0307 16.4163 40.2767ZM16.3163 40.3659C16.3163 40.3659 16.3169 40.3655 16.3182 40.3648C16.317 40.3656 16.3164 40.3659 16.3163 40.3659ZM9.54649 16.5891C9.54649 20.4362 12.4348 23.5043 16.2753 23.5043C20.1158 23.5043 23.0041 20.4362 23.0041 16.5891C23.0041 12.742 20.1158 9.67384 16.2753 9.67384C12.4348 9.67384 9.54649 12.742 9.54649 16.5891Z"/>
											</svg>

										</span>
										<!-- //Marker -->

										<p class="salon-address__information">Автосалон AltynCar - г. Актобе</p>

										<!-- Content -->
										<div class="salon-address__contacts box-shadow b-radius">
											<p>Далеко-далеко за.</p>
											<p>Эта, великий.</p>
											<p>Это, текстов.</p>
										</div>
										<!-- //Content -->
									</div>
									<!-- //Address -->

									<!-- Address -->
									<div class="salon-address js-salon-address">
										<!-- Marker -->
										<span class="salon-address__marker">
											<svg viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4163 40.2767L17.4954 41.3186L16.4163 40.2767C16.3717 40.3228 16.343 40.3467 16.3282 40.3577C16.3179 40.3589 16.3008 40.3601 16.2753 40.3601C16.2499 40.3601 16.2327 40.3589 16.2224 40.3577C16.2076 40.3467 16.1788 40.3228 16.1343 40.2767C15.8968 40.0307 12.3345 36.2976 8.84214 31.4603C7.09577 29.0414 5.39018 26.3782 4.12652 23.7608C2.85137 21.1196 2.08887 18.6515 2.08887 16.5891C2.08887 7.38894 9.3526 1.84338 16.2753 1.84338C23.198 1.84338 30.4617 7.38894 30.4617 16.5891C30.4617 18.6515 29.6992 21.1196 28.4241 23.7608C27.1604 26.3782 25.4548 29.0414 23.7085 31.4603C20.2161 36.2976 16.6538 40.0307 16.4163 40.2767ZM16.3163 40.3659C16.3163 40.3659 16.3169 40.3655 16.3182 40.3648C16.317 40.3656 16.3164 40.3659 16.3163 40.3659ZM9.54649 16.5891C9.54649 20.4362 12.4348 23.5043 16.2753 23.5043C20.1158 23.5043 23.0041 20.4362 23.0041 16.5891C23.0041 12.742 20.1158 9.67384 16.2753 9.67384C12.4348 9.67384 9.54649 12.742 9.54649 16.5891Z"/>
											</svg>

										</span>
										<!-- //Marker -->

										<p class="salon-address__information">Автосалон AltynCar - г. Актобе</p>

										<!-- Content -->
										<div class="salon-address__contacts box-shadow b-radius">
											<p>Далеко-далеко за.</p>
											<p>Эта, великий.</p>
											<p>Это, текстов.</p>
										</div>
										<!-- //Content -->
									</div>
									<!-- //Address -->

									<!-- Address -->
									<div class="salon-address js-salon-address">
										<!-- Marker -->
										<span class="salon-address__marker">
											<svg viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4163 40.2767L17.4954 41.3186L16.4163 40.2767C16.3717 40.3228 16.343 40.3467 16.3282 40.3577C16.3179 40.3589 16.3008 40.3601 16.2753 40.3601C16.2499 40.3601 16.2327 40.3589 16.2224 40.3577C16.2076 40.3467 16.1788 40.3228 16.1343 40.2767C15.8968 40.0307 12.3345 36.2976 8.84214 31.4603C7.09577 29.0414 5.39018 26.3782 4.12652 23.7608C2.85137 21.1196 2.08887 18.6515 2.08887 16.5891C2.08887 7.38894 9.3526 1.84338 16.2753 1.84338C23.198 1.84338 30.4617 7.38894 30.4617 16.5891C30.4617 18.6515 29.6992 21.1196 28.4241 23.7608C27.1604 26.3782 25.4548 29.0414 23.7085 31.4603C20.2161 36.2976 16.6538 40.0307 16.4163 40.2767ZM16.3163 40.3659C16.3163 40.3659 16.3169 40.3655 16.3182 40.3648C16.317 40.3656 16.3164 40.3659 16.3163 40.3659ZM9.54649 16.5891C9.54649 20.4362 12.4348 23.5043 16.2753 23.5043C20.1158 23.5043 23.0041 20.4362 23.0041 16.5891C23.0041 12.742 20.1158 9.67384 16.2753 9.67384C12.4348 9.67384 9.54649 12.742 9.54649 16.5891Z"/>
											</svg>

										</span>
										<!-- //Marker -->

										<p class="salon-address__information">Автосалон AltynCar - г. Актобе</p>

										<!-- Content -->
										<div class="salon-address__contacts box-shadow b-radius">
											<p>Далеко-далеко за.</p>
											<p>Эта, великий.</p>
											<p>Это, текстов.</p>
										</div>
										<!-- //Content -->
									</div>
									<!-- //Address -->

									<!-- Address -->
									<div class="salon-address js-salon-address">
										<!-- Marker -->
										<span class="salon-address__marker">
											<svg viewBox="0 0 32 42" xmlns="http://www.w3.org/2000/svg">
												<path d="M16.4163 40.2767L17.4954 41.3186L16.4163 40.2767C16.3717 40.3228 16.343 40.3467 16.3282 40.3577C16.3179 40.3589 16.3008 40.3601 16.2753 40.3601C16.2499 40.3601 16.2327 40.3589 16.2224 40.3577C16.2076 40.3467 16.1788 40.3228 16.1343 40.2767C15.8968 40.0307 12.3345 36.2976 8.84214 31.4603C7.09577 29.0414 5.39018 26.3782 4.12652 23.7608C2.85137 21.1196 2.08887 18.6515 2.08887 16.5891C2.08887 7.38894 9.3526 1.84338 16.2753 1.84338C23.198 1.84338 30.4617 7.38894 30.4617 16.5891C30.4617 18.6515 29.6992 21.1196 28.4241 23.7608C27.1604 26.3782 25.4548 29.0414 23.7085 31.4603C20.2161 36.2976 16.6538 40.0307 16.4163 40.2767ZM16.3163 40.3659C16.3163 40.3659 16.3169 40.3655 16.3182 40.3648C16.317 40.3656 16.3164 40.3659 16.3163 40.3659ZM9.54649 16.5891C9.54649 20.4362 12.4348 23.5043 16.2753 23.5043C20.1158 23.5043 23.0041 20.4362 23.0041 16.5891C23.0041 12.742 20.1158 9.67384 16.2753 9.67384C12.4348 9.67384 9.54649 12.742 9.54649 16.5891Z"/>
											</svg>

										</span>
										<!-- //Marker -->

										<p class="salon-address__information">Автосалон AltynCar - г. Актобе</p>

										<!-- Content -->
										<div class="salon-address__contacts box-shadow b-radius">
											<p>Далеко-далеко за.</p>
											<p>Эта, великий.</p>
											<p>Это, текстов.</p>
										</div>
										<!-- //Content -->
									</div>
									<!-- //Address -->
								</div>
							</div>
						</div>
						<!-- //container -->
					</div>
				</div>


			</section>
			<!-- //Section about-us -->
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>