{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups/popup-callback.html' %}
		{% include '../parts/components/popups/popup-thanks.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Page -->
			<section class="sect-page gutter-bottom">
				<h1 class="container page-title text-center">Программа технической гарантии «AltynCar Garant»</h1>
				<p class="container text-center page-description">Благодаря программе технической гарантии «AltynCar Garant» от сети автосалонов по продаже автомобилей с пробегом AltynCar, вы обезопасите себя от непредвиденных расходов на ремонт автомобиля на период до 12 месяцев.</p>

				<div class="container">
					<div class="contact-form__wrapper box-shadow">
						<h3 class="sect-title accent-color">Программа технической гарантии «AltynCar Garant»</h3>
						<p class="contact-form__text">Задайте свой вопрос по программе технической гарантии на автомобили с пробегом “AltynCar Garant”, оставьте свои контактные данные и мы с вами обязательно свяжемся.
						</p>

						<form class="contact-form">
							<div class="row align-horisontal-between row-inputs">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Город" class="form-group__input form-group__input--with-label" value="Выберите город" readonly>
											<span class="form-group__input--label_text">Город</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Город 1</li>
												<li>Город 2</li>
												<li>Город 3</li>
												<li>Город 4</li>
												<li>Город 5</li>
												<li>Город 6</li>
												<li>Город 7</li>
												<li>Город 8</li>
												<li>Город 9</li>
												<li>Город 10</li>
											</ul>
										</div>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>
								<!-- //Form group -->
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="text" name="Имя" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваше имя</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="email" name="Email" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваш E-mail</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="tel" name="Phone" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваш телефон</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-100">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label form-group__textarea--label">
											<textarea name="Вопрос" class="form-group__input form-group__textarea form-group__input--with-label"></textarea>
											<span class="form-group__input--label_text">Вы можете задать любой вопрос по данной услуге</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

							</div>

							<div class="form-group__submit text-center">
								<p class="form-group__notice">Отправляя данную форму Вы подтверждаете, что ознакомлены и согласны с <a href="#">политикой конфиденциальности и правилами обработки персональных данных</a></p>

								<button class="btn" type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
							</div>
						</form>
					</div>
				</div>
				<!-- //container -->

				<!-- Section about-us -->
				<section class="sect__description gutters">
					<h2 class="w3c">&nbsp;</h2>

					<div class="page-container">
						<div class="row align-horisontal-end align-vertical-center description-block__row">

							<!-- Content -->
							<div class="description-block__content description-block__content--right">
								<div class="content light-text-color">
									<h2>Договор по программе технической гарантии на автомобили с пробегом «AltynCar Garant»</h2>
									<h3>может быть заключен только на автомобили, помеченные специальным значком «AltynCar Garant» в карточке авто на сайте www.altyncar.kz.</h3>
									<p>Мы предлагаем на выбор два срока действия программы: 6 и 12 месяцев!</p>
									<p>Мы предлагаем на выбор три уровня программы:</p>
									<ul style="color: #393939; font-weight: 600">
										<li>базовый</li>
										<li>оптимальный</li>
										<li>максимальный</li>
									</ul>
									<p>Стоимость программы зависит от:</p>
									<ul style="color: #393939; font-weight: 600">
										<li>стоимости вашего автомобиля;</li>
										<li>выбранного срока действия программы</li>
										<li>выбранного уровня (тарифа) программы</li>
									</ul>
									<p>Основное условие – своевременное прохождение регламентного технического обслуживания на СТО AltynCar.</p>
								</div>

							</div>
							<!-- //Content -->

							<!-- Slider -->
							<div class="description-block__slider single-slider">
								<div class="swiper-container js-description-block-slider">
									<div class="swiper-wrapper">
										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->
									</div>
								</div>

								<!-- Pagination -->
								<div class="slider__pagination js-description-block-slider-pagination"></div>
								<!-- //Pagination -->

								<!-- Navigation -->
								<div class="slider__navigation">
									<button class="btn__arrow btn__arrow--prev js-description-block-slider-btn-prev" type="button">
										{% include '../parts/components/interface/btn-arrow-left-svg.html' %}
									</button>

									<button class="btn__arrow btn__arrow--next js-description-block-slider-btn-next" type="button">
										{% include '../parts/components/interface/btn-arrow-right-svg.html' %}
									</button>
								</div>
								<!-- //Navigation -->
							</div>
							<!-- //Slider -->

						</div>
					</div>



				</section>
				<!-- //Section about-us -->

				<!-- Section information -->
				<section class="sect__information gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="page-advantages">
							<h3 class="sect-title">Преимущества использования гарантии AltynCar Гарант</h3>

							<div class="row align-horisontal-start row-gutters cards__row">
								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/advantages/6.svg');"></span>
										</div>
										<h3 class="card__title">Защита и гарантии</h3>
										<p class="card__description">С программой технической гарантии «AltynCar Garant» вы защищены от непредвиденных расходов на ремонт вашего авто с пробегом. С нашей программой вы исключаете риск дорогостоящего ремонта приобретенного автомобиля. Ваш автомобиль будет обслуживаться профессиональными сотрудниками СТО AltynCar.</p>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/advantages/16.svg');"></span>
										</div>
										<h3 class="card__title">Гибкость программы</h3>
										<p class="card__description">Программа технической гарантии на авто с пробегом «AltynCar Garant» имеет большое количество вариантов. Вы можете выбрать тот, что максимально подходит именно для Вас.</p>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/advantages/13.svg');"></span>
										</div>
										<h3 class="card__title">Продается вместе с авто</h3>
										<p class="card__description">Если вы решите продать свой автомобиль, то все права и возможности по программе технической гарантии AltynCar Garant, будут переданы новому владельцу авто. А это значит вы сможете продать ваш автомобиль дороже.</p>
									</div>
								</div>
								<!-- //item -->

							</div>
						</div>
					</div>
					<!-- //container -->

				</section>
				<!-- //Section information -->

				<!-- Section  guarantee cost-->
				<section class="block-shadow sect__guarantee-cost">
					<h2 class="w3c">&nbsp;</h2>
					<div class="container">
						<div class="guarantee-cost__wrapper">
							<h3 class="sect-title">Стоимость программы при покупке автомобиля с пробегом</h3>

							<div class="guarantee-cost">
								<div class="guarantee-cost__form--wrapper">
									<p>Выберите автомобиль <span class="accent-color js-show-guarantee-result-btn">Посмотреть результат</span></p>
									<form class="guarantee-cost__form contact-form">
										<div class="row align-horisontal-between row-inputs">
											<!-- Form group -->
											<div class="form-group__input--wrapper_col col-w-50">
												<div class="form-group__input--wrapper">
													<input type="search" name="search" placeholder="Что ищем?" class="form-group__input form-group__input--search">

													<span class="btn__search btn__search--absolute">
														<svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
															<path d="M18.3163 18.0462C18.5946 18.3245 18.5946 18.7756 18.3163 19.0539C18.0381 19.3321 17.5869 19.3321 17.3087 19.0539L13.8887 15.6339C13.6104 15.3556 13.6104 14.9045 13.8887 14.6262C14.1669 14.348 14.6181 14.348 14.8963 14.6262L18.3163 18.0462ZM7.5525 15.8425C3.38137 15.8425 0 12.4612 0 8.29005C0 4.11892 3.38137 0.737549 7.5525 0.737549C11.7236 0.737549 15.105 4.11892 15.105 8.29005C15.105 12.4612 11.7236 15.8425 7.5525 15.8425ZM7.5525 14.4175C10.9366 14.4175 13.68 11.6742 13.68 8.29005C13.68 4.90592 10.9366 2.16255 7.5525 2.16255C4.16838 2.16255 1.425 4.90592 1.425 8.29005C1.425 11.6742 4.16838 14.4175 7.5525 14.4175ZM4.0375 7.72005C4.0375 7.98238 3.82484 8.19505 3.5625 8.19505C3.30016 8.19505 3.0875 7.98238 3.0875 7.72005C3.0875 5.5689 4.83135 3.82505 6.9825 3.82505C7.24483 3.82505 7.4575 4.03771 7.4575 4.30005C7.4575 4.56238 7.24483 4.77505 6.9825 4.77505C5.35602 4.77505 4.0375 6.09357 4.0375 7.72005Z" />
														</svg>

													</span>
												</div>

												<a href="page-catalog.html" class="link">Открыть весь каталог а/м</a>
											</div>
											<!-- //Form group -->

											<!-- Form group -->
											<div class="form-group__input--wrapper_col col-w-50">
												<div class="form-group__input--wrapper">
													<label class="form-group__input--label is-active">
														<input type="text" name="Избранное" class="form-group__input form-group__input--with-label" value="Выбрать авто из избранного" readonly>
														<span class="form-group__input--label_text">Избранное</span>
													</label>

													<div class="form-group__input--dropdown">
														<ul>
															<li>Авто 1</li>
															<li>Авто 2</li>
															<li>Авто 3</li>
															<li>Авто 4</li>
															<li>Авто 5</li>
															<li>Авто 6</li>
															<li>Авто 7</li>
															<li>Авто 8</li>
															<li>Авто 9</li>
															<li>Авто 10</li>
														</ul>
													</div>

													{% include '../parts/components/interface/arrow.html' %}
												</div>

												<a href="#" class="link">Перейти к избранному</a>
											</div>
											<!-- //Form group -->
										</div>
									</form>
								</div>

								<div class="guarantee-cost__results" style="display: none;">
									{% include '../parts/components/car/car-card-mini.html' %}

									<div class="car-technical-guarantee__packages">
										{% include '../parts/sections/car-guarantee-block.html' %}
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section  guarantee cost-->

				

				<!-- Section contract -->
				<section class="sect__contract gutter-top">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="contract-block">
							<h2 class="sect-title text-center container">Договор оферты программы технической гарантии AltynCar Garant:</h2>
							<p>Вы можете ознакомиться с полным договором оферты или скачать его в виде документа на свой ПК</p>

							<div class="contract-block__links">
								<a href="#" class="btn">ДОГОВОР ОФЕРТЫ</a>
								<a href="#" class="btn btn-light">СКАЧАТЬ ДОГОВОР ОФЕРТЫ</a>
							</div>
						</div>
					</div>
					
				</section>
				<!-- //Section contract -->

				<!-- Section faq -->
				<section class="sect__faq gutters">
					<h2 class="sect-title container text-center">Вопрос-ответ</h2>

					<div class="container">
						<div class="faqs">
							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Можно ли оформить гарантию в кредит?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">На какой период предоставляется гарантия?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p> Гарантия предоставляется на срок от 6 месяцев до 1 года.</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">На какие автомобили распространяется гарантия?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Для соблюдения гарантии необходимо ли проходить плановое ТО?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Сколько стоит гарантия AltynCar Garant?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section faq -->

				<!-- Offer -->
				{% include '../parts/sections/section-offer.html' %}
				<!-- //Offer -->


				<!-- Section stocks -->
				<section class="sect__stocks gutters">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
							<h3 class="sect-title">Акции и горячие предложения</h3>

							<!-- Slider controls -->
							<div class="slider__navigation slider__navigation--md">
								<button class="btn__arrow js-cars-slider-btn-prev" type="button">
									<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
									</svg>
								</button>

								<button class="btn__arrow js-cars-slider-btn-next" type="button">
									<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
									</svg>
								</button>

							</div>
							<!-- //Slider controls -->
						</div>

						<!-- Slider -->
						{% include '../parts/components/interface/cars-slider.html' %}
						<!-- //Slider -->

						<div class="permalink__wrapper text-center">
							<a href="page-catalog.html" class="btn">Все автомобили</a>
						</div>
					</div>


				</section>
				<!-- //Section stocks -->



			</section>
			<!-- //Page -->



		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>