{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups/popup-filter.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->



		<!-- Main -->
		<main class="main">

			<section class="sect__catalog ">
				<h1 class="w3c">Каталог автомобилей</h1>

				<div class="page-container">

					<!-- Catalog -->
					<div class="catalog" id="catalog">


						<!-- Aside -->
						{% include '../parts/sections/aside.html' %}
						<!-- //Aside -->


						<div class="catalog__content">

							<h2 class="catalog-tablet-title sect-title">Каталог автомобилей</h2>


							<!-- Sorting -->
							<div class="sorting">
								<div class="row align-horisontal-end sorting__row">

									<!-- Form group -->
									<div class="sorting__item">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label is-active">
												<input type="text" name="Сортировка по дате" class="form-group__input form-group__input--with-label" value="По дате" readonly>
												<span class="form-group__input--label_text">Сортировать</span>
											</label>

											<div class="form-group__input--dropdown">
												<ul>
													<li>Дата 1</li>
													<li>Дата 2</li>
												</ul>
											</div>

											{% include '../parts/components/interface/arrow.html' %}
										</div>
									</div>
									<!-- //Form group -->

									<!-- Form group -->
									<div class="sorting__item">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label is-active">
												<input type="text" name="Сортировка по салонам" class="form-group__input form-group__input--with-label" value="Все салоны" readonly>
												<span class="form-group__input--label_text">Сортировать</span>
											</label>

											<div class="form-group__input--dropdown">
												<ul>
													<li>Салон 1</li>
													<li>Салон 2</li>
													<li>Салон 3</li>
													<li>Салон 4</li>
												</ul>
											</div>

											{% include '../parts/components/interface/arrow.html' %}
										</div>
									</div>
									<!-- //Form group -->

								</div>
							</div>
							<!-- //Sorting -->

							<!-- Open aside filters btn -->
							<a href="#catalog" class="btn__toggle-filter js-open-aside-filters-btn">Открыть фильтр</a>
							<!-- //Open aside filters btn -->

							<div class="catalog-cars">

								<div class="row align-vertical-start align-horisontal-end catalog__row">



									<!-- Cars -->
									<div class="cars__wrapper">



										<div class="row align-horisontal-start cars__row row-gutters">
											{% include '../parts/components/car/car-card-labels-recommended.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card-labels-recommended.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
										</div>

									</div>
									<!-- //Cars -->
								</div>
							</div>


							<!-- Sect offer -->
							{% include '../parts/sections/section-offer.html' %}
							<!-- //Sect offer -->


							<div class="catalog-cars">
								<div class="row align-vertical-start align-horisontal-end  catalog__row">

									<!-- Cars -->
									<div class="cars__wrapper">

										<div class="row align-horisontal-start cars__row row-gutters">
											{% include '../parts/components/car/car-card-labels-recommended.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card-labels-recommended.html' %}
											{% include '../parts/components/car/car-card.html' %}
											{% include '../parts/components/car/car-card.html' %}
										</div>




									</div>
									<!-- //Cars -->

								</div>

								<!-- Pagination -->
								{% include '../parts/components/pagination.html' %}
								<!-- //Pagination -->

							</div>

							
						</div>

						


					</div>
					<!-- //Catalog -->

				</div>
				<!-- //page container -->


			</section>

			<!-- Section recommended -->
			<section class="sect__recommended gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="page-container">
					<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
						<h3 class="sect-title">Рекомендованные автомобили</h3>

						<!-- Slider controls -->
						<div class="slider__navigation slider__navigation--md">
							<button class="btn__arrow js-recommended-slider-btn-prev" type="button">
								<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
								</svg>

							</button>

							<button class="btn__arrow js-recommended-slider-btn-next" type="button">
								<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
								</svg>


							</button>

						</div>
						<!-- //Slider controls -->
					</div>

					<!-- Slider -->
					<div class="stocks-slider">
						<div class="swiper-container js-recommended-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->


							</div>
						</div>
					</div>
					<!-- //Slider -->

				</div>


			</section>
			<!-- //Section recommended -->

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}



</body>

</html>