{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups/popup-callback.html' %}
		{% include '../parts/components/popups/popup-thanks.html' %}
		{% include '../parts/components/popups/popup-vacancy.html' %}
		{% include '../parts/components/popups/popup-vacancy-form.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Page -->
			<section class="sect-page gutter-bottom">
				<h1 class="container page-title text-center">Вакансии</h1>
				<p class="container text-center page-description">Здесь Вы можете увидеть вакансии нашей компании</p>

				<div class="container">
					<!-- Vacancies -->
					<div class="vacancies ">
						<div class="vacancies-advantages">
							<h2 class="sect-title">Преимущества сотрудничества с Altyn Car</h2>

							<div class="row align-horisontal-start row-gutters cards__row">
								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/vacancies-advantages/1.svg');"></span>
										</div>
										<h3 class="card__title">Взаимовыгодные отношения</h3>
										<div class="card__description"><p>Компания Altyn car придерживается единой политики работы с поставщиками, основанной на прозрачных и честных принципах ведения бизнеса. Компания выполняет взятые на себя обязательства и ожидает аналогичного отношения к договорным обязательствам от партнеров</p></div>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/vacancies-advantages/2.svg');"></span>
										</div>
										<h3 class="card__title">Интересные проекты</h3>
										<div class="card__description"><p>Altyn car активно развивает дилерскую сеть и наращивает объемы продаж, поэтому все наши проекты принесут прибыль не только нашей компании, но и станут достойным гордости проектами в порфолио наших поставщиков.</p></div>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/vacancies-advantages/3.svg');"></span>
										</div>
										<h3 class="card__title">Надежный партнер</h3>
										<div class="card__description"><p>Altyncar ценит сотрудничество с поставщиками наравне с сотрудничеством с клиентами, поэтому все предложения о сотрудничестве самым тщательным образом анализируются и по всем предложениям предоставляется обратная связь.</p></div>
									</div>
								</div>
								<!-- //item -->
							</div>
						</div>

						<div class="vacancies-items">
							<h2 class="sect-title">Вакансии в компании Altyn Car</h2>
							
							<!-- Vacancy item-->
							<div class="vacancy b-radius box-shadow">
								<div class="row align-vertical-start align-horisontal-between vacancy__row">

									<div class="vacancy__description light-text-color">
										<h3 class="block-title-lg">Менеджер по продажам автомобилей с пробегом (Trade-in)</h3>
										<p>В компанию «ASTER» требуется менеджер по продажам новых автомобилей Renault и Nissan с опытом работы в прямых продажах от 1 года.</p>
										<button class="btn js-open-vacancy-popup-btn" type="button ">Подробнее</button>
									</div>

									<div class="vacancy__salary text-right light-text-color">
										<p class="block-title-lg accent-color">до 500 000 тг на руки KZT</p>
										<p>отдел маркетинга</p>
										<p class="accent-color f-f-medium">Алматы</p>
									</div>
								</div>
							</div>
							<!-- //Vacancy item-->

							<!-- Vacancy item-->
							<div class="vacancy b-radius box-shadow">
								<div class="row align-vertical-start align-horisontal-between vacancy__row">

									<div class="vacancy__description light-text-color">
										<h3 class="block-title-lg">Менеджер по продажам автомобилей с пробегом (Trade-in)</h3>
										<p>В компанию «ASTER» требуется менеджер по продажам новых автомобилей Renault и Nissan с опытом работы в прямых продажах от 1 года.</p>
										<button class="btn js-open-vacancy-popup-btn" type="button">Подробнее</button>
									</div>

									<div class="vacancy__salary text-right light-text-color">
										<p class="block-title-lg accent-color">до 500 000 тг на руки KZT</p>
										<p>отдел маркетинга</p>
										<p class="accent-color f-f-medium">Алматы</p>
									</div>
								</div>
							</div>
							<!-- //Vacancy item-->

							<!-- Vacancy item-->
							<div class="vacancy b-radius box-shadow">
								<div class="row align-vertical-start align-horisontal-between vacancy__row">

									<div class="vacancy__description light-text-color">
										<h3 class="block-title-lg">Менеджер по продажам автомобилей с пробегом (Trade-in)</h3>
										<p>В компанию «ASTER» требуется менеджер по продажам новых автомобилей Renault и Nissan с опытом работы в прямых продажах от 1 года.</p>
										<button class="btn js-open-vacancy-popup-btn" type="button">Подробнее</button>
									</div>

									<div class="vacancy__salary text-right light-text-color">
										<p class="block-title-lg accent-color">до 500 000 тг на руки KZT</p>
										<p>отдел маркетинга</p>
										<p class="accent-color f-f-medium">Алматы</p>
									</div>
								</div>
							</div>
							<!-- //Vacancy item-->

							<!-- Vacancy item-->
							<div class="vacancy b-radius box-shadow">
								<div class="row align-vertical-start align-horisontal-between vacancy__row">

									<div class="vacancy__description light-text-color">
										<h3 class="block-title-lg">Менеджер по продажам автомобилей с пробегом (Trade-in)</h3>
										<p>В компанию «ASTER» требуется менеджер по продажам новых автомобилей Renault и Nissan с опытом работы в прямых продажах от 1 года.</p>
										<button class="btn js-open-vacancy-popup-btn" type="button">Подробнее</button>
									</div>

									<div class="vacancy__salary text-right light-text-color">
										<p class="block-title-lg accent-color">до 500 000 тг на руки KZT</p>
										<p>отдел маркетинга</p>
										<p class="accent-color f-f-medium">Алматы</p>
									</div>
								</div>
							</div>
							<!-- //Vacancy item-->

						</div>
					</div>

					<!-- //Vacancies -->
				</div>
				<!-- //container -->

				<!-- Resume form -->
				<div class="resume__wrapper gutter-top ">
					<div class="resume box-shadow">
						<div class="container">
							<h2 class="sect-title-lg text-center">Отправить резюме</h2>
							<form class="resume-form">

								<div class="row align-horisontal-between row-inputs">
									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label">
												<input type="text" name="Имя" class="form-group__input form-group__input--with-label">
												<span class="form-group__input--label_text">Ваше имя</span>
											</label>
										</div>
									</div>
									<!-- //Form group -->

									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label">
												<input type="email" name="Email" class="form-group__input form-group__input--with-label">
												<span class="form-group__input--label_text">Ваш E-mail</span>
											</label>
										</div>
									</div>
									<!-- //Form group -->

									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label">
												<input type="tel" name="Phone" class="form-group__input form-group__input--with-label">
												<span class="form-group__input--label_text">Ваш телефон</span>
											</label>
										</div>
									</div>
									<!-- //Form group -->

								</div>

								<div class="row align-horisontal-between row-inputs">
									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label is-active">
												<input type="text" name="Город" class="form-group__input form-group__input--with-label" value="Выберите город" readonly>
												<span class="form-group__input--label_text">Город</span>
											</label>

											<div class="form-group__input--dropdown">
												<ul>
													<li>Город 1</li>
													<li>Город 2</li>
													<li>Город 3</li>
													<li>Город 4</li>
													<li>Город 5</li>
													<li>Город 6</li>
													<li>Город 7</li>
													<li>Город 8</li>
													<li>Город 9</li>
													<li>Город 10</li>
												</ul>
											</div>

											{% include '../parts/components/interface/arrow.html' %}
										</div>
									</div>
									<!-- //Form group -->

									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label is-active">
												<input type="text" name="Отдел" class="form-group__input form-group__input--with-label" value="Выберите отдел" readonly>
												<span class="form-group__input--label_text">Отдел</span>
											</label>

											<div class="form-group__input--dropdown">
												<ul>
													<li>Отдел 1</li>
													<li>Отдел 2</li>
													<li>Отдел 3</li>
													<li>Отдел 4</li>
													<li>Отдел 5</li>
													<li>Отдел 6</li>
													<li>Отдел 7</li>
													<li>Отдел 8</li>
													<li>Отдел 9</li>
													<li>Отдел 10</li>
												</ul>
											</div>

											{% include '../parts/components/interface/arrow.html' %}
										</div>
									</div>
									<!-- //Form group -->

									<!-- Form group -->
									<div class="form-group__input--wrapper_col col-w-33">
										<div class="form-group__input--wrapper">
											<label class="form-group__input--label form-group__input-file--label form-group__input form-group__input--with-label">
												<input type="file" name="files" multiple="" class="form-group__input-file" data-multiple-caption="Выбрано: {count} файла(ов)">
												<span class="form-group__input--label_text">Загрузить резюме</span>
											</label>
										</div>
									</div>
									<!-- //Form group -->

								</div>

								<div class="text-center">
									<button class="btn btn-wide-lg" type="submit">ОТКЛИКНУТЬСЯ</button>
								</div>
							</form>
						</div>
						<!-- //container -->
					</div>
				</div>
				<!-- //Resume form -->

			</section>
			<!-- //Page -->

			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>