{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		{% include '../parts/components/popups/popup-trade-in.html' %}
		{% include '../parts/components/popups/popup-buy-car.html' %}
		{% include '../parts/components/popups/popup-crediting.html' %}

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			
			<!-- Section car -->
			<section class="sect__page-car gutter-bottom">
				<h1 class="w3c">Hyundai Creta (2011)</h1>

				<div class="page-container">
					<!-- Car header -->
					<div class="car-header">
						<div class="container">
							<div class="row align-vertical-center align-horisontal-between car-header__row">

								<div class="car-header__content">

									<div class="car-header__title">
										<div class="row align-vertical-center align-horisontal-start">
											<h2 class="sect-title">Hyundai Creta (2011)</h2>
											<p class="price price-lg">979 000</p>
										</div>
									</div>

									<div class="car-header__information">
										<p class="contact__item contact__item--address">Казахстан, г. Астана, AltynCarSalon</p>
										<p class="contact__item contact__item--phone"><a href="tel:+85552567524" rel="nofollow">8 (555) 256-75-24</a></p>
										<p class="contact__item contact__item--delivery">Доставка</p>
										<p class="contact__item contact__item--wishlist"><a href="#" rel="nofollow">Добавить в избранное</a></p>
										<p class="contact__item contact__item--compare"><a href="#" rel="nofollow">Добавить к сравнению</a></p>
									</div>
								</div>
								
								<!-- Header tools -->
								<div class="car-header__tools">
									<button class="btn btn-wide js-open-buy-car-popup-btn" type="button">КУПИТЬ АВТОМОБИЛЬ</button>

									<div class="car-header__tools--btns">
										<div class="car-header__tools--btns_item">
											<button class="btn btn-wide btn-light btn-light-sm js-open-trade-in-popup-btn" type="button">TRADE-IN</button>
										</div>
										<div class="car-header__tools--btns_item">
											<button class="btn btn-wide btn-light btn-light-sm js-open-crediting-popup-btn" type="button">ОФОРМИТЬ КРЕДИТ</button>
										</div>
									</div>

								</div>
								<!-- //Header tools -->

							</div>


						</div>
						<!-- //container -->

						<!-- Slider -->
						<div class="car-main-slider__wrapper">
							<div class="swiper-container js-car-main-slider">
								<div class="swiper-wrapper">
									<!-- Slide -->
									<div class="swiper-slide">
										<div class="car-main-slider__slide">
											<a href="img/cars/car-1.png" data-fancybox="car-gallery" class="thumbnail car-main-slider__slide--thumbnail b-radius" style="background-image: url('img/cars/car-1.png');">
												<img src="img/cars/car-1.png" alt="Hyundai Creta (2011)">
											</a>
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="car-main-slider__slide">
											<a href="img/cars/car-2.png" data-fancybox="car-gallery" class="thumbnail car-main-slider__slide--thumbnail b-radius " style="background-image: url('img/cars/car-2.png');">
												<img src="img/cars/car-2.png" alt="Hyundai Creta (2011)">
											</a>
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="car-main-slider__slide">
											<a href="img/cars/car-3.png" data-fancybox="car-gallery" class="thumbnail car-main-slider__slide--thumbnail b-radius" style="background-image: url('img/cars/car-3.png');">
												<img src="img/cars/car-3.png" alt="Hyundai Creta (2011)">
											</a>
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="car-main-slider__slide">
											<a href="img/cars/car-1.png" data-fancybox="car-gallery" class="thumbnail car-main-slider__slide--thumbnail b-radius" style="background-image: url('img/cars/car-1.png');">
												<img src="img/cars/car-1.png" alt="Hyundai Creta (2011)">
											</a>
										</div>
									</div>
									<!-- //Slide -->

									<!-- Slide -->
									<div class="swiper-slide">
										<div class="car-main-slider__slide">
											<a href="img/cars/car-1.png" data-fancybox="car-gallery" class="thumbnail car-main-slider__slide--thumbnail b-radius" style="background-image: url('img/cars/car-1.png');">
												<img src="img/cars/car-1.png" alt="Hyundai Creta (2011)">
											</a>
										</div>
									</div>
									<!-- //Slide -->
								</div>
							</div>

							<!-- Navigation -->
							<button class="btn__arrow btn__arrow--prev js-car-main-slider-btn-prev" type="button">
								{% include '../parts/components/interface/btn-arrow-left-svg.html' %}
							</button>

							<button class="btn__arrow btn__arrow--next js-car-main-slider-btn-next" type="button">
								{% include '../parts/components/interface/btn-arrow-right-svg.html' %}
							</button>
							<!-- //Navigation -->
						</div>
						<!-- //Slider -->

						<div class="car-params">
							<div class="container">
								<ul class="car-params__list">
									<li class="car-params__list--item"><span>Год выпуска:</span> 2014 г.</li>
									<li class="car-params__list--item"><span>Пробег:</span> 91 969 км</li>
									<li class="car-params__list--item"><span>Кузов:</span> Внедорожник</li>
									<li class="car-params__list--item"><span>Двигатель:</span> 2.0 л., Бензин (211 л.с.)</li>
									<li class="car-params__list--item"><span>Система привода:</span> Полный</li>
									<li class="car-params__list--item"><span>КПП:</span> АКПП (автомат)</li>
								</ul>
							</div>
						</div>

						<!-- Scroll down -->
						<a href="#carInformation" class="scroll-down-link js-smooth-scroll-link">
							{% include '../parts/components/interface/arrow.html' %}
						</a>
						<!-- //Scroll down -->
					</div>
					<!-- //Car header -->

					<!-- Car header fixed -->
					<div class="car-header car-header-fixed js-car-header-fixed">
						<div class="container">
							<div class="row align-vertical-center align-horisontal-between car-header__row">

								<div class="car-header__content">

									<div class="car-header__title">
										<div class="row align-vertical-center align-horisontal-start">
											<h2 class="sect-title">Hyundai Creta (2011)</h2>
											<p class="price price-lg">979 000</p>
										</div>
									</div>

									<div class="car-header__information">
										<p class="contact__item contact__item--address">Казахстан, г. Астана, AltynCarSalon</p>
										<p class="contact__item contact__item--phone"><a href="tel:+85552567524" rel="nofollow">8 (555) 256-75-24</a></p>
										<p class="contact__item contact__item--delivery">Доставка</p>
										<p class="contact__item contact__item--wishlist"><a href="#" rel="nofollow">Добавить в избранное</a></p>
										<p class="contact__item contact__item--compare"><a href="#" rel="nofollow">Добавить к сравнению</a></p>
									</div>
								</div>
								
								<!-- Header tools -->
								<div class="car-header__tools">
									<button class="btn btn-wide js-open-buy-car-popup-btn" type="button">КУПИТЬ АВТОМОБИЛЬ</button>

									<div class="car-header__tools--btns">
										<div class="car-header__tools--btns_item">
											<button class="btn btn-wide btn-light btn-light-sm js-open-trade-in-popup-btn" type="button">TRADE-IN</button>
										</div>
										<div class="car-header__tools--btns_item">
											<button class="btn btn-wide btn-light btn-light-sm js-open-crediting-popup-btn" type="button">ОФОРМИТЬ КРЕДИТ</button>
										</div>
									</div>

								</div>
								<!-- //Header tools -->

							</div>


						</div>
						<!-- //container -->

						<div class="car-params">
							<div class="container">
								<ul class="car-params__list">
									<li class="car-params__list--item"><span>Год выпуска:</span> 2014 г.</li>
									<li class="car-params__list--item"><span>Пробег:</span> 91 969 км</li>
									<li class="car-params__list--item"><span>Кузов:</span> Внедорожник</li>
									<li class="car-params__list--item"><span>Двигатель:</span> 2.0 л., Бензин (211 л.с.)</li>
									<li class="car-params__list--item"><span>Система привода:</span> Полный</li>
									<li class="car-params__list--item"><span>КПП:</span> АКПП (автомат)</li>
								</ul>
							</div>
						</div>
					</div>
					<!-- //Car header fixed -->

					<!-- Car body -->
					<div class="car-body" id="carInformation">
						<!-- User count -->
						<div class="users-count">
							<p>Этот автомобиль сейчас смотрят <b>15 человек</b></p>
						</div>
						<!-- //User count -->

						<div class="car-information__wrapper">
							<!-- Controls -->
							<div class="car-information__controls">
								<button class="btn__tab js-tab-btn is-active" type="button">ПРЕИМУЩЕСТВА</button>
								<button class="btn__tab js-tab-btn" type="button">ТЕХНИЧЕСКИЕ ХАРАКТЕРИСТИКИ</button>
							</div>
							<!-- //Controls -->

							<!-- Content -->
							<div class="car-information">
								<!-- Advantages -->
								<div class="car-information__item js-tab-content">
									<div class="car-information__item--block b-radius box-shadow">
										<div class="container">
											<div class="car-advantages">
												<div class="row align-vertical-start row-gutters car-advantages__row">
													<!-- Item -->
													<div class="car-advantage__wrapper">
														<div class="car-advantage">
															<span class="car-advantage__ic" style="background-image: url('img/icons/svg/advantages/1.svg');"></span>
															<p>Доставка</p>
														</div>
													</div>
													<!-- //Item -->

													<!-- Item -->
													<div class="car-advantage__wrapper">
														<div class="car-advantage">
															<span class="car-advantage__ic" style="background-image: url('img/icons/svg/advantages/2.svg');"></span>
															<p>Полная предпродажная подготовка</p>
														</div>
													</div>
													<!-- //Item -->

													<!-- Item -->
													<div class="car-advantage__wrapper">
														<div class="car-advantage">
															<span class="car-advantage__ic" style="background-image: url('img/icons/svg/advantages/3.svg');"></span>
															<p>Путешествие в подарок</p>
														</div>
													</div>
													<!-- //Item -->

													<!-- Item -->
													<div class="car-advantage__wrapper">
														<div class="car-advantage is-active">
															<span class="car-advantage__ic" style="background-image: url('img/icons/svg/advantages/4.svg');"></span>
															<p>Покупка в кредит</p>
														</div>
													</div>
													<!-- //Item -->
												</div>
											</div>
										</div>
										<!-- //container -->
									</div>
								</div>
								<!-- //Advantages -->

								<!-- Characteristics -->
								<div class="car-information__item js-tab-content">
									<div class="car-information__item--block b-radius box-shadow">
										<div class="container">

											<div class="car-characteristics">
												<h3 class="car-information__item--block_title">Комфорт</h3>

												<div class="row align-vertical-start car-characteristics__row">
													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Усилитель руля</p>
														</div>
														<div class="car-characteristics__list">
															<p>Управление климатом</p>
														</div>
														<div class="car-characteristics__list">
															<p>Управление на руле</p>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Усилитель руля</p>
														</div>
														<div class="car-characteristics__list">
															<p>Электропривод</p>
															<ul>
																<li>Передних сидений</li>
																<li>Зеркал</li>
																<li>Рулевой колонки</li>
																<li>Складывания зеркал</li>
																<li>Крышки багажника</li>
															</ul>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Кожанный руль</p>
														</div>
														<div class="car-characteristics__list">
															<p>Обогрев</p>
															<ul>
																<li>Передних сидений</li>
																<li>Задних сидений</li>
																<li>Зеркал</li>
																<li>Руля</li>
																<li>Лобового стекла</li>
															</ul>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Электростеклоподъемники</p>
														</div>
														<div class="car-characteristics__list">
															<p>Память настроек</p>
															<ul>
																<li>Передних сидений</li>
																<li>Задних сидений</li>
															</ul>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Массаж сидений</p>
														</div>
														<div class="car-characteristics__list">
															<p>Проекция лобового стекла</p>
														</div>
														<div class="car-characteristics__list">
															<p>Ионизация салона</p>
														</div>
														<div class="car-characteristics__list">
															<p>Солнцезащитные шторки</p>
														</div>
														<div class="car-characteristics__list">
															<p>Безключевой доступ</p>
														</div>

													</div>
													<!-- //col -->

												</div>
											</div>

										</div>
										<!-- //container -->
									</div>


									<div class="car-information__item--block b-radius box-shadow">
										<div class="container">

											<div class="car-characteristics">
												<h3 class="car-information__item--block_title">Интерьер</h3>

												<div class="row align-vertical-start car-characteristics__row">
													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Люк</p>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Материал приборной панели</p>
															<ul>
																<li>Дерево</li>
															</ul>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Спортивные сиденья</p>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Столики</p>
														</div>
													</div>
													<!-- //col -->

												</div>
											</div>

										</div>
										<!-- //container -->
									</div>


									<div class="car-information__item--block b-radius box-shadow">
										<div class="container">

											<div class="car-characteristics">
												<h3 class="car-information__item--block_title">Общее</h3>

												<div class="row align-vertical-start car-characteristics__row">
													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Фаркоп</p>
														</div>

														<div class="car-characteristics__list">
															<p>Пневмоподвеска</p>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Режимы управления авто</p>
															<ul>
																<li>Спорт</li>
															</ul>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Дистанционное управление автомобилем</p>
														</div>

														<div class="car-characteristics__list">
															<p>Интегральное управление</p>
														</div>
													</div>
													<!-- //col -->

													<div class="car-characteristics__col col-w-20">
														<div class="car-characteristics__list">
															<p>Кол-во пассажиров: 8</p>
														</div>
													</div>
													<!-- //col -->

												</div>
											</div>

										</div>
										<!-- //container -->
									</div>
								</div>
								<!-- //Characteristics -->


							</div>
							<!-- //Content -->
						</div>
					</div>
					<!-- //Car body -->
				</div>
			</section>
			<!-- //Section car -->

			<!-- Section car services -->
			<section class="sect__car-services gutter-bottom">
				<h2 class="sect-title container text-center">Возможные услуги</h2>

				<div class="container">
					<div class="car-services">
						<div class="row car-services__row row-gutters align-horisontal-start">
							<!-- Item -->
							<div class="car-service__wrapper col-w-25">
								<div class="car-service">
									<span class="car-service__ic box-shadow" style="background-image: url('img/icons/svg/car-services/1.svg');"></span>
									<div class="car-service__content">
										<h3 class="car-service__title">КРЕДИТОВАНИЕ</h3>
										<a href="page-crediting.html" class="link">Подробнее</a>
									</div>
								</div>
							</div>
							<!-- //Item -->

							<!-- Item -->
							<div class="car-service__wrapper col-w-25">
								<div class="car-service">
									<span class="car-service__ic box-shadow" style="background-image: url('img/icons/svg/car-services/2.svg');"></span>
									<div class="car-service__content">
										<h3 class="car-service__title">Гарантия<br>AltynCar Garant</h3>
										<a href="page-guarantee.html" class="link">Подробнее</a>
									</div>
								</div>
							</div>
							<!-- //Item -->

							<!-- Item -->
							<div class="car-service__wrapper col-w-25">
								<div class="car-service">
									<span class="car-service__ic box-shadow" style="background-image: url('img/icons/svg/car-services/3.svg');"></span>
									<div class="car-service__content">
										<h3 class="car-service__title">Обмен<br>(Trade-in)</h3>
										<a href="page-trade-in.html" class="link">Подробнее</a>
									</div>
								</div>
							</div>
							<!-- //Item -->

							<!-- Item -->
							<div class="car-service__wrapper col-w-25">
								<div class="car-service">
									<span class="car-service__ic box-shadow" style="background-image: url('img/icons/svg/car-services/4.svg');"></span>
									<div class="car-service__content">
										<h3 class="car-service__title">Гарантия замены а/м<br>в 14 дневный срок</h3>
										<a href="page-swap.html" class="link">Подробнее</a>
									</div>
								</div>
							</div>
							<!-- //Item -->

						</div>
					</div>

					<div class="car-technical-guarantee">
						<h3 class="sect__title sect-title__with-text text-center">Техническая гарантия по программе AltynCar Garant на этот автомобиль<br>от 6 месяцев до 1 года</h3>
						<p class="car-technical-guarantee__text">Благодаря программе технической гарантии «AltynCar Garant» от сети автосалонов по продаже автомобилей с пробегом AltynCar, вы обезопасите себя от непредвиденных расходов на ремонт автомобиля на период до 12 месяцев.</p>

						<div class="car-technical-guarantee__packages">
							<div class="row align-horisontal-start car-technical-guarantee__packages--row row-gutters">
								<!-- Item -->
								<div class="car-technical-guarantee__package--wrapper col-w-33">
									<div class="car-technical-guarantee__package b-radius box-shadow">
										<div class="car-technical-guarantee__package--icons">
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/1.svg');"></span>
										</div>
										<h4 class="block-title">БАЗОВЫЙ</h4>
										<ul>
											<li>6 месяцев - <span class="price">100 000</span></li>
											<li>12 месяцев - <span class="price">120 000</span></li>
										</ul>
										<a href="#" class="btn btn-wide btn-light">ПОДРОБНЕЕ</a>
									</div>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="car-technical-guarantee__package--wrapper col-w-33">
									<div class="car-technical-guarantee__package b-radius box-shadow">
										<div class="car-technical-guarantee__package--icons">
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/2.svg');"></span>
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/3.svg');"></span>
										</div>
										<h4 class="block-title">ОПТИМАЛЬНЫЙ</h4>
										<ul>
											<li>6 месяцев - <span class="price">150 000</span></li>
											<li>12 месяцев - <span class="price">180 000</span></li>
										</ul>

										<a href="#" class="btn btn-wide btn-light">ПОДРОБНЕЕ</a>
									</div>
								</div>
								<!-- //Item -->

								<!-- Item -->
								<div class="car-technical-guarantee__package--wrapper col-w-33">
									<div class="car-technical-guarantee__package b-radius box-shadow">
										<div class="car-technical-guarantee__package--icons">
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/2.svg');"></span>
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/4.svg');"></span>
											<span class="car-technical-guarantee__package--icon" style="background-image: url('img/icons/svg/car-tech-guarantee/3.svg');"></span>
										</div>
										<h4 class="block-title">МАКСИМАЛЬНЫЙ</h4>
										<ul>
											<li>6 месяцев - <span class="price">250 000</span></li>
											<li>12 месяцев - <span class="price">340 000</span></li>
										</ul>

										<a href="#" class="btn btn-wide btn-light">ПОДРОБНЕЕ</a>
									</div>
								</div>
								<!-- //Item -->
							</div>

							<div class="permalink__wrapper text-center">
								<a href="page-guarantee.html" class="btn">О ALTYNCAR GARANT</a>
							</div>
						</div>
					</div>
				</div>
				<!-- //container -->
			</section>
			<!-- //Section car services -->

			<!-- Sect offer -->
			{% include '../parts/sections/section-offer.html' %}
			<!-- ///Sect offer -->

			<!-- Section stocks -->
			<section class="sect__stocks gutters">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
						<h3 class="sect-title">Рекомендованные автомобили</h3>

						<!-- Slider controls -->
						<div class="slider__navigation slider__navigation--md">
							<button class="btn__arrow js-cars-slider-btn-prev" type="button">
								<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
								</svg>

							</button>

							<button class="btn__arrow js-cars-slider-btn-next" type="button">
								<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
								</svg>


							</button>

						</div>
						<!-- //Slider controls -->
					</div>
					
					<!-- Slider -->
					{% include '../parts/components/interface/cars-slider.html' %}
					<!-- //Slider -->

				</div>
				

			</section>
			<!-- //Section stocks -->

			<!-- Section stocks -->
			<section class="sect__stocks gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="container">
					<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
						<h3 class="sect-title">Ранее просмотренные автомобили</h3>

						<!-- Slider controls -->
						<div class="slider__navigation slider__navigation--md">
							<button class="btn__arrow js-cars-slider-btn-prev" type="button">
								<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
								</svg>

							</button>

							<button class="btn__arrow js-cars-slider-btn-next" type="button">
								<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
								</svg>


							</button>

						</div>
						<!-- //Slider controls -->
					</div>
					
					<!-- Slider -->
					{% include '../parts/components/interface/cars-slider.html' %}
					<!-- //Slider -->

				</div>
				

			</section>
			<!-- //Section stocks -->

			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>