{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Popups -->
		{% include '../parts/components/popups/popup-filter.html' %}
		{% include '../parts/components/popups/popup-trade-in.html' %}
		{% include '../parts/components/popups/popup-buy-car.html' %}
		{% include '../parts/components/popups/popup-crediting.html' %}
		{% include '../parts/components/popups/popup-callback.html' %}
		{% include '../parts/components/popups/popup-thanks.html' %}
		<!-- //Popups -->

		<!-- Main -->
		<main class="main">

			<section class="sect__catalog gutter-bottom">
				<h1 class="w3c">Каталог автомобилей</h1>

				<div class="page-container">

					<!-- Catalog -->
					<div class="catalog">

						<!-- Open aside filters btn -->
						<button class="btn__toggle js-open-aside-filters-btn" type="button">Открыть фильтр</button>
						<!-- //Open aside filters btn -->

						<!-- Aside -->
						{% include '../parts/sections/aside.html' %}
						<!-- //Aside -->

						<!-- Sorting -->
						<div class="sorting">
							<div class="row align-horisontal-end sorting__row">

								<div class="sorting__item">
									<div class="form-group__input--wrapper">
										<select name="dates"  class="form-group__input form-group__select">
											<option value="" disabled selected>По дате</option>
											<option value="Сначала новые">Сначала новые</option>
											<option value="Сначала старые">Сначала старые</option>
										</select>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="sorting__item">
									<div class="form-group__input--wrapper">
										<select name="salons"  class="form-group__input form-group__select">
											<option value="" disabled selected>Все салоны</option>
											<option value="Салон 1">Салон 1</option>
											<option value="Салон 2">Салон 2</option>
											<option value="Салон 3">Салон 3</option>
										</select>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>
							</div>
						</div>
						<!-- //Sorting -->

						<div class="row align-vertical-start align-horisontal-end catalog__row">



							<!-- Cars -->
							<div class="cars__wrapper">



								<div class="row align-horisontal-start cars__row row-gutters">
									{% include '../parts/components/car/car-card-labels-recommended.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card-labels-recommended.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
								</div>

							</div>
							<!-- //Cars -->
						</div>


						<!-- Offer -->
						<section class="sect__offer gutters">
							<h2 class="w3c">&nbsp;</h2>
							
							<div class="container">
								<div class="offer">
									<div class="offer__content">
										<h3 class="page-title">Нужно продать свое авто?<br>Мы поможем!</h3>
										<p>Мы купим ваш автомобиль или обменяем его на новый.<br>Получите бесплатную оценку Вашего автомобиля</p>
										<a href="page-car.html" class="btn">УЗНАТЬ ПОДРОБНЕЕ</a>
									</div>

									<div class="offer__img">
										<img src="img/car-offer.png" alt="Название акционного автомобиля">
									</div>

								</div>
							</div>
							<!-- //container -->

						</section>
						<!-- ///Offer -->

						<div class="row align-vertical-start align-horisontal-end  catalog__row">

							<!-- Cars -->
							<div class="cars__wrapper">

								<div class="row align-horisontal-start cars__row row-gutters">
									{% include '../parts/components/car/car-card-labels-recommended.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card-labels-recommended.html' %}
									{% include '../parts/components/car/car-card.html' %}
									{% include '../parts/components/car/car-card.html' %}
								</div>


								<!-- Pagination -->
								<div class="pagination">
									<ul class="pagination__list">
										<!-- Prev -->
										<li class="pagination__item">
											<a href="#" class="pagination__link pagination__link--arrow pagination__link--arrow_prev">
												<i class="pagination__link--arrow_ic">
													<svg  viewBox="0 0 11 24"  xmlns="http://www.w3.org/2000/svg">
														<path d="M2.0854 12L10.6885 1.7559C11.0258 1.35422 11.0258 0.702965 10.6885 0.301283C10.3511 -0.100399 9.8042 -0.100399 9.46687 0.301283L0.253001 11.2727C-0.0843343 11.6744 -0.0843342 12.3256 0.253001 12.7273L9.46687 23.6987C9.8042 24.1004 10.3511 24.1004 10.6885 23.6987C11.0258 23.2971 11.0258 22.6458 10.6885 22.2441L2.0854 12Z"/>
													</svg>

												</i>

												<span>Пред.</span>
											</a>
										</li>
										<!-- //Prev -->

										<li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
										<li class="pagination__item"><span class="pagination__link">...</span></li>
										<li class="pagination__item"><a href="#" class="pagination__link">24,</a></li>
										<li class="pagination__item"><a href="#" class="pagination__link">25,</a></li>
										<li class="pagination__item"><span class="pagination__link is-active">26,</span></li>
										<li class="pagination__item"><a href="#" class="pagination__link">27,</a></li>
										<li class="pagination__item"><a href="#" class="pagination__link">28</a></li>
										<li class="pagination__item"><span class="pagination__link">...</span></li>
										<li class="pagination__item"><a href="#" class="pagination__link">86</a></li>

										<!-- Next -->
										<li class="pagination__item">
											<a href="#" class="pagination__link pagination__link--arrow pagination__link--arrow_next">
												<i class="pagination__link--arrow_ic">
													<svg  viewBox="0 0 11 24"  xmlns="http://www.w3.org/2000/svg">
														<path d="M8.85601 12L0.252943 1.7559C-0.0843925 1.35422 -0.0843924 0.702965 0.252943 0.301283C0.590278 -0.100399 1.1372 -0.100399 1.47454 0.301283L10.6884 11.2727C11.0257 11.6744 11.0257 12.3256 10.6884 12.7273L1.47454 23.6987C1.1372 24.1004 0.590277 24.1004 0.252942 23.6987C-0.0843935 23.2971 -0.0843934 22.6458 0.252942 22.2441L8.85601 12Z" />
													</svg>

												</i>
												<span>След.</span>
											</a>
										</li>
										<!-- //Next -->
									</ul>
								</div>
								<!-- //Pagination -->

							</div>
							<!-- //Cars -->

						</div>

						
					</div>
					<!-- //Catalog -->

				</div>
				<!-- //page container -->


			</section>

			<!-- Section recommended -->
			<section class="sect__recommended gutter-bottom">
				<h2 class="w3c">&nbsp;</h2>

				<div class="page-container">
					<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
						<h3 class="sect-title">Рекомендованные автомобили</h3>

						<!-- Slider controls -->
						<div class="slider__navigation">
							<button class="btn__arrow js-recommended-slider-btn-prev" type="button">
								<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
									<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
								</svg>

							</button>

							<button class="btn__arrow js-recommended-slider-btn-next" type="button">
								<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
									<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
								</svg>


							</button>

						</div>
						<!-- //Slider controls -->
					</div>
					
					<!-- Slider -->
					<div class="stocks-slider">
						<div class="swiper-container js-recommended-slider">
							<div class="swiper-wrapper">
								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->

								<!-- Slide -->
								<div class="swiper-slide">
									<div class="stocks-slider__slide">
										{% include '../parts/components/car/car-card-labels.html' %}
									</div>
								</div>
								<!-- //Slide -->


							</div>
						</div>
					</div>
					<!-- //Slider -->

				</div>
				

			</section>
			<!-- //Section recommended -->
			
		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->

	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>