{% include '../parts/head.html' %}
<body>
	
	<!-- CONTENT WRAPPER -->
	<div class="content__wrapper">

		<!-- Popups -->
		{% include '../parts/components/popups/popup-callback.html' %}
		{% include '../parts/components/popups/popup-thanks.html' %}
		{% include '../parts/components/popups/popup-vacancy.html' %}
		{% include '../parts/components/popups/popup-vacancy-form.html' %}
		<!-- //Popups -->

		<!-- Header -->
		{% include '../parts/sections/header.html' %}
		<!-- //Header -->

		<!-- Main -->
		<main class="main">
			<!-- Page -->
			<section class="sect-page gutter-bottom">
				<h1 class="container page-title text-center">14 дней - гарантия обмена AltynCar</h1>
				<p class="container text-center page-description">В автосалонах AltynCar вы можете обменять купленный вами автомобиль в течении 14 дней с даты покупки.</p>

				<div class="container">
					<div class="contact-form__wrapper box-shadow">
						<h3 class="sect-title accent-color">14 дней - гарантия обмена AltynCar</h3>
						<p class="contact-form__text">Заполните данную форму и в ближайшее время с Вами свяжется наш менеджер, чтобы уточнить детали</p>

						<form class="contact-form">
							<div class="row align-horisontal-between row-inputs">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Город" class="form-group__input form-group__input--with-label" value="Выберите город" readonly>
											<span class="form-group__input--label_text">Город</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Город 1</li>
												<li>Город 2</li>
												<li>Город 3</li>
												<li>Город 4</li>
												<li>Город 5</li>
												<li>Город 6</li>
												<li>Город 7</li>
												<li>Город 8</li>
												<li>Город 9</li>
												<li>Город 10</li>
											</ul>
										</div>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>
								<!-- //Form group -->
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="text" name="Имя" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваше имя</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="email" name="Email" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваш E-mail</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-25">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label">
											<input type="tel" name="Phone" class="form-group__input form-group__input--with-label">
											<span class="form-group__input--label_text">Ваш телефон</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-100">
									<div class="form-group__input--wrapper">
										<label class="form-group__input--label form-group__textarea--label">
											<textarea name="Вопрос" class="form-group__input form-group__textarea form-group__input--with-label"></textarea>
											<span class="form-group__input--label_text">Вы можете задать любой вопрос по данной услуге</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

							</div>

							<div class="form-group__submit text-center">
								<p class="form-group__notice">Отправляя данную форму Вы подтверждаете, что ознакомлены и согласны с <a href="#">политикой конфиденциальности и правилами обработки персональных данных</a></p>

								<button class="btn" type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
							</div>
						</form>
					</div>
				</div>
				<!-- //container -->

				<!-- Section about-us -->
				<section class="sect__description gutters">
					<h2 class="w3c">&nbsp;</h2>

					<div class="page-container">
						<div class="row align-horisontal-end align-vertical-center description-block__row">

							<!-- Content -->
							<div class="description-block__content description-block__content--right">
								<div class="content light-text-color">
									<h2>Теперь передумать - можно!</h2>
									<h3>Теперь в автосалонах AltynCar вы можете воспользоваться новой услугой «14 дней - гарантия обмена AltynCar»</h3>
									<p>Если вы боитесь ошибиться с выбором - воспользуйтесь возможностью возврата автомобиля, в течение 14 дней со дня покупки. Наша компания готова обменять, купленный в нашем салоне автомобиль, на ту модель, которая устроит именно вас. Программа действует только на автомобили с пробегом, удовлетворяющие следующим условиям:</p>
									<ul>
										<li>со дня покупки автомобиля не должно пройти более 14 дней,</li>
										<li>пробег не должен превышать 1000 км. с момента приобретения авто в нашем салоне,</li>
										<li>а/м куплен не в кредит,</li>
										<li>техническое состояние автомобиля должно соответствовать техническому состоянию на момент покупки а/м.</li>
									</ul>
									<h6 style="color: #46C770"><strong>Стоимость услуги составляет 100 000 &#8376;</strong></h6>
								</div>

							</div>
							<!-- //Content -->

							<!-- Slider -->
							<div class="description-block__slider single-slider">
								<div class="swiper-container js-description-block-slider">
									<div class="swiper-wrapper">
										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->

										<!-- Slide -->
										<div class="swiper-slide">
											<div class="description-block__slider--slide bg b-radius box-shadow" style="background-image: url('img/backgrounds/promo-bg.jpg');">
												<img src="img/backgrounds/promo-bg.jpg" alt="Тайтл">
											</div>
										</div>
										<!-- //Slide -->
									</div>
								</div>

								<!-- Pagination -->
								<div class="slider__pagination js-description-block-slider-pagination"></div>
								<!-- //Pagination -->

								<!-- Navigation -->
								<div class="slider__navigation">
									<button class="btn__arrow btn__arrow--prev js-description-block-slider-btn-prev" type="button">
										{% include '../parts/components/interface/btn-arrow-left-svg.html' %}
									</button>

									<button class="btn__arrow btn__arrow--next js-description-block-slider-btn-next" type="button">
										{% include '../parts/components/interface/btn-arrow-right-svg.html' %}
									</button>
								</div>
								<!-- //Navigation -->
							</div>
							<!-- //Slider -->

						</div>
					</div>

					

				</section>
				<!-- //Section about-us -->

				<!-- Section information -->
				<section class="sect__information gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="page-advantages">
							<h3 class="sect-title">Если Вам не понравился приобретенный автомобиль</h3>

							<div class="row align-horisontal-start row-gutters cards__row">
								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/swap/1.svg');"></span>
										</div>
										<h3 class="card__title">Поменяем на любой другой!</h3>
										<div class="card__description"><p>Вы можете выбрать любой другой автомобиль, который вам понравится с любого нашего склада. Просто воспользуйтесь программой «14 дней - гарантия обмена AltynCar» в любом автосалоне AltynCar.</p></div>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/swap/2.svg');"></span>
										</div>
										<h3 class="card__title">14 дней и 1000 км.</h3>
										<div class="card__description"><p>У вас есть в запасе 14 дней и 1000 км пробега с момента приобретения автомобиля с пробегом в сети автосалонов AltynCar на то чтобы передумать!</p></div>
									</div>
								</div>
								<!-- //item -->

								<!-- item -->
								<div class="card__wrapper">
									<div class="card b-radius box-shadow">
										<div class="card__ic">
											<span class="card__ic--static" style="background-image: url('img/icons/svg/swap/3.svg');"></span>
										</div>
										<h3 class="card__title">Никаких других затрат, кроме стоимости услуги.</h3>
										<div class="card__description"><p>При обмене автомобиля по программе «14 дней - гарантия обмена AltynCar» - нет никаких скрытых платежей. Техническую диагностику принимаемого обратно автомобиля мы проведем быстро и бесплатно для вас.</p></div>
									</div>
								</div>
								<!-- //item -->
							</div>
						</div>

						<div class="swap-guide">
							<h3 class="sect-title">Как поменять автомобиль по программе «14 дней - гарантия обмена AltynCar</h3>

							<div class="row align-horisontal-start swap-guide__row row-gutters">
								<!-- Step -->
								<div class="swap-guide-step__wrapper col-w-33 col-gutters">
									<div class="swap-guide-step">
										<div class="swap-guide-step__img"><img src="img/swap/1.jpg" alt="Шаг 1. Обратиться в автосалон."></div>
										<div class="swap-guide-step__content">
											<span class="swap-guide-step__count accent-color">Шаг 1</span>
											<div class="content light-text-color">
												<h4>Обратиться в автосалон</h4>
												<p>Позвонить в любой автосалон AltynCar и сообщить менеджеру о желании воспользоваться услугой «14 дней - гарантия обмена AltynCar». Согласовать время вашего визита.</p>
											</div>
										</div>
									</div>
								</div>
								<!-- //Step -->

								<!-- Step -->
								<div class="swap-guide-step__wrapper col-w-33 col-gutters">
									<div class="swap-guide-step">
										<div class="swap-guide-step__img"><img src="img/swap/2.jpg" alt="Шаг 2. Выбрать новый автомобиль."></div>
										<div class="swap-guide-step__content">
											<span class="swap-guide-step__count accent-color">Шаг 2</span>
											<div class="content light-text-color">
												<h4>Выбрать новый автомобиль</h4>
												<p>Приехать в автосалон AltynCar, или зайти на сайт www.altyncar.kz и выбрать ваш новый автомобиль, взамен купленного ранее.</p>
											</div>
										</div>
									</div>
								</div>
								<!-- //Step -->

								<!-- Step -->
								<div class="swap-guide-step__wrapper col-w-33 col-gutters">
									<div class="swap-guide-step">
										<div class="swap-guide-step__img"><img src="img/swap/3.jpg" alt="Шаг 3. Оформить новую сделку."></div>
										<div class="swap-guide-step__content">
											<span class="swap-guide-step__count accent-color">Шаг 3</span>
											<div class="content light-text-color">
												<h4>Оформить новую сделку</h4>
												<ul>
													<li>Доплатить разницу в цене, или подписать документы на выплату в вашу пользу, если новый а/м, который вы выбрали, оказался дешевле.</li>
													<li>Оплатить стоимость услуги по программе «14 дней - гарантия обмена AltynCar» - 100 тысяч тенге.</li>
													<li>Подписать документы, которые заранее подготовил наш менеджер к вашему визиту.</li>
													<li>Передать нам ваш автомобиль с комплектом документов и принадлежностей.</li>
													<li>Принять ваш новый автомобиль с комплектом документов и принадлежностей.</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
								<!-- //Step -->
							</div>
						</div>
					</div>
					<!-- //container -->

				</section>
				<!-- //Section information -->

				<!-- Offer -->
				{% include '../parts/sections/section-offer.html' %}
				<!-- //Offer -->

				<!-- Section faq -->
				<section class="sect__faq gutters">
					<h2 class="sect-title container text-center">Вопрос-ответ</h2>

					<div class="container">
						<div class="faqs">
							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Что мне может помешать обменять свой автомобиль, который купил недавно?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">На какие автомобили не распространяется данная услуга?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p> Данная услуга не распространяется на транспортные средства, купленные в кредит.</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Будет ли приобретенный автомобиль проходить повторную диагностику при обмене?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Если я не смог подобрать подходящий автомобиль, могу ли я просто вернуть его и забрать деньги?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Если я решил поменять автомобиль и выбрал более дешевый вариант, будет ли произведен возврат разницы в цене?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

							<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">Я смогу поменять автомобиль если прошло больше 14 дней?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->

								<!-- Faq -->
							<div class="faq box-shadow">
								<div class="faq__question">
									<div class="row align-vertical-center align-horisontal-between">
										<h3 class="faq__question--title">При приобретении выдается документ о состоянии и комплектности транспортного средства?</h3>

										{% include '../parts/components/interface/arrow.html' %}
									</div>
								</div>

								<div class="faq__answer">
									<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Если заманивший рукопись всеми языкового дороге великий своих имеет ему!</p>
								</div>
							</div>
							<!-- //Faq -->
						</div>
					</div>
					<!-- //container -->
				</section>
				<!-- //Section faq -->

				<!-- Section stocks -->
				<section class="sect__stocks gutter-bottom">
					<h2 class="w3c">&nbsp;</h2>

					<div class="container">
						<div class="sect-title__row row align-horisontal-start align-vertical-center row-nowrap">
							<h3 class="sect-title">Акции и горячие предложения</h3>

							<!-- Slider controls -->
							<div class="slider__navigation slider__navigation--md">
								<button class="btn__arrow js-cars-slider-btn-prev" type="button">
									<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
										<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
									</svg>
								</button>

								<button class="btn__arrow js-cars-slider-btn-next" type="button">
									<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
										<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
									</svg>
								</button>

							</div>
							<!-- //Slider controls -->
						</div>

						<!-- Slider -->
						{% include '../parts/components/interface/cars-slider.html' %}
						<!-- //Slider -->

						<div class="permalink__wrapper text-center">
							<a href="page-catalog.html" class="btn">Все автомобили</a>
						</div>
					</div>


				</section>
				<!-- //Section stocks -->



			</section>
			<!-- //Page -->

			

		</main>
		<!-- //Main -->

		<!-- Footer -->
		{% include '../parts/sections/footer.html' %}
		<!-- //Footer -->


	</div>
	<!-- //CONTENT WRAPPER -->

	{% include '../parts/scripts.html' %}

</body>

</html>