<!-- Advanced filter popup-->
<div class="popup js-popup js-advanced-filter-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center box-shadow b-radius">

			<!-- Close popup btn -->
			{% include 'close-popup-btn.html' %}
			<!-- //Close popup btn -->

			<!-- Popup content-->
			<div class="popup__content">
				<h2 class="sect-title popup__title">Расширенный фильтр</h2>


				<form class="filter-form adv-filter-form">
					<div class="row align-horisontal-between adv-filter-form__row">

						<div class="adv-filter-form__col">

							<div class="adv-filter-form__block">

								<div class="adv-filter-form__inputs">

									<div class="row align-horisontal-start row-inputs">
										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Город" class="form-group__input form-group__input--with-label" value="Выберите город" readonly>
													<span class="form-group__input--label_text">Город</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Город 1</li>
														<li>Город 2</li>
														<li>Город 3</li>
														<li>Город 4</li>
														<li>Город 5</li>
														<li>Город 6</li>
														<li>Город 7</li>
														<li>Город 8</li>
														<li>Город 9</li>
														<li>Город 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Марка" class="form-group__input form-group__input--with-label" value="Все марки" readonly>
													<span class="form-group__input--label_text">Марка</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Марка 1</li>
														<li>Марка 2</li>
														<li>Марка 3</li>
														<li>Марка 4</li>
														<li>Марка 5</li>
														<li>Марка 6</li>
														<li>Марка 7</li>
														<li>Марка 8</li>
														<li>Марка 9</li>
														<li>Марка 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Модель" class="form-group__input form-group__input--with-label is-disabled" disabled value="Все модели" readonly>
													<span class="form-group__input--label_text">Модель</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Модель 1</li>
														<li>Модель 2</li>
														<li>Модель 3</li>
														<li>Модель 4</li>
														<li>Модель 5</li>
														<li>Модель 6</li>
														<li>Модель 7</li>
														<li>Модель 8</li>
														<li>Модель 9</li>
														<li>Модель 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Год выпуска, от" class="form-group__input form-group__input--with-label"  value="Все года" readonly>
													<span class="form-group__input--label_text">Год выпуска, от</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Год 1</li>
														<li>Год 2</li>
														<li>Год 3</li>
														<li>Год 4</li>
														<li>Год 5</li>
														<li>Год 6</li>
														<li>Год 7</li>
														<li>Год 8</li>
														<li>Год 9</li>
														<li>Год 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Год выпуска, до" class="form-group__input form-group__input--with-label" value="Все года" readonly>
													<span class="form-group__input--label_text">Год выпуска, до</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Год 1</li>
														<li>Год 2</li>
														<li>Год 3</li>
														<li>Год 4</li>
														<li>Год 5</li>
														<li>Год 6</li>
														<li>Год 7</li>
														<li>Год 8</li>
														<li>Год 9</li>
														<li>Год 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->
									</div>

									<div class="row align-horisontal-start row-inputs js-range-inputs-parent">
										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Цена, от" class="form-group__input form-group__input--price form-group__input--with-label js-range-input-val-min"  value="0" readonly>
													<span class="form-group__input--label_text">Цена, от</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Цена, до" class="form-group__input form-group__input--price form-group__input--with-label js-range-input-val-max"  value="100000" readonly>
													<span class="form-group__input--label_text">Цена, до</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

										<!-- Price range -->
										<div class="form-group__price-range--wrapper">
											<div class="form-group__price-range js-range-input"></div>
										</div>
										<!-- //Price range -->
									</div>

									<div class="row align-horisontal-start row-inputs row-checkboxes">
										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Авто со скидкой">
													<span class="form-group__checkbox">Авто со скидкой</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Новые поступления">
													<span class="form-group__checkbox">Новые поступления</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100 no-gutter-bottom">
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Авто с гарантией AltynCar Garant">
													<span class="form-group__checkbox">Авто с гарантией AltynCar Garant</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

									</div>
								</div>

								<div class="popup-link__wrapper text-center">
									<a href="page-trade-in.html" class="link t-t-uppercase">ОБМЕН TRADE-IN</a>
								</div>
							</div>
						</div>
						<!-- //col -->

						<div class="adv-filter-form__col">

							<div class="row align-horisontal-start row-inputs row-checkboxes no-gutter-top">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">
									<div class="form-group__input--wrapper">
										<label class="form-group__checkbox--label">
											<input type="checkbox" name="Покупка в кредит">
											<span class="form-group__checkbox">Покупка в кредит</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">
									<div class="form-group__input--wrapper">
										<label class="form-group__checkbox--label">
											<input type="checkbox" name="Без первоначального взноса">
											<span class="form-group__checkbox">Без первоначального взноса</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->
							</div>

							<div class="row align-horisontal-start row-inputs js-range-inputs-parent " style="margin:35px 0">
								<h3 class="form-group__title text-left">Превоначальный взнос</h3>
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Превоначальный взнос от" class="form-group__input form-group__input--price form-group__input--with-label js-range-input-val-min"  value="0" readonly>
											<span class="form-group__input--label_text">От</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50 no-gutter-bottom">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Превоначальный взнос до" class="form-group__input form-group__input--price form-group__input--with-label js-range-input-val-max"  value="0" readonly>
											<span class="form-group__input--label_text">До</span>
										</label>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Price range -->
								<div class="form-group__price-range--wrapper">
									<div class="form-group__price-range js-range-input"></div>
								</div>
								<!-- //Price range -->
							</div>

							<div class="row align-horisontal-start row-inputs">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Страна-производитель" class="form-group__input form-group__input--with-label" value="Любая" readonly>
											<span class="form-group__input--label_text">Все страны</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Страна 1</li>
												<li>Страна 2</li>
												<li>Страна 3</li>
												<li>Страна 4</li>
												<li>Страна 5</li>
												<li>Страна 6</li>
												<li>Страна 7</li>
												<li>Страна 8</li>
												<li>Страна 9</li>
												<li>Страна 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Состояние машины" class="form-group__input form-group__input--with-label" value="Любое" readonly>
											<span class="form-group__input--label_text">Состояние машины</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Состояние 1</li>
												<li>Состояние 2</li>
												<li>Состояние 3</li>
												<li>Состояние 4</li>
												<li>Состояние 5</li>
												<li>Состояние 6</li>
												<li>Состояние 7</li>
												<li>Состояние 8</li>
												<li>Состояние 9</li>
												<li>Состояние 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Тип кузова" class="form-group__input form-group__input--with-label" value="Все типы" readonly>
											<span class="form-group__input--label_text">Тип кузова</span>
										</label>

										<div class="form-group__input--dropdown">

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Седан">
													<span class="form-group__checkbox form-group__checkbox--sm">Седан</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Внедорожник">
													<span class="form-group__checkbox form-group__checkbox--sm">Внедорожник</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Хечбэк">
													<span class="form-group__checkbox form-group__checkbox--sm">Хечбэк</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Универсал">
													<span class="form-group__checkbox form-group__checkbox--sm">Универсал</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Кроссовер">
													<span class="form-group__checkbox form-group__checkbox--sm">Кроссовер</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Спорт">
													<span class="form-group__checkbox form-group__checkbox--sm">Спорт</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Купе">
													<span class="form-group__checkbox form-group__checkbox--sm">Купе</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Лимузин">
													<span class="form-group__checkbox form-group__checkbox--sm">Лимузин</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Фургон">
													<span class="form-group__checkbox form-group__checkbox--sm">Фургон</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Минивэн">
													<span class="form-group__checkbox form-group__checkbox--sm">Минивэн</span>
												</label>
											</div>
											<!-- //Checkbox -->
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Тип двигателя" class="form-group__input form-group__input--with-label" value="Любой" readonly>
											<span class="form-group__input--label_text">Тип двигателя</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Тип 1</li>
												<li>Тип 2</li>
												<li>Тип 3</li>
												<li>Тип 4</li>
												<li>Тип 5</li>
												<li>Тип 6</li>
												<li>Тип 7</li>
												<li>Тип 8</li>
												<li>Тип 9</li>
												<li>Тип 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="КПП" class="form-group__input form-group__input--with-label" value="Любая" readonly>
											<span class="form-group__input--label_text">КПП</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>КПП 1</li>
												<li>КПП 2</li>
												<li>КПП 3</li>
												<li>КПП 4</li>
												<li>КПП 5</li>
												<li>КПП 6</li>
												<li>КПП 7</li>
												<li>КПП 8</li>
												<li>КПП 9</li>
												<li>КПП 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Расположение руля" class="form-group__input form-group__input--with-label" value="Любое" readonly>
											<span class="form-group__input--label_text">Расположение руля</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Расположение 1</li>
												<li>Расположение 2</li>
												<li>Расположение 3</li>
												<li>Расположение 4</li>
												<li>Расположение 5</li>
												<li>Расположение 6</li>
												<li>Расположение 7</li>
												<li>Расположение 8</li>
												<li>Расположение 9</li>
												<li>Расположение 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->

								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Привод" class="form-group__input form-group__input--with-label" value="Любой" readonly>
											<span class="form-group__input--label_text">Привод</span>
										</label>

										<div class="form-group__input--dropdown">
											<ul>
												<li>Привод 1</li>
												<li>Привод 2</li>
												<li>Привод 3</li>
												<li>Привод 4</li>
												<li>Привод 5</li>
												<li>Привод 6</li>
												<li>Привод 7</li>
												<li>Привод 8</li>
												<li>Привод 9</li>
												<li>Привод 10</li>
											</ul>
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->


								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-50">

									<div class="form-group__input--wrapper">
										<label class="form-group__input--label is-active">
											<input type="text" name="Цвет" class="form-group__input form-group__input--with-label" value="Любой" readonly>
											<span class="form-group__input--label_text">Цвет</span>
										</label>

										<div class="form-group__input--dropdown">

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Черный">
													<span class="form-group__checkbox form-group__checkbox--sm">Черный</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Белый">
													<span class="form-group__checkbox form-group__checkbox--sm">Белый</span>
												</label>
											</div>
											<!-- //Checkbox -->

											<!-- Checkbox -->
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="Красный">
													<span class="form-group__checkbox form-group__checkbox--sm">Красный</span>
												</label>
											</div>
											<!-- //Checkbox -->
										</div>

										{% include '../interface/arrow.html' %}
									</div>

								</div>
								<!-- //Form group -->
							</div>
						</div>
						<!-- //col -->

						<div class="adv-filter-form__col">
							<div class="adv-filter-form__block">
								<div class="adv-filter-form__inputs">

									<div class="row align-horisontal-start row-inputs row-checkboxes no-gutter-top">
										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="В наличии">
													<span class="form-group__checkbox">В наличии</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-50">
											<div class="form-group__input--wrapper">
												<label class="form-group__checkbox--label">
													<input type="checkbox" name="На заказ">
													<span class="form-group__checkbox">На заказ</span>
												</label>
											</div>
										</div>
										<!-- //Form group -->

									</div>
									
									<div class="row align-horisontal-start row-inputs">
										

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Объем двигателя, от" class="form-group__input form-group__input--with-label" value="1 л" readonly>
													<span class="form-group__input--label_text">Объем двигателя, от</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Объем 1</li>
														<li>Объем 2</li>
														<li>Объем 3</li>
														<li>Объем 4</li>
														<li>Объем 5</li>
														<li>Объем 6</li>
														<li>Объем 7</li>
														<li>Объем 8</li>
														<li>Объем 9</li>
														<li>Объем 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Объем двигателя, до" class="form-group__input form-group__input--with-label" value="10 л" readonly>
													<span class="form-group__input--label_text">Объем двигателя, до</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Объем 1</li>
														<li>Объем 2</li>
														<li>Объем 3</li>
														<li>Объем 4</li>
														<li>Объем 5</li>
														<li>Объем 6</li>
														<li>Объем 7</li>
														<li>Объем 8</li>
														<li>Объем 9</li>
														<li>Объем 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100">

											<div class="form-group__input--wrapper">
												<label class="form-group__input--label is-active">
													<input type="text" name="Пробег, не более" class="form-group__input form-group__input--with-label" value="100 тыс. км" readonly>
													<span class="form-group__input--label_text">Пробег, не более</span>
												</label>

												<div class="form-group__input--dropdown">
													<ul>
														<li>Пробег 1</li>
														<li>Пробег 2</li>
														<li>Пробег 3</li>
														<li>Пробег 4</li>
														<li>Пробег 5</li>
														<li>Пробег 6</li>
														<li>Пробег 7</li>
														<li>Пробег 8</li>
														<li>Пробег 9</li>
														<li>Пробег 10</li>
													</ul>
												</div>

												{% include '../interface/arrow.html' %}
											</div>

										</div>
										<!-- //Form group -->

										<!-- Form group -->
										<div class="form-group__input--wrapper_col col-w-100 no-gutter-bottom">
											<div class="form-group__input--wrapper">
												<input type="search" name="search" placeholder="Что ищем?" class="form-group__input form-group__input--search">

												<span class="btn__search btn__search--absolute">
													<svg viewBox="0 0 19 20" xmlns="http://www.w3.org/2000/svg">
														<path d="M18.3163 18.0462C18.5946 18.3245 18.5946 18.7756 18.3163 19.0539C18.0381 19.3321 17.5869 19.3321 17.3087 19.0539L13.8887 15.6339C13.6104 15.3556 13.6104 14.9045 13.8887 14.6262C14.1669 14.348 14.6181 14.348 14.8963 14.6262L18.3163 18.0462ZM7.5525 15.8425C3.38137 15.8425 0 12.4612 0 8.29005C0 4.11892 3.38137 0.737549 7.5525 0.737549C11.7236 0.737549 15.105 4.11892 15.105 8.29005C15.105 12.4612 11.7236 15.8425 7.5525 15.8425ZM7.5525 14.4175C10.9366 14.4175 13.68 11.6742 13.68 8.29005C13.68 4.90592 10.9366 2.16255 7.5525 2.16255C4.16838 2.16255 1.425 4.90592 1.425 8.29005C1.425 11.6742 4.16838 14.4175 7.5525 14.4175ZM4.0375 7.72005C4.0375 7.98238 3.82484 8.19505 3.5625 8.19505C3.30016 8.19505 3.0875 7.98238 3.0875 7.72005C3.0875 5.5689 4.83135 3.82505 6.9825 3.82505C7.24483 3.82505 7.4575 4.03771 7.4575 4.30005C7.4575 4.56238 7.24483 4.77505 6.9825 4.77505C5.35602 4.77505 4.0375 6.09357 4.0375 7.72005Z" />
													</svg>

												</span>
											</div>
										</div>
										<!-- //Form group -->

										<div class="form-group__input--wrapper_col col-w-100">
											<div class="form-group__input--wrapper">
												<p class="form-group__input--search_notice text-left">Здесь пишут, что хотят. Даже номер телефона, если ищут своё объявление.</p>
											</div>
										</div>

									</div>

								</div>

								<div class="popup-link__wrapper text-center">
									<a href="#" class="link t-t-uppercase">ПОДОБРАТЬ ПЕРСОНАЛЬНО</a>
								</div>
							</div>
						</div>
						<!-- //col -->

					</div>

					<div class="form-group__submit text-center">
						<button class="btn" type="submit">ПОКАЗАТЬ <b>123 543</b> ОБЪЯВЛЕНИЙ</button>

						<button type="reset" class="btn__reset">СБРОСИТЬ ВСЕ</button>
					</div>
				</form>

			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Advanced filter popup -->