<!-- Thanks popup-->
<div class="popup js-popup js-thanks-popup">
	<div class="popup__overflow">
		<div class="popup__body popup__body--tall text-center box-shadow b-radius">

			<!-- Close popup btn -->
			{% include 'close-popup-btn.html' %}
			<!-- //Close popup btn -->

			<!-- Popup content-->
			<div class="popup__content flex-col-center">
				<h2 class="sect-title popup__title">Спасибо!</h2>

				<p class="thanks-text">Ваша заявка принята, в ближайшее время наш менеджер свяжется с Вами и уточнит детали.</p>

				<button class="btn js-close-popup-btn" type="button">ПРИНЯТЬ</button>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Thanks popup -->