<!-- Trade in popup-->
<div class="popup js-popup js-crediting-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center box-shadow b-radius">

			<!-- Close popup btn -->
			{% include 'close-popup-btn.html' %}
			<!-- //Close popup btn -->

			<!-- Popup content-->
			<div class="popup__content">
				<h2 class="sect-title sect-title__sm-gutter popup__title">Кредитование</h2>

				<a href="page-crediting.html" class="link">Читать подробнее о кредитовании</a>

				<div class="crediting-block">
					<div class="crediting-block__car">
						{% include '../car/car-card-mini.html' %}
					</div>

					<form class="crediting-form">

						<div class="crediting-form__calculation">
							<div class="row align-vertical-center align-horisontal-start row-inputs">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-33">
									<div class="form-group__input--wrapper">
										<input type="text" name="Кредитный срок" class="form-group__input form-group__input--accent form-group__input--credit_term js-credit-term-input">
										<span class="form-group__input--credit_label">Срок:</span>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Price range -->
								<div class="form-group__input--wrapper_col col-w-66">
									<div class="form-group__price-range--wrapper">
										<div class="form-group__price-range js-credit-term-range"></div>
									</div>
								</div>
								<!-- //Price range -->
							</div>

							<div class="row align-vertical-center align-horisontal-start row-inputs">
								<!-- Form group -->
								<div class="form-group__input--wrapper_col col-w-33">
									<div class="form-group__input--wrapper">
										<input type="text" name="Кредитный взнос" class="form-group__input form-group__input--accent form-group__input--credit_pay js-credit-pay-input">
										<span class="form-group__input--credit_label">Первый взнос, &#8376;:</span>
									</div>
								</div>
								<!-- //Form group -->

								<!-- Price range -->
								<div class="form-group__input--wrapper_col col-w-66">
									<div class="form-group__price-range--wrapper">
										<div class="form-group__price-range js-credit-pay-range tooltip-with-sign"></div>
									</div>
								</div>
								<!-- //Price range -->
							</div>
						</div>

						<div class="row align-horisontal-start row-inputs">
							<!-- Form group -->
							<div class="form-group__input--wrapper_col col-w-25">
								<div class="form-group__input--wrapper">
									<label class="form-group__input--label is-active">
										<input type="text" name="Город" class="form-group__input form-group__input--with-label" value="Выберите город" readonly>
										<span class="form-group__input--label_text">Город</span>
									</label>

									<div class="form-group__input--dropdown">
										<ul>
											<li>Город 1</li>
											<li>Город 2</li>
											<li>Город 3</li>
											<li>Город 4</li>
											<li>Город 5</li>
											<li>Город 6</li>
											<li>Город 7</li>
											<li>Город 8</li>
											<li>Город 9</li>
											<li>Город 10</li>
										</ul>
									</div>

									{% include '../interface/arrow.html' %}
								</div>
							</div>
							<!-- //Form group -->

							<!-- Form group -->
							<div class="form-group__input--wrapper_col col-w-25">
								<div class="form-group__input--wrapper">
									<label class="form-group__input--label">
										<input type="text" name="Имя" class="form-group__input form-group__input--with-label is-disabled" disabled>
										<span class="form-group__input--label_text">Ваше имя</span>
									</label>
								</div>
							</div>
							<!-- //Form group -->

							<!-- Form group -->
							<div class="form-group__input--wrapper_col col-w-25">
								<div class="form-group__input--wrapper">
									<label class="form-group__input--label">
										<input type="email" name="Email" class="form-group__input form-group__input--with-label is-disabled" disabled>
										<span class="form-group__input--label_text">Ваш E-mail</span>
									</label>
								</div>
							</div>
							<!-- //Form group -->

							<!-- Form group -->
							<div class="form-group__input--wrapper_col col-w-25">
								<div class="form-group__input--wrapper">
									<label class="form-group__input--label">
										<input type="tel" name="Phone" class="form-group__input form-group__input--with-label is-disabled" disabled>
										<span class="form-group__input--label_text">Ваш телефон</span>
									</label>
								</div>
							</div>
							<!-- //Form group -->

						</div>



						<p class="crediting-block__price text-center">Ежемесячный платеж составит: <span class="price">250 000</span></p>


						<div class="form-group__submit text-center">
							<p class="form-group__notice">Отправляя данную форму Вы подтверждаете, что ознакомлены и согласны с <a href="#">политикой конфиденциальности и правилами обработки персональных данных</a></p>

							<button class="btn" type="submit">ОТПРАВИТЬ ЗАЯВКУ</button>
						</div>
					</form>
				</div>
			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Trade in popup -->