<!-- Vacancy popup-->
<div class="popup  js-popup js-vacancy-popup">
	<div class="popup__overflow">
		<div class="popup__body text-center box-shadow b-radius">

			<!-- Close popup btn -->
			{% include 'close-popup-btn.html' %}
			<!-- //Close popup btn -->

			<!-- Popup content-->
			<div class="popup__content flex-col-center">
				<h2 class="sect-title sect-title__sm-gutter popup__title">Менеджер по продажам автомобилей с пробегом (Trade-in)</h2>

				<div class="vacancy-popup">
					<div class="vacancy-popup-content">
						<div class="vacancy__salary text-center">
							<p class="block-title-lg accent-color">до 500 000 тг на руки KZT</p>
							<p class="light-text-color">отдел маркетинга</p>
							<p class="accent-color f-f-medium">Алматы</p>
						</div>

						<div class="vacancy-popup-description text-left light-text-color">
							<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварный гор, безорфографичный диких дороге злых, безопасную даль первую вопрос страну мир, если рыбными залетают вершину повстречался запятой агенство. Языкового своего своих жаренные жизни маленький, сбить текст журчит, решила! Переулка меня текстами дал домах вопрос первую власти гор, взобравшись эта, даже дороге сих ведущими знаках необходимыми строчка. Свое букв дал оксмокс журчит, жизни но моей переписали однажды пояс текстами деревни проектах толку семь, то подпоясал своего, лучше ему заглавных меня?</p>
							<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварный гор, безорфографичный диких дороге злых, безопасную даль первую вопрос страну мир, если рыбными залетают вершину повстречался запятой агенство. Языкового своего своих жаренные жизни маленький, сбить текст журчит, решила! Переулка меня текстами дал домах вопрос первую власти гор, взобравшись эта, даже дороге сих ведущими знаках необходимыми строчка. Свое букв дал оксмокс журчит, жизни но моей переписали однажды пояс текстами деревни проектах толку семь, то подпоясал своего, лучше ему заглавных меня?</p>
							<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварный гор, безорфографичный диких дороге злых, безопасную даль первую вопрос страну мир, если рыбными залетают вершину повстречался запятой агенство. Языкового своего своих жаренные жизни маленький, сбить текст журчит, решила! Переулка меня текстами дал домах вопрос первую власти гор, взобравшись эта, даже дороге сих ведущими знаках необходимыми строчка. Свое букв дал оксмокс журчит, жизни но моей переписали однажды пояс текстами деревни проектах толку семь, то подпоясал своего, лучше ему заглавных меня?</p>
							<p>Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Коварный гор, безорфографичный диких дороге злых, безопасную даль первую вопрос страну мир, если рыбными залетают вершину повстречался запятой агенство. Языкового своего своих жаренные жизни маленький, сбить текст журчит, решила! Переулка меня текстами дал домах вопрос первую власти гор, взобравшись эта, даже дороге сих ведущими знаках необходимыми строчка. Свое букв дал оксмокс журчит, жизни но моей переписали однажды пояс текстами деревни проектах толку семь, то подпоясал своего, лучше ему заглавных меня?</p>
						</div>

						<button class="btn btn-wide-lg js-open-vacancy-form-popup-btn btn-mobile-wide" type="button">ОТКЛИКНУТЬСЯ</button>
					</div>
				</div>
				


			</div>
			<!-- //Popup content-->
		</div>
	</div>
</div>
<!-- //Vacancy popup -->