<nav class="nav">
	<ul class="nav__list">
		<li class="nav__item has-sublist">
			<a href="page-catalog.html" class="nav__link">Купить а/м</a>

			<!-- Sublist -->
			<ul class="nav-sublist">
				<li class="nav-sublist__item"><a href="page-catalog.html" class="nav-sublist__link">Каталог</a></li>
				<li class="nav-sublist__item"><a href="#" class="nav-sublist__link ">Акции и предложения</a></li>
				<li class="nav-sublist__item"><a href="#" class="nav-sublist__link">Новинки</a></li>
			</ul>
			<!-- //Sublist -->
		</li>
		<li class="nav__item has-sublist">
			<a href="page-sale-car.html" class="nav__link">Продать а/м</a>

			<!-- Sublist -->
			<ul class="nav-sublist">
				<li class="nav-sublist__item"><a href="page-record-for-car-assessment.html" class="nav-sublist__link">Запись на оценку</a></li>
				<li class="nav-sublist__item"><a href="page-buyout.html" class="nav-sublist__link ">Выкуп</a></li>
			</ul>
			<!-- //Sublist -->
		</li>
		<li class="nav__item has-sublist">
			<a href="page-services.html" class="nav__link">Услуги</a>

			<!-- Sublist -->
			<ul class="nav-sublist">
				<li class="nav-sublist__item"><a href="page-commission.html" class="nav-sublist__link">Комиссия</a></li>
				<li class="nav-sublist__item"><a href="page-trade-in.html" class="nav-sublist__link is-active">Обмен (Trade In)</a></li>
				<li class="nav-sublist__item"><a href="page-crediting.html" class="nav-sublist__link">Кредитование</a></li>
				<li class="nav-sublist__item"><a href="page-delivery-car.html" class="nav-sublist__link">Доставка А/М</a></li>
				<li class="nav-sublist__item"><a href="page-guarantee.html" class="nav-sublist__link">Гарантия AltynCar Garant</a></li>
				<li class="nav-sublist__item"><a href="page-swap.html" class="nav-sublist__link">14 дней гарантия на обмен</a></li>
			</ul>
			<!-- //Sublist -->
		</li>
		<li class="nav__item has-sublist">
			<a href="page-about.html" class="nav__link">О компании</a>

			<!-- Sublist -->
			<ul class="nav-sublist">
				<li class="nav-sublist__item"><a href="page-about.html" class="nav-sublist__link">О нас</a></li>
				<li class="nav-sublist__item"><a href="#" class="nav-sublist__link">Команда</a></li>
				<li class="nav-sublist__item"><a href="#" class="nav-sublist__link">Новости компании</a></li>
				<li class="nav-sublist__item"><a href="page-about.html" class="nav-sublist__link">Миссии и ценности</a></li>
				<li class="nav-sublist__item"><a href="page-vacancies.html" class="nav-sublist__link">Вакансии</a></li>
			</ul>
			<!-- //Sublist -->
		</li>
		<li class="nav__item">
			<a href="page-contacts.html" class="nav__link">Контакты</a>
		</li>
	</ul>
</nav>
