<div class="pagination">
	<ul class="pagination__list">
		<!-- Prev -->
		<li class="pagination__item">
			<a href="#" class="pagination__link pagination__link--arrow pagination__link--arrow_prev">
				<i class="pagination__link--arrow_ic">
					<svg  viewBox="0 0 11 24"  xmlns="http://www.w3.org/2000/svg">
						<path d="M2.0854 12L10.6885 1.7559C11.0258 1.35422 11.0258 0.702965 10.6885 0.301283C10.3511 -0.100399 9.8042 -0.100399 9.46687 0.301283L0.253001 11.2727C-0.0843343 11.6744 -0.0843342 12.3256 0.253001 12.7273L9.46687 23.6987C9.8042 24.1004 10.3511 24.1004 10.6885 23.6987C11.0258 23.2971 11.0258 22.6458 10.6885 22.2441L2.0854 12Z"/>
					</svg>

				</i>

				<span>Пред.</span>
			</a>
		</li>
		<!-- //Prev -->

		<li class="pagination__item"><a href="#" class="pagination__link">1</a></li>
		<li class="pagination__item"><span class="pagination__link">...</span></li>
		<li class="pagination__item"><a href="#" class="pagination__link">24,</a></li>
		<li class="pagination__item"><a href="#" class="pagination__link">25,</a></li>
		<li class="pagination__item"><span class="pagination__link is-active">26,</span></li>
		<li class="pagination__item"><a href="#" class="pagination__link">27,</a></li>
		<li class="pagination__item"><a href="#" class="pagination__link">28</a></li>
		<li class="pagination__item"><span class="pagination__link">...</span></li>
		<li class="pagination__item"><a href="#" class="pagination__link">86</a></li>

		<!-- Next -->
		<li class="pagination__item">
			<a href="#" class="pagination__link pagination__link--arrow pagination__link--arrow_next">
				<i class="pagination__link--arrow_ic">
					<svg  viewBox="0 0 11 24"  xmlns="http://www.w3.org/2000/svg">
						<path d="M8.85601 12L0.252943 1.7559C-0.0843925 1.35422 -0.0843924 0.702965 0.252943 0.301283C0.590278 -0.100399 1.1372 -0.100399 1.47454 0.301283L10.6884 11.2727C11.0257 11.6744 11.0257 12.3256 10.6884 12.7273L1.47454 23.6987C1.1372 24.1004 0.590277 24.1004 0.252942 23.6987C-0.0843935 23.2971 -0.0843934 22.6458 0.252942 22.2441L8.85601 12Z" />
					</svg>

				</i>
				<span>След.</span>
			</a>
		</li>
		<!-- //Next -->
	</ul>
</div>