input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)




.form
	&-group
		&__input
			display block
			background-color $light-color
			border 1px solid transparent
			border-radius 6px
			@extends .box-shadow
			font 14px $Reg
			color $alternate-text-color
			padding 15px
			&:focus,
			&:hover
				border-color $accent-color
				
			&:focus
				+ .arrow
					svg
						fill $accent-color
				
			&::-webkit-input-placeholder
				font 1em $Reg
				color $text-color
			&::-moz-placeholder
				font 1em $Reg
				color $text-color
			&:-moz-placeholder
				font 1em $Reg
				color $text-color
			&:-ms-input-placeholder
				font 1em $Reg
				color $text-color
				
			&.is-error
				border-color red
				
			&.is-disabled,
			&:disabled
				pointer-events none
				
				+ .arrow
					display none
				
			&--wrapper
				position relative
				.arrow
					position absolute
					vertical-center()
					right 15px
					pointer-events none
				
		&__select
			display block
			width 100%
			padding-right 45px
					
		&__inputs--row
			margin-left -7.5px
			margin-right -7.5px
			.form-group__input--wrapper
				flex 1
				max-width 350px
				padding 0 7.5px
	

	


.form-group__checkbox,
.form-group__radio
	position relative
	display inline-block
	margin-left 0
	padding-left 25px
	font 1em $Reg
	line-height 1
	color $text-color
	&:before,
	&:after
		pseudo()
		transition all .25s ease-in-out
		position absolute
		left 0
		vertical-center()
			
	&--label
		cursor pointer
		display inline-block
		input
			display none

.form-group__checkbox
	&:before
		border-radius 4px
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color transparent
	&:after
		width 12px
		height 12px
		background url('../img/icons/svg/checkbox-ic.svg') 50% 50% no-repeat
		background-size 12px 12px
		position absolute
		left 3px
		top 8px
		opacity 0
	&--label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1
			
.form-group__radio
	&:before
	&:after
		border-radius 50%
	&:before
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color $transparent
	&:after
		width 12px
		height 12px
		background-color $light-color
		left 3px
		top 8px
		opacity 0
		
	&--label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1


.search-form

	.form-group
		&__inputs--row
			margin-left -12.5px
			margin-right -12.5px
		&__input
			&--wrapper
				padding 0 12.5px
				.arrow
					right 27.5px
		
		