input[type="search"]
	appearance none
	-webkit-appearance none			

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration
	appearance none
	-webkit-appearance none
	backface-visibility hidden
	transform translate3d(0,0,0)




.form
	&-group
		&__submit
			display flex
			align-items center
			flex-direction column
			margin-top 40px
			.btn__reset
				margin-top 15px
		&__notice
			color $light-text-color
			margin-bottom 20px
			a
				color $alternate-text-color
				border-bottom 1px solid
				&:hover
					color $accent-color
		&__title
			color $alternate-text-color
			font 16px $Semibold
			line-height 19px
			margin-bottom 10px
			width 100%
		&__input
			display block
			width 100%
			background-color $basic-white-color
			border 1px solid transparent
			border-radius 6px
			@extends .box-shadow
			font 14px $Reg
			color $alternate-text-color
			padding 15px
			min-height 50px
			transition all .17s ease-in-out
			&:focus,
			&:hover
				border-color $accent-color
				
			&:focus
				+ .arrow
					svg
						fill $accent-color
				
			&::-webkit-input-placeholder
				font 1em $Reg
				color $text-color
			&::-moz-placeholder
				font 1em $Reg
				color $text-color
			&:-moz-placeholder
				font 1em $Reg
				color $text-color
			&:-ms-input-placeholder
				font 1em $Reg
				color $text-color
				
			&.is-error
				border-color red
				
			&.is-disabled,
			&:disabled
				color $light-text-color
				cursor not-allowed
				+ .arrow
					display none
					
				
					
				&::-webkit-input-placeholder
					color $grey-text-color
				&::-moz-placeholder
					color $grey-text-color
				&:-moz-placeholder
					color $grey-text-color
				&:-ms-input-placeholder
					color $grey-text-color
					
			&--text
				position absolute
				display inline-block
				font 14px $Reg
				color $alternate-text-color
				z-index 1
				bottom 11px
				left 15px
				pointer-events none
					
			&--accent
				font 14px $Bold
				color $accent-color
				
			&--wrapper
				position relative
				text-align left
				.arrow
					height 47px
					right 1px
					width 35px
					border-top-right-radius 6px
					border-bottom-right-radius 6px
					background-color $basic-white-color
					position absolute
					vertical-center()
					
					pointer-events none
					z-index 6
					svg
						width 10px
						height 7px
						position absolute
						position-center()
					
		
					
			&--search
				padding-left 45px
				&::-webkit-input-placeholder
					font 15px $Reg
					color $grey-text-color
				&::-moz-placeholder
					font 15px $Reg
					color $grey-text-color
				&:-moz-placeholder
					font 15px $Reg
					color $grey-text-color
				&:-ms-input-placeholder
					font 15px $Reg
					color $grey-text-color
					
				&_notice
					margin-top 15px
					color $light-text-color
					font-size 10px
					
			&--price
				padding-left 65px
				font-family $Semibold
				&_mark
					position absolute
					left 15px
					vertical-center()
					pointer-events none
					z-index 1
					font 12px $Reg
					color $alternate-text-color
				
				&_sm-gutter
					padding-left 30px
				
		&__select
			display block
			width 100%
			padding-right 25px
			&-capacity
				padding-left 110px
					
		&__inputs--row
			margin-left -7.5px
			margin-right -7.5px
			.form-group__input--wrapper
				flex 1
				max-width 350px
				padding 0 7.5px

// Textarea
.form-group__textarea
	min-height 175px

// Custom range
.form-group__price-range
	height 4px
	background-color #ECEBED
	border-radius 2px
	border none
	box-shadow none
	.noUi
		&-connect
			background-color $accent-color
		&-handle
			border 2px solid $basic-white-color
			border-radius 50%
			width 32px
			height 32px
			background-color $accent-color
			box-shadow none
			top -14px
			right -16px
			&:focus,
			&:hover
				outline none
			&:before,
			&:after
				display none
				
		&-tooltip
			border none
			font 14px $Bold
			padding 0
			color $accent-color
			margin-bottom 5px
	&--wrapper
		width 100%
		padding 0 20px
		margin-top 30px
		&.no-bottom-gutter
			margin-bottom 0 
			
.tooltip-with-sign
	.noUi-tooltip
		&:after
			content '\20B8'
			display inline-block
			margin-left 3px

.form-group__input
	&--credit
	
		&_term
			padding-left 55px
		&_pay
			padding-left 122px	
			
		&_label
			position absolute
			left 15px
			vertical-center()
			color $alternate-text-color
			display inline-block

// Float labels
.form-group
	&__input
		&--with-label
			padding 22px 15px 10px 15px
			cursor pointer
			// color transparent
		
		&--label
			display block
			position relative
			
			&_text
				display inline-block
				position absolute
				font-size 12px
				color $light-text-color
				left 15px
				vertical-center()
				transition all .17s ease-in-out

							
			&.is-active
				span
					margin-top -12px
					
		&--dropdown
			position absolute
			top 100%
			left 0
			width 100%
			background-color $basic-white-color
			max-height 250px
			overflow-y auto
			z-index 5
			box-shadow 0 4px 14px rgba(0,0,0,.08)
			br(0, 0, 10px, 10px)
			padding 30px 15px 40px
			transition all .17s ease-in-out
			margin-top 10px
			opacity 0
			visibility hidden
			
			ul
				display flex
				flex-direction column
				align-items flex-start
				li
					display inline-block
					margin-bottom 15px
					cursor pointer
					transition all .17s ease-in-out
					border-bottom 1px solid transparent
					&:last-child
						margin-bottom 0
					&:hover
						border-color $text-color
						
			.form-group__input--wrapper
				margin-bottom 20px !important
				&:last-child
					margin-bottom 0
						
		&--wrapper
			&.is-opened
				.form-group__input--dropdown
					opacity 1
					visibility visible
					margin-top 0
					
				.arrow
					transform translateY(-50%) rotate(-180deg) 
					
	&__textarea
		&--label
			.form-group__input--label_text
				transform none
				top 20px
				
textarea.form-group__input--with-label
	padding-top 25px
// Input file
.form-group__input-file
	display none
	&--label
		cursor pointer
		&:before
			pseudo()
			position absolute
			vertical-center()
			right 15px
			width 23px
			height 23px
			background url('../img/icons/svg/attach.svg') 50% 50% no-repeat / 23px 23px


// Checboxes/radios
.form-group__checkbox,
.form-group__radio
	position relative
	display inline-block
	margin-left 0
	padding-left 40px
	font 1em $Reg
	line-height 1
	color $basic-black-color
	&:before,
	&:after
		pseudo()
		transition all .17s ease-in-out
		position absolute
		left 0
		vertical-center()
			
	&--label
		cursor pointer
		display inline-block
		input
			display none

.form-group__checkbox
	&:before
		border-radius 4px
		width 30px
		height 30px
		border 1px solid #E5E5E5
		background-color $basic-white-color
		background-position 50% 50%
		background-repeat no-repeat
		background-size 18px 18px
		box-shadow 0px 7px 64px rgba(0, 0, 0, 0.07)
		border-radius 6px
	
	&--label
		input
			&:checked 
				+ span
					&:before
						border-color $accent-color
						background-image url('../img/icons/svg/checkbox-ic.svg')
						
	&--sm
		&:before
			width 24px
			height 24px
			background-size 14px 14px
			
.form-group__radio
	&:before
	&:after
		border-radius 50%
	&:before
		width 18px
		height 18px
		border 1px solid $accent-color
		background-color $transparent
	&:after
		width 12px
		height 12px
		background-color $light-color
		left 3px
		top 8px
		opacity 0
		
	&--label
		input
			&:checked 
				+ span
					&:before
						border-color $dark-color
						background-color $dark-color
					&:after
						opacity 1


.search-form

	.form-group__input--wrapper_col
		max-width 330px


	


.filter-form
	margin-top 45px
	
	.form-group__input--wrapper
		margin-bottom 15px
		

	
	.form-group__title
		padding-left 5px
		padding-right 5px

			
	&__btns
		margin-top 40px
		.btn
			margin-bottom 15px
			&:last-child
				margin-bottom 0
				

.trade-in-form
	margin-top 35px
	.block-title
		margin-bottom 20px
		
	.form-group__submit
		margin-top 25px
		
.contact-form__inputs
	margin 0 auto
	max-width 360px
	
	.form-group__input--wrapper
		margin-bottom 15px
		&:last-child
			margin-bottom 0


.row-inputs
	margin-left -5px
	margin-right -5px
	&:last-child
		margin-bottom 0
		
	.form-group
		&__input--wrapper
			&_col
				padding-left 5px
				padding-right 5px
				margin-bottom 15px
				display flex
				align-items center
				flex-wrap wrap
				.form-group__input--wrapper
					margin-bottom 0
					width 100%

		&__title
			padding-left 5px
			padding-right 5px
		
.row-checkboxes
	margin-top 45px
	
	.form-group__input--wrapper
		&_col
			margin-bottom 35px
			.form-group__input--wrapper
				margin-bottom 0
				

// Contact form
.contact-form
	.block-title
		margin-bottom 20px
	&__wrapper
		background-color $basic-white-color
		border-radius 6px
		padding 25px 90px 50px 90px
		
	.row-inputs
		margin-left -11px
		margin-right -11px
	.form-group
		&__input--wrapper_col
			margin-bottom 30px
			padding-left 11px
			padding-right 11px
		&__submit
			margin-top 0
	&__text
		margin-bottom 35px
		font-size 12px
		
	.link
		margin-top 15px
		display inline-block



		