// Links
.link-with-ic
	display inline-block
	position relative
	text-transform uppercase
	line-height 1
	font 14px $Semibold
	color $lighter-text-color
	padding-right 30px
	&__ic
		display block
		width 20px
		height 20px
		position absolute
		right 0
		vertical-center()
	
	svg
		svg()
		fill $lighter-text-color
		
	&:hover
		color $accent-color
		svg
			fill $accent-color
			
	&.is-active
		svg
			fill $accent-color
			
	&.tooltip__wrapper
		padding 0
		width 30px
		height 30px
		i
			position relative
			right auto
			transform none
			top auto
			width 100%
			height 100%
			
.phone-link
	display inline-block
	position relative
	font 12px $Semibold
	color $accent-color
	&:hover
		color $text-color
	&:before 
		content '|'
		
// Arrow
.arrow
	display inline-block
	width 10px
	height 7px
	svg
		svg()
		fill $alternate-text-color
	&:hover
		svg
			fill $accent-color
			

// Permalink
.permalink__wrapper
	margin-top 10px
	
.link
	font 12px $Semibold
	border-bottom 1px solid
	color $accent-color
	&:hover
		color $text-color
	
// Tooltip
.tooltip
	display inline-block
	position absolute
	vertical-center()
	right 100%
	transition all .17s ease-in-out
	margin-right -5px
	opacity 0
	visibility hidden
	background-color $accent-color
	white-space nowrap
	text-align center
	color #FBFBFB
	font 12px $Med
	line-height 16px
	padding 7px 12px
	border-radius 8px
	z-index 1
	text-transform none
	pointer-events none
	&:after
		pseudo()
		left 100%
		width 0
		height 0
		position absolute
		border-style solid
		border-width 7.5px 0 7.5px 5px
		border-color transparent transparent transparent $accent-color
		margin-left -1px
		vertical-center()
	&__wrapper
		position relative
		&:hover
			.tooltip
				opacity 1
				visibility visible
				margin-right 6px
				

// Contacts


.location
	position relative
	display inline-block
	padding-left 36px
	font 12px $Med
	color $accent-color
	&:before
		pseudo()
		position absolute
		vertical-center()
		left 0
		width 17px
		height 22px
		background url('../img/icons/svg/contacts/location-ic.svg') 50% 50% no-repeat / 17px 22px
		


.scroll-down-link
	position absolute
	horisontal-center()
	bottom -60px
	width 120px
	height 120px
	border 1px solid #d5d5d5
	box-shadow 0px 12px 11px rgba($basic-black-color, 0.05)
	border-radius 50%
	&:before
		pseudo()
		width 90px
		height 90px
		position absolute
		position-center()
		background-color $basic-white-color
		border-radius 50%
		box-shadow 0px 12px 11px rgba($basic-black-color, 0.05)
		transition box-shadow .17s ease-in-out
	.arrow
		width 18px
		height 11px
		position absolute
		position-center()
		
		svg
			fill $accent-color
			
	&:hover
		&:before
			box-shadow none
			svg
				fill $text-color
				

.fancybox-navigation 
	.fancybox-button--arrow
		&_left
			left 20px
		&_right
			right 20px
			

	button
		width 31px
		height 69px
		padding 0
		&:before
			display none
		&:hover
			color $accent-color
			
	svg
		path 
			stroke transparent
			stroke-width 0
			
.fancybox-button
	opacity 1
	

.users-count
	position absolute
	left -20px
	top 65px
	background-color $users-count-bg
	box-shadow 4px -2px 14px rgba($basic-black-color, 0.1)
	br(0, 25px, 0, 0)
	padding 20px 35px 20px 45px
	text-align center
	color $basic-black-color
	font 14px $Light
	b, strong, span
		display inline-block
		color $accent-color
		margin-left 16px
		font-family $Semibold
		
	
	
		