// Links
.link-with-ic
	display inline-block
	position relative
	text-transform uppercase
	line-height 1
	font 14px $Semibold
	color $lighter-text-color
	padding-right 30px
	&__ic
		display block
		width 20px
		height 20px
		position absolute
		right 0
		vertical-center()
	
	svg
		svg()
		fill $lighter-text-color
		
	&:hover
		color $accent-color
		svg
			fill $accent-color
			
	&.tooltip__wrapper
		padding 0
		width 30px
		height 30px
		i
			position relative
			right auto
			transform none
			top auto
			width 100%
			height 100%
			
.phone-link
	display inline-block
	position relative
	font 12px $Semibold
	color $accent-color
	&:hover
		color $text-color
	&:before 
		content '|'
		
// Arrow
.arrow
	display inline-block
	width 10px
	height 7px
	svg
		svg()
		fill $alternate-text-color
	&:hover
		svg
			fill $accent-color
			

// Permalink
.permalink__wrapper
	margin-top 10px
	
// Tooltip
.tooltip
	display inline-block
	position absolute
	vertical-center()
	right 100%
	transition all .17s ease-in-out
	margin-right -5px
	opacity 0
	visibility hidden
	background-color $accent-color
	white-space nowrap
	text-align center
	color #FBFBFB
	font 12px $Med
	line-height 16px
	padding 7px 12px
	border-radius 8px
	z-index 1
	text-transform none
	&:after
		pseudo()
		left 100%
		width 0
		height 0
		position absolute
		border-style solid
		border-width 7.5px 0 7.5px 5px
		border-color transparent transparent transparent $accent-color
		margin-left -1px
		vertical-center()
	&__wrapper
		position relative
		&:hover
			.tooltip
				opacity 1
				visibility visible
				margin-right 6px
				

// Contacts
.contact__item
	position relative
	padding-left 35px
	font 14px $Semibold
	color $dark-text-color
	line-height 1
	margin-bottom 25px
	&:last-child
		margin-bottom 0
	a
		color inherit
		&:hover
			color $accent-color
	&:before
		pseudo()
		position absolute
		left 0
		vertical-center()
		width 23px
		height 23px
		background-position 50% 50%
		background-size 23px 23px
		background-repeat no-repeat
		
	&--address
		&:before
			background-image url('../img/icons/svg/contacts/location-ic.svg')
	&--phone
		&:before
			background-image url('../img/icons/svg/contacts/phone-ic.svg')
	&--email
		&:before
			background-image url('../img/icons/svg/contacts/email-ic.svg')
	&--worktime
		&:before
			background-image url('../img/icons/svg/contacts/clock-ic.svg')
	&--instagram
		&:before
			background-image url('../img/icons/svg/contacts/instagram-ic.svg')
	