.slider
	&__loader
		position absolute
		fullSize()
		z-index 10
		background-color $light-color
		transition all .15s ease-in-out
		&:before
			pseudo()
			width 30px
			height 30px
			position absolute
			position-center()
			background url('../img/slider-loader.gif') 50% 50% no-repeat / 30px 30px
			
		&.is-loaded
			opacity 0
			visibility hidden
			pointer-events none
	
	&__pagination
		text-align center
		.swiper-pagination-bullet
			opacity 1
			width 8px
			height 8px
			background-color $pagination-color
			transition background-color .17s ease-in-out
			margin-right 16px
			&:last-child
				margin-right 0
			&:hover
				background-color $accent-color
			&:focus
				outline none
			&-active
				background-color $accent-color
				
	&__navigation
		font-size 0
		.btn__arrow
			margin-right 40px
			&:last-child
				margin-right 0
				
		&--md
			.btn__arrow
				width 16px
				height 36px
		
.swiper-container
	*
		box-sizing border-box
// Promo slider
.promo
	&-slider
		position relative
		.slider__pagination
			position absolute
			horisontal-center()
			z-index 1
			bottom 95px
			
		.swiper-slide
			padding-bottom 50px
	&-slide
		height 580px
		display flex
		align-items center
		padding 100px 0
		box-shadow 0px 15px 35px rgba(0, 0, 0, 0.07)
		br(0,0,6px,6px)
		.page-title
			margin-bottom 40px
		&__text
			font-size 16px
			margin-bottom 40px
			b, span, strong
				color $accent-color
				font-family $Heavy
				
		&__btns
			.btn
				margin-right 20px
				&:last-child
					margin-right 0
					
// Car card
.single-slider
	position relative
	.slider
		&__pagination
			position absolute
			horisontal-center()
			bottom 15px
			z-index 4
			
			.swiper-pagination-bullet
				box-shadow 0px 4px 4px rgba($basic-black-color, 0.07)
				&-active
					box-shadow none
		
		&__navigation
			position absolute	
			vertical-center()
			z-index 4
			width 100%
			display flex
			align-items center
			justify-content space-between
			padding-left 20px
			padding-right 20px
			
	.btn__arrow
		svg
			fill $basic-white-color
			
		&:hover
			svg
				fill $accent-color
			
	
	
.car-card
	&__slider
		background-color $basic-white-color
		position relative
		min-width 0
		&:before
			pseudo()
			position absolute
			fullSize()
			box-shadow inset 0px 0px 14px rgba($basic-black-color, 0.08)
			z-index 3
		
		.swiper-wrapper
			position relative
		&--slide
			position relative
			height 340px
			width 100%
		
			img
				display block
				width 100%
				height 100%
				object-fit cover
				
		.btn__arrow
			width 20px
			height 57px	
				
				
		
				
		

.stocks-slider
	&__slide	
		padding 0 15px 50px 15px
		
// About us
.description-block
	&__slider
		width 50%
		&--slide
			position relative
			padding-top 65%
			img
				@extends .visually-hidden
				
// car
.car-main-slider
	&__wrapper
		margin-top 50px
	
		.swiper-wrapper
			align-items center
		.swiper-slide
			width 715px
			height auto
			padding 12.5px
			padding-bottom 30px
			&-active
				.car-main-slider__slide
					padding-top 0
					padding-bottom 0
					
		.btn__arrow
			position absolute
			vertical-center()
			width 60px
			height 97px
			z-index 2
			&--prev
				left 30px
			&--next
				right 30px
		
	&__slide
		padding 6px 0
		width 100%
		height 532px
		transition padding .17s ease-in-out
		&--thumbnail
			display block
			width 100%
			height 100%
			overflow hidden
			bg(50%, 50%)
			box-shadow 0 7px 15px rgba($basic-black-color,.07)
			img
				@extends .visually-hidden
				
			&:hover
				box-shadow 0px 7px 14px rgba(0, 0, 0, 0.3)
				
// Partners
.partner
	border 1px solid #ECECEC
	border-radius 6px
	background-color #fff
	position relative
	padding-top 100%
	img
		display block
		position absolute
		position-center()
		max-width 90%
		max-height 90%