.user-city
	display inline-block
	position relative
	padding-right 16px
	cursor pointer
	
	.arrow
		position absolute
		vertical-center()
		right 0
		svg
			fill $accent-color
	&__name
		text-transform uppercase
		color $accent-color
		font-family $Med
		transition color .17s ease-in-out
	&__block
		display flex
		align-items center
		justify-content flex-start
		position relative
		&:hover
			.user-city__dropdown--wrapper
				margin-top 0
				opacity 1
				visibility visible
				
			.user-city__name
				color $text-color
		
			.arrow
				svg
					fill $text-color
	&__label
		text-transform uppercase
		font 14px $Med
		color $light-text-color
		display inline-block
		margin-right 7px
		

	&__dropdown
		border-radius 5px
		box-shadow 0px 4px 5px rgba($basic-black-color, 0.05)
		background-color $basic-white-color
		padding 40px 12px 25px 12px
		
		&--text
			font 12px $Heavy
			margin-bottom 15px
			color $alternate-text-color
			

		&--wrapper
			position absolute
			horisontal-center()
			top 100%
			z-index 15
			width 300px
			transition all .17s ease-in-out
			margin-top 15px
			opacity 0
			visibility hidden
			
			
		&--form
			margin-bottom 40px
			
		&--list
			text-align center
			li
				margin-bottom 20px
				color $basic-black-color
				font-size 14px
				transition color .17s ease-in-out
				
				a
					color inherit
				&:hover
					cursor pointer
					color $accent-color
					a
						color $accent-color
				&:last-child
					margin-bottom 0
			&_wrapper
				max-height 200px
				overflow-y auto
				padding-right 20px
			
		.form-group__input--search
			padding-top 11px
			padding-bottom 11px
			






	&__popup
		position fixed
		top 0
		right 0
		z-index 30
		position fixed


		&--overflow
			position relative
			top auto
			left auto
			background transparent
			padding 0
			&:before
				display none
				
			.logo
				position absolute
				top 25px
				right 120px
				display none
				
			.btn__close
				position absolute
				top 35px
				right 25px
				display none
				svg
					fill $accent-color
	
		&--body
			background-color $basic-white-color
			br(0,0,6px,6px)
			box-shadow 0px 0 4px rgba($basic-black-color, 0.08)
			text-align center
			padding 45px 35px 30px 35px
		
		&--text
			font 18px $Heavy
			margin-bottom 30px
			b, strong, span
				color $accent-color
				
		&--btns
			.btn
				width auto
				padding-left 25px
				padding-right 25px
				min-width 110px
				margin-right 4px
				&:last-child
					margin-right 0