<footer class="footer">

	<div class="footer__content">
		<div class="container">
			<div class="footer__logo">
				<!-- Logo -->
				<a href="index.html" class="logo" title="Altyn Car">
					<img src="img/logo.svg" alt="Altyn Car logo">
				</a>
				<!-- //Logo -->
			</div>

			<div class="row footer__row align-vertical-start align-horisontal-between">

				<div class="footer-contacts">
					<div class="footer-contacts__city">
						<div class="user-city">
							выбор города
						</div>
					</div>
					<div class="contacts">
						<p class="contact__item contact__item--phone"><a href="tel:+85552567524" rel="nofollow">8 (555) 256-75-24 </a></p>
						<p class="contact__item contact__item--email"><a href="mailto:aaaaltyncar@gmail.com" rel="nofollow">aaaaltyncar@gmail.com</a></p>
						<p class="contact__item contact__item--worktime">ПН-ВС 09:00 - 20:00</p>
						<p class="contact__item contact__item--instagram"><a href="#" rel="nofollow">@dadadadssss</a></p>
					</div>

					<div class="footer-contacts__btns">
						<button class="btn btn-wide js-open-callback-popup-btn" type="button">СВЯЗАТЬСЯ С НАМИ</button>
						<a href="#" class="btn btn-wide btn-light">ВСЕ САЛОНЫ</a>
					</div>
				</div>

				<div class="footer-menus">
					<div class="row align-vertical-start align-horisontal-between footer-menus__row">
						<div class="footer-menus__col">
							<h3 class="list-title"><a href="page-buy-car.html">Купить а/м</a></h3>
							<nav class="footer-menu">
								<ul>
									<li><a href="page-catalog.html">Каталог</a></li>
									<li><a href="page-stocks.html">Акции и предложения</a></li>
									<li><a href="page-new-items.html">Новинки</a></li>
								</ul>
							</nav>
						</div>
						<!-- //col -->

						<div class="footer-menus__col">
							<h3 class="list-title"><a href="page-sale-car.html">Продать а/м</a></h3>
							<nav class="footer-menu">
								<ul>
									<li><a href="#">Запись на оценку</a></li>
									<li><a href="#">Выкуп</a></li>
									<li><a href="#">Продажа по вашей цене</a></li>
								</ul>
							</nav>
						</div>
						<!-- //col -->

						<div class="footer-menus__col">
							<h3 class="list-title"><a href="page-services.html">Услуги</a></h3>
							<nav class="footer-menu">
								<ul>
									<li><a href="page-trade-in.html">Обмен (Trade In)</a></li>
									<li><a href="page-crediting.html">Кредитование</a></li>
									<li><a href="page-delivery-car.html">Доставка а/м</a></li>
									<li><a href="page-guarantee.html">Гарантия AltynCar Garant</a></li>
									<li><a href="page-swap.html">14 дней гарантия на обмен</a></li>
								</ul>
							</nav>
						</div>
						<!-- //col -->

						<div class="footer-menus__col">
							<h3 class="list-title"><a href="page-about.html">О компании</a></h3>
							<nav class="footer-menu">
								<ul>
									<li><a href="page-about.html">О нас</a></li>
									<li><a href="page-team.html">Команда</a></li>
									<li><a href="page-blog.html">Новости компании</a></li>
									<li><a href="page-missions.html">Миссия и ценности</a></li>
									<li><a href="page-vacancies.html">Вакансии</a></li>
								</ul>
							</nav>
						</div>
						<!-- //col -->

						<div class="footer-menus__col">
							<h3 class="list-title"><a href="page-contacts.html">Контакты</a></h3>
						</div>
						<!-- //col -->

					</div>

					<div class="row align-vertical-center align-horisontal-start footer-menus__row">
						<div class="footer-menus__col">
							<div class="official-partner">
								<p>официальный партнер</p>
								<a href="www.renault.ural-krov-auto.kz" target="_blank">www.renault.ural-krov-auto.kz</a>
							</div>
						</div>
						<!-- //col -->

						<div class="footer-menus__col"></div>
						<!-- //col -->

						<div class="footer-menus__col">
							<div class="official-partner">
								<p>официальный партнер</p>
								<a href="www.ural-krov auto.kz" target="_blank">www.ural-krov auto.kz</a>
							</div>
						</div>

						<!-- //col -->
					</div>
				</div>
			</div>
		</div>
		<!-- //container -->
	</div>
	
	<div class="copyright text-center basic-white-color">
		<p>2020 "AltynCar" - продажа подержанных автомобилей в Казахстане. Все права защищены. Не является публичной офертой. Copyright &copy; 2020</p>
	</div>
</footer>
