<section class="sect__offer gutters">
	<h2 class="w3c">&nbsp;</h2>
	
	<div class="container">
		<div class="offer">
			<div class="offer__content">
				<h3 class="page-title">Нужно продать свое авто?<br>Мы поможем!</h3>
				<p>Мы купим ваш автомобиль или обменяем его на новый.<br>Получите бесплатную оценку Вашего автомобиля</p>
				<a href="page-car.html" class="btn">УЗНАТЬ ПОДРОБНЕЕ</a>
			</div>

			<div class="offer__img">
				<img src="img/car-offer.png" alt="Название акционного автомобиля">
			</div>

		</div>
	</div>
	<!-- //container -->

</section>