<div class="car-card__wrapper">
	<div class="car-card ">

		<div class="car-card__body box-shadow">

			<!-- Tools -->
			<div class="card-card__tools">

			</div>
			<!-- //Tools -->

			<!-- Car photos slider -->
			<div class="car-card__slider">
				<div class="swiper-container js-car-card-slider">
					<div class="swiper-wrapper">
						<!-- Slide -->
						<div class="swiper-slide">
							<div class="car-card__slider--slide"><img src="img/cars/car-1.png" alt="Нет изображения"></div>
						</div>
						<!-- //Slide -->

						<!-- Slide -->
						<div class="swiper-slide">
							<div class="car-card__slider--slide"><img src="img/cars/empty.png" alt="Нет изображения"></div>
						</div>
						<!-- //Slide -->

						<!-- Slide -->
						<div class="swiper-slide">
							<div class="car-card__slider--slide"><img src="img/cars/car-2.png" alt="Название авто"></div>
						</div>
						<!-- //Slide -->
					</div>
				</div>

				<!-- Pagination -->
				<div class="slider__pagination js-car-card-slider-pagination"></div>
				<!-- //Pagination -->

				<!-- Navigation -->
				<div class="slider__navigation">
					<button class="btn__arrow js-car-card-slider-btn-prev" type="button">
						<svg  viewBox="0 0 17 37" xmlns="http://www.w3.org/2000/svg">
							<path d="M3.12865 18.0032L16.0355 33.372C16.5416 33.9747 16.5416 34.9517 16.0355 35.5543C15.5294 36.157 14.7089 36.157 14.2028 35.5543L0.379569 19.0943C-0.126523 18.4917 -0.126523 17.5146 0.379569 16.912L14.2028 0.451972C14.7089 -0.150657 15.5294 -0.150657 16.0355 0.451972C16.5416 1.0546 16.5416 2.03166 16.0355 2.63428L3.12865 18.0032Z"/>
						</svg>

					</button>

					<button class="btn__arrow js-car-card-slider-btn-next" type="button">
						<svg viewBox="0 0 17 37"  xmlns="http://www.w3.org/2000/svg">
							<path d="M13.8714 18.0036L0.964474 2.63468C0.458382 2.03205 0.458382 1.05499 0.964474 0.452364C1.47057 -0.150267 2.2911 -0.150267 2.79719 0.452364L16.6204 16.9124C17.1265 17.515 17.1265 18.4921 16.6204 19.0947L2.79719 35.5547C2.2911 36.1574 1.47056 36.1574 0.964472 35.5547C0.45838 34.9521 0.45838 33.9751 0.964472 33.3724L13.8714 18.0036Z" />
						</svg>


					</button>
				</div>
				<!-- //Navigation -->
			</div>
			<!-- //Car photos slider -->

			<div class="car-card__information">
				<h4 class="car-card__title"><a href="page-car.html">Hyundai Creta</a></h4>
				<p class="price car-card__price">979 000</p>
				<p class="car-card__description">3.5 AT (273 л.с.) 4WD, 156852 км, Бензин, Полный привод, Fresh Минеральные Водыasdasd</p>
			</div>
		</div>
	</div>
</div>