// ========== ========== G L O B A L   S T Y L E S ========== ==========
html
	text-size-adjust none
	box-sizing border-box
	&.is-fixed
		overflow hidden
	
*
	padding 0
	margin 0
	box-sizing inherit
	&:after,
	&:before
		box-sizing inherit


body
	font 14px $Reg
	line-height 1.45
	overflow-x hidden
	min-width 320px
	height 100%
	opacity 1
	position relative
	color $text-color
	background-color $body-bg

h1,h2,h3,h4,h5,h6,ul,li
	margin 0
	padding 0

input,
textarea
	outline none
	background transparent
	border none
	box-shadow none
	transition all .17s ease-in-out
	&:focus
		outline none
		
textarea
	resize vertical
	width 100%
	
select
	appearance none
	-webkit-appearance none
	-moz-appearance none
	transition all .17s ease-in-out
	cursor pointer
	&:focus
		outline none

a
	text-decoration none
	outline none
	transition all .17s ease-in-out
	&:hover
		text-decoration none
		
button
	box-shadow none
	border none
	outline none
	cursor pointer
	transition all .17s ease-in-out
	background transparent
	&:focus
		outline none

img
	max-width 100%
	height auto
	

// ========== ========== ========== ========== ========== ==========

// ========== ========== M A I N   S T Y L E S ========== ==========

.disable-hover,
.disable-hover * 
	pointer-events none !important



.gutters
	padding $gutters
	
.gutter
	&-top
		padding-top $gutter-top
	&-bottom
		padding-bottom $gutter-bottom
		
.no-gutter-top
	margin-top 0 !important

.no-gutter-bottom
	margin-bottom 0 !important
	
.w3c
	visibility hidden
	display none
	
.content__wrapper
	overflow hidden
	width 100%
	height 100%
	
.sect
	&-title
		font 24px $Bold
		color $alternate-text-color
		line-height 29px
		margin-bottom 25px
		&__with-text
			margin-bottom 15px
		&__row
			margin-bottom 50px
			.sect-title
				margin-bottom 0
			
			.slider__navigation
				margin-left 150px
				
		&__sm-gutter
			margin-bottom 15px
			
				
		&-lg
			font 30px $Bold
			color $alternate-text-color
			line-height 29px
			margin-bottom 25px
	&-text
		font-size 14px
		color $light-text-color
		margin-bottom 65px

		
.page
	&-title
		font 52px $Heavy
		color $alternate-text-color
		line-height 100%
	&-description
		margin-bottom 70px
		max-width 700px
		
	&-block-gutter-sm
		padding-bottom 65px
	
.block-title
	font 18px $Semibold
	color $alternate-text-color
	line-height 21px
	&-lg
		font 21px $Bold
		line-height 25px
		color $text-color
		margin-bottom 20px
	
.sect-page
	padding-top 45px
	.page-title
		margin-bottom 30px
	
.text-center
	text-align center
	
.text-left
	text-align left
	
.text-right
	text-align right
	
.basic-white-color
	color $basic-white-color

.basic-black-color
	color $basic-black-color
	
.accent-color
	color $accent-color

.light-text-color
	color $light-text-color
	
.secondary-color
	color $secondary-color
	
.f-f-medium
	font-family $Med
	
.content-img
	display block
	margin 0 auto
	max-width 100%
	max-height 100%
	width auto
	height auto
	
.bg
	bg(50%, 50%)
	
.bg-with-overlay
	position relative
	bg(50%, 50%)
	&:before
		pseudo()
		position absolute
		fullSize()
		background-color rgba($bg-overlay-color, $bg-overlay-opacity)
	.container
		position relative
		z-index 2
		
.dark-bg
	background-color $dark-bg
	
.visually-hidden
	position absolute
	clip rect(0 0 0 0)
	width 1px
	height 1px
	margin -1px
	z-index -999
	opacity 0
	visibility hidden

.box-shadow
	box-shadow 0px 7px 64px rgba($basic-black-color, 0.07)
	
.b-radius
	border-radius 10px


// .main
// 	padding-top 87px
	
.list-title
	color $accent-color
	font 18px $Bold
	margin-bottom 30px
	a
		color inherit
		border-bottom 1.5px solid
		&:hover
			color $text-color
			border-color $text-color
			
.content
	font-size 14px
	p
		margin-bottom 15px
		&:last-child
			margin-bottom 0

// ========== ========== ========== ========== ========== ==========