//=======================================================================================================
// @font-face
// Usage: webfont('Crimson-Text-Roman', 'crimson-text', 'crimsontext-roman-webfont', true, normal, normal)
//=======================================================================================================

// Light
webfont('SFProDisplay-Black', 'SfPro', 'SFProDisplay-Black', true, normal, normal)
webfont('SFProDisplay-Bold', 'SfPro', 'SFProDisplay-Bold', true, normal, normal)
webfont('SFProDisplay-Heavy', 'SfPro', 'SFProDisplay-Heavy', true, normal, normal)
webfont('SFProDisplay-Semibold', 'SfPro', 'SFProDisplay-Semibold', true, normal, normal)
webfont('SFProDisplay-Medium', 'SfPro', 'SFProDisplay-Medium', true, normal, normal)
webfont('SFProDisplay-Regular', 'SfPro', 'SFProDisplay-Regular', true, normal, normal)
webfont('SFProDisplay-RegularItalic', 'SfPro', 'SFProDisplay-RegularItalic', true, normal, normal)
webfont('SFProDisplay-Light', 'SfPro', 'SFProDisplay-Light', true, normal, normal)
webfont('SFProDisplay-Thin', 'SfPro', 'SFProDisplay-Thin', true, normal, normal)

