//  Fonts 
$Italic = 'SFProDisplay-RegularItalic', Arial, sans-serif
$Light = 'SFProDisplay-Light', Arial, sans-serif
$Thin = 'SFProDisplay-Thin', Arial, sans-serif
$Reg = 'SFProDisplay-Regular', Arial, sans-serif
$Med = 'SFProDisplay-Medium', Arial, sans-serif
$Semibold = 'SFProDisplay-Semibold', Arial, sans-serif
$Bold = 'SFProDisplay-Bold', Arial, sans-serif
$Black = 'SFProDisplay-Black', Arial, sans-serif
$Heavy = 'SFProDisplay-Heavy', Arial, sans-serif
// ========== ========== ========== ========== ==========

// Sizes
$container-width = 1440px
$container-gutters = 0 20px

$row-gutter-left = -15px
$row-gutter-right = -15px

$col-gutters = 15px

$gutters = 100px 0
$gutter-top = 100px
$gutter-bottom = 100px
// ========== ========== ========== ========== ==========

//  Colors 
$accent-color = #46C770
$dark-accent-color = #2B7F2F


$text-color = #242424

$alternate-text-color = #393939

$light-text-color = #A6A6A6
$lighter-text-color = #D2D2D2

$basic-white-color = #fff
$basic-black-color = #000


$btn-arrow-color = #E5E5E5

$pagination-color = #ECEBED

$label-recommended-color = $accent-color
$label-new-color = #3F53F2
$label-guarantee-color = #33CCCC
// ========== ========== ========== ========== ==========

//  Backgrounds 
$body-bg = #FCFCFC
$header-bg = #FCFCFC
$footer-bg = #FCFCFC

$dark-bg = #090909

$bg-overlay-color = #000
$bg-overlay-opacity = .8
// ========== ========== ========== ========== ==========

// Popup
$popup-overlay-bg = #393939
$popup-overlay-opacity = .7
$popup-body-bg = #fff
// ========== ========== ========== ========== ==========