.cars
	&__wrapper
		padding 50px 0 30px 30px
		width calc(100% - 450px)

	&__row
		
		.car-card
	
			&__wrapper
				width 33.3333%
				padding 20px 15px
				

.sorting
	margin-bottom 40px
	&__item
		margin-right 25px
		width 215px
		&:last-child
			margin-right 0
				
				