// Search
.sect__search
	padding-bottom 105px
	
.search-tabs
	&__controls
		margin-bottom 30px
		&--btn
			display inline-block
			margin-right 36px
			color $lighter-text-color
			font 24px $Heavy
			&:hover,
			&.is-active
				color $accent-color
			&:last-child
				margin-right 0
				
.car-categories
	padding-top 35px
	.list-title
		margin-bottom 40px
		
	ul
		li

			margin-bottom 20px
			&:last-child
				margin-bottom 0
				
		a
			font 14px $Reg
			color $light-text-color
			border-bottom 1px solid transparent
			&:hover
				border-color $accent-color
				color $accent-color
			span
				font-family $Med
				color $accent-color
		
	&__col
		width 25%
		border-left 1px solid #E0E0E0
		padding 0 25px 30px 25px
		&:first-child
			width 50%
			
			ul
				column-count 3
				column-gap 30px
				
// Services
.service-card
	display block
	height 100%
	background-color $basic-white-color
	border-radius 20px
	padding 30px
	height 250px
	font 14px $Reg
	color $light-text-color
	&__title
		font 18px $Semibold
		color $text-color
		margin-bottom 10px
		display block
	&__ic
		display block
		width 72px
		height 72px
		margin-bottom 30px
		position relative
		span
			display block
			width 72px
			height 72px
			background-position 50% 50%
			background-size contain
			background-repeat no-repeat
			transition opacity .17s ease-in-out
			position absolute
			position-center()
		&--hover
			opacity 0
			z-index 2
			
	&:hover
		box-shadow 0px 0px 20px rgba($basic-black-color, 0.15)
		
		.service-card__ic
			&--static
				opacity 0
			&--hover
				opacity 1
	&__wrapper
		flex 1 0 25%
		max-width 33.3333%
		padding 15px
		&:nth-child(1),
		&:nth-child(2),
		&:nth-child(3)
			flex 1 0 33.3333%
			
// Steps
.sect__steps
	padding 130px 0 90px
	background-color $basic-white-color
	box-shadow 0px 15px 35px rgba($basic-black-color, 0.07)

.steps
	margin-bottom 75px
		
.step
	display flex
	justify-content flex-start
	font 18px $Semibold
	text-transform uppercase
	&__ic
		display inline-block
		width 120px
		height 120px
		border-radius 50%
		background-color $light-color
		background-position 50% 50%
		background-repeat no-repeat
		flex none
		margin-right 15px
	&__count
		color $accent-color
		display block
		margin-bottom 8px
		font 18px $Bold
		text-transform none
	&__content
		padding-top 22px
	&__wrapper
		width 25%
		padding 15px
		

.sect__stocks
	padding-bottom 50px
		
// About us
.about-us
	&__container
		width 100%
		max-width 1960px
		padding-left 20px
		padding-right 20px
		margin 0 auto

		
	&__content
		width 50%
		padding-left 145px
		max-width 720px
		

		.content
			margin-bottom 60px
			

	&__description
		font-size 16px
		color #888
		line-height 25px
		margin-bottom 45px
		span
			border-bottom 1px solid
			
.salons
	margin 0 auto
	max-width 1170px
	position relative
	height 630px
	img
		display block
		width 100%
				
	&-addresses
		position absolute
		fullSize()
			
.salon
	&-address
		width 32px
		height 42px
		position absolute
		z-index 1
		&:nth-child(1)
			top 175px
			left 95px
		&:nth-child(2)
			top 190px
			left 125px
		&:nth-child(3)
			top 210px
			left 335px
		&:nth-child(4)
			left 135px
			bottom 200px
			
		&:nth-child(5)
			left 140px
			bottom 100px
			
			

		&.is-active
			.salon-address
				&__marker
					svg
						fill-opacity 1
						stroke $dark-accent-color
				&__information
					opacity 0
					visibility hidden
					margin-bottom 0
				&__contacts
					opacity 1
					visibility visible
					margin-bottom 13px
					
			&:hover
				.salon-address__information
					opacity 0
					visibility hidden
					margin-bottom 0
				
		&__information
			position absolute
			horisontal-center()
			bottom 100%
			opacity 0
			visibility hidden
			margin-bottom 0
			transition all .17s ease-in-out
			font 14px $Heavy
			color $dark-accent-color
			border-bottom 1px solid
			white-space nowrap
		&__contacts
			position absolute
			horisontal-center()
			bottom 100%
			transition all .17s ease-in-out
			width 200px
			background-color $basic-white-color
			padding 10px
			opacity 0
			visibility hidden
			margin-bottom 0
			
		&__marker
			display inline-block
			width 32px
			height 42px
			cursor pointer
			svg
				display block
				width 100%
				height 100%
				fill $dark-accent-color
				stroke $accent-color
				fill-opacity 0
				stroke-width 3px
				transition all .17s ease-in-out

				
		&:hover
			svg
				fill-opacity 1
				stroke $dark-accent-color
				
			.salon-address__information
				margin-bottom 13px
				opacity 1
				visibility visible
				
	
					
			
		