.sect__about-us--promo
	border-radius 6px
	box-shadow 0px 15px 35px rgba($basic-black-color, 0.07)
	padding 125px 0 165px
	
.about-us
	&__promo
		max-width 600px
		
		.page-title
			margin-bottom 25px
			b, strong
				color $accent-color
				margin-bottom 25px
				
		p
			color $basic-black-color
			font 16px $Light
			margin-bottom 35px

.sect__about-us--params
	padding-bottom 75px
				
.our-params
	margin-top 65px
.our-param
	position relative
	padding-left 115px
	padding-top 110px
	&__description
		position relative
		z-index 1
		color $alternate-text-color
		.block-title
			margin-bottom 10px
			
	&__single-num
		padding-left 35px
			
	&__value
		display inline-block
		line-height 1
		color #ECECEC
		font 144px $Heavy
		position absolute
		left 0
		top 0
		will-change transform
	&__wrapper
		padding 15px 
		margin-bottom 85px
		width auto
		max-width 425px



	
.sect__about-us
	&--content
		
		padding 20px 0
		
	&--missions
		padding-top 230px
		
.mission
	position relative
	margin-bottom 75px
	&__title
		text-transform uppercase
		text-transform uppercase
		color $accent-color
		font 24px $Heavy
		margin-bottom 20px
	&__description
		font 18px $Semibold
		max-width 740px
		margin 0 auto
		b, strong
			font-family $Bold
			color $accent-color
	&__content
		position relative
		z-index 1
		
	&__img
		position absolute
		top 0
		horisontal-center()
		width 1400px
		img
			display block
			margin 0 auto

.values
	.mission__title
		margin-bottom 55px
.value
	background-color $basic-white-color
	color $light-text-color
	padding 40px 120px 50px 85px
	box-shadow 0px -4px 14px rgba($basic-black-color, 0.05)
	&__wrapper
		width 100%
		max-width 1200px
		padding-right 120px
		margin-top -25px
		position relative
		z-index 1
		&:nth-child(odd)
			padding-right 0
			padding-left 120px
	&__title
		text-transform uppercase
		font 24px $Light
		color $text-color
		margin-bottom 15px
	&__count
		display inline-block
		color #F3F3F3
		font 96px $Heavy
		line-height 1
		margin-right 25px
	&__content
		flex 1
		
	&__text
		p
			margin-bottom 15px
			&:last-child
				margin-bottom 0