
.sect__catalog
	.sect__offer
		margin 30px 0

		
.catalog
	// will-change transform
	transition transform .12s ease-in-out
	&.is-toggled
		transform translateX(-490px) !important
		
		.catalog__content
			width 100%
			transform translateX(490px)
			.car-card__wrapper
				width 25%
				
		.sect__offer
			
			margin-left -20px
			margin-right -20px
		
				
	&__wrapper
		display flex
		justify-content flex-end
		align-items flex-start
		flex-wrap nowrap
	&__content
	
		width calc(100% - 470px)
		padding-top 50px
		transition width .12s ease-in-out
		
			width 100%
			
			.car-card__wrapper
				width 25%

.cars
	&__wrapper
		padding 20px 0
		width 100%
		transition width .2s ease-in-out
		

	&__row
		
		.car-card
	
			&__wrapper
				width 33.3333%
				padding 20px 15px
				

.sorting
	&__item
		margin-right 25px
		width 215px
		&:last-child
			margin-right 0
			

.sect__offer
	background-color $basic-white-color
	box-shadow 0px 4px 24px rgba($basic-black-color, 0.09)
	padding-left 85px
	&--wide
		margin-left -20px
		margin-right -20px

	
.offer
	max-width 700px
	position relative
	&__img
		position absolute
		left 100%
		top -15px
		margin-left -105px
		width 655px
		img
			display block
	&__content
		position relative
		z-index 1
	.page-title
		margin-bottom 30px
		
	p
		color $alternate-text-color
		font-size 16px
		line-height 19px
		margin-bottom 40px


.sect__recommended
	padding-bottom 50px
				