// Media queris mixins add there
@import '../../node_modules/stylus-media-queries/index.styl'
/* -------Screen sizes----------- 
+screen(minWidth, maxWidth)
+max-screen(maxWidth)
+min-screen(minWidth)
+screen-height(minHeight, maxHeight)
+max-screen-height(maxHeight)
+min-screen-height(minHeight)
*/

+max-screen(1800px)
	// Header
	.header
		padding 20px 0
		&__links
			margin-right 65px
			margin-left 25px
			
		&__contacts--row
			flex-direction column
			align-items flex-end
			
		.phone-link
			margin-left 0
			
	.user-city
		&__wrapper
			margin-bottom 7px
			
	.nav__item
		margin-right 20px


+max-screen(1500px)
	.page-title
		font-size 46px
		
	.sect-title
		font-size 21px
		line-height 25px
		
	.block-title
		font-size 16px
		line-height 19px
		
	.container,
	.page-container
		padding-left 50px
		padding-right 50px
		
	.page-container
		.container
			padding 0 !important
			
	.container
		max-width 100%
		
	.gutters
		padding 70px 0
		
	.gutter
		&-top
			padding-top 70px
		&-bottom
			padding-bottom 70px
			
	.sect-text
		margin-bottom 40px
	
	.btn
		padding-left 46px
		padding-right 46px
		&-wide
			padding-left 10px
			padding-right 10px
	// Header
	.nav__link
		font-size 12px
		
	.header
		padding-left 20px
		padding-right 20px
		.page-container
			padding 0
		&__links
			.link-with-ic
				font-size 12px
				margin-right 18px
				
	.user-city__popup
		&--body
			padding 45px 20px 25px 20px
		&--btns
			.btn
				font-size 12px
		&--text
			font-size 14px
			margin-bottom 25px
				
	// Promo
	.promo
		&-slide
			height 415px
		&-slider
			.swiper-slide
				padding-bottom 40px
				
			.slider__pagination
				bottom 70px
				
	// Search
	.search
		&-tabs__controls--btn
			font-size 21px
			
		&-form
			.form-group__input--wrapper_col
				max-width 300px
		
				
	.car-categories 
		.list-title
			margin-bottom 30px
			
		ul
			li
				margin-bottom 10px
				
	// Steps
	.sect__steps
		padding 65px 0 55px
		
	.step
		&__ic
			width 80px
			height 80px
			background-size 50px 50px		
			margin-right 10px
			
		&__count,
		&__title
			font-size 16px
	
	// Sect description
	.description-block__content
		padding-left 25px
		
		.btn
			margin-top 30px
			
	// Car card
		
	.car-card
		&__title
			font-size 16px
			line-height 19px
		&__price
			font-size 14px
			

	// Footer
	.footer-menus
		padding-left 6%
		
	// Page about
	.sect__about-us--promo
		padding 90px 0
		
	.about-us__promo
		p
			font-size 14px
			margin-bottom 30px
			
	.sect__about-us--content
		padding 0
		
		.page-container
			padding-right 0
			
	.description-block__content--right
		padding-left 0
		padding-right 25px
		
	.mission__img
		width 100%
		margin-left -50%
		
	// contacts form
	.contact-form__wrapper
		padding 40px 65px 60px 65px
	
	// Page contacts
	.contacts__content
		padding-left 50px
		
	// Page services
	.sect-page__form-container
		padding-left 20px
		padding-right 20px
		
		.contact-form__wrapper
			padding 40px 50px
			
		.sect-title
			font-size 30px
			
	// Offer
	.offer__img
		margin-left -180px
		
	// Page car
		
	.price-lg
		font-size 21px
		
	.scroll-down-link
		width 48px
		height 48px
		bottom -24px
		&:before
			width 36px
			height 36px
			
		.arrow
			width 9px
			height 5px

	.car
		&-header
			padding-top 20px
			padding-bottom 35px
			margin-left -50px
			margin-right -50px
			border-radius 0 0 24px 24px
			&-fixed
				margin-left 0 !important
				margin-right 0 !important
				padding-top 10px
				padding-bottom 20px
				
				.car-params
					margin-top 13px
			&__row
				padding-left 50px
				padding-right 50px
				
			&__title 
				.sect-title
					margin-right 35px
			
		&-technical-guarantee
			&__package
				padding 45px 85px
				
		&-params
			padding-left 50px
			padding-right 50px
			
		&-body
			padding-top 90px
			
	// .car-main-slider__slide
	// 	height 365px
		
	.car-main-slider__wrapper 
		margin-top 20px
		.swiper-slide
			width 510px
			
	.car-main-slider__slide
		height 365px
			
	.car-information
		&__controls
			margin-bottom 30px
		&__item--block
			padding 30px
			&_title
				font-size 21px
				line-height 25px
				margin-bottom 25px
				
	.car-service
		&__ic
			width 84px
			height 84px
			background-size 50px 50px
			
		&__title
			font-size 16px
	



	// Page catalog
	.aside
		padding 50px 30px
	.aside__col
		width 375px
		.sect-title
			font-size 18px
			margin-bottom 40px
	
	.catalog-cars
		padding-left 400px
		.car-card__wrapper
			padding 20px 12.5px
			width 50%
			
	.cars__row
		margin-left -12.5px
		margin-right -12.5px
		

	.catalog__content
		padding-top 35px
	
	.car-card__tools
		height 20px
		
	.link-with-ic
		&.tooltip__wrapper
			width 20px
			height 20px
			
	.catalog
		&.is-toggled
			.catalog-cars 
				.car-card__wrapper
					width 33.3333%	
					
	.sect__catalog
		.sect__offer
			margin-left -50px
			margin-right -50px
			.container
				padding-left 50px !important
				padding-right 50px !important
				
	.form-group__checkbox, 
	.form-group__radio
		font-size 12px
+max-screen(1365px)
	// Header
	.header__links
		margin-right 35px
		
	.header
		.logo
			img
				max-width 150px
				
	.nav
		margin-left 30px
		
	// Page car
	.car-header
		&__information
			flex-wrap wrap
			&--tools
				width 100%
				margin-top 20px
		
+max-screen(1312px)
	// Header
	.btn__hamburger
		display inline-block
		
	.header
		.user-city__dropdown--wrapper
			display none !important
			
	.user-city__popup
		width 100%
		height 100%
		position-center()
		display none
		&--overflow
			padding 25px
			display block
			position absolute
			top 0
			left 0
			background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
			&:before
				display inline-block
				
			.btn__close
				display inline-block
				
			.logo
				display inline-block
			
		&--body
			width 100%
			max-width 505px
			display inline-block
			vertical-align middle
			position relative
			z-index 2
			position relative
			white-space normal
			z-index 106
			border-radius 10px
			
			padding 30px
			&_content
				min-height 340px
				flex-col-center()
				
	.user-city__label
		font-size 12px
	.user-city__dropdown
		display inline-block
		vertical-align middle
		width 100%
		max-width 505px
		padding 35px 20px 
		
		&--wrapper
			position fixed
			top 0
			left 0
			width 100%
			height 100%
			z-index 90
			margin-top 0
			visibility visible
			transform none
			opacity 1
			display none
			transition none
			

	.header-actions
		position fixed
		top 0
		left 0
		z-index 90
		width 100%
		height 100%
		margin 0
		display flex
		justify-content flex-end
		opacity 0
		visibility hidden
		pointer-events none
		transition all .17s ease-in-out
		&.is-opened
			opacity 1
			visibility visible
			pointer-events auto
			
			.header-actions__overflow
				display block
				
			.header-actions__row
				transform translateX(0)
				
		.btn__close
			display inline-block
			
		.logo__wrapper
			display block
			width 100%

		&__overflow
			position absolute
			fullSize()
			background-color rgba($popup-overlay-bg, $popup-overlay-opacity)
			display none
			
		&__row
			background-color $basic-white-color
			position absolute
			z-index 2
			width 430px
			height 100%
			padding 25px 20px 50px 20px
			display flex
			justify-content space-between
			overflow-y auto
			
			transition transform .17s ease-in-out
			transform translateX(110%)
			
		&__tools
			width 100%
			
	.nav
		margin 40px 0
		width 100%
		padding-left 60px
		max-width 260px
		&__item
			display block
			margin-right 0
			margin-bottom 50px
			&:last-child
				margin-bottom 0
				
			
		
				
				
			.arrow
				display inline-block
				width 26px
				height 26px
				position absolute
				right 0
				top -2px
				&.is-active
					svg
						fill $accent-color
				svg
					width 10px
					height 7px
					fill #CDCDCD
					position absolute
					position-center()
				
		&__link
			font-size 14px
			
	.nav-sublist
		position relative
		margin 0 !important
		transition none
		padding 20px 0 0 20px
		top auto
		left auto
		width 100%
		opacity 1
		visibility visible
		pointer-events auto
		box-shadow none
		border-radius 0
		background-color transparent
		text-align left
		transform none
		display none
		
		&:before
			display none
		&__link
			font-size 14px
			
		&__item
			margin-bottom 20px
			&:last-child
				margin-bottom 0
	.header__links
		margin-right 0
		margin-left 0
		width 100%
		margin-bottom 30px
		&--tablet
			display block
			margin 0 30px
			.header__links
				margin-bottom 0
		
	.header__contacts
		width 100%
		&--row
			align-items flex-start
			
	// Footer
	.footer-contacts
		.user-city
			&__label
				font-size 14px
			&__name
				font-size 14px
				
	// page car
	.car
		&-technical-guarantee
			&__packages--row
				margin-left -5px
				margin-right -5px
			&__package
				padding 25px 35px
				.block-title
					font-size 14px
					margin-bottom 15px
					
				.btn
					width 100%
					padding-left 15px
					padding-right 15px
				&--wrapper
					padding-left 5px
					padding-right 5px
				&--icon
					margin-right 10px
					width 45px
					height 45px
					background-size 45px 45px
					
				&--icons
					margin-bottom 20px
					
	.car-header
		padding-bottom 15px
		&-fixed
			padding-bottom 10px
			.car-params
				margin-top 25px
		
	.car-params

		margin-top 13px
		&__list
			flex-wrap wrap
		
			&--item
				width 33.3333%
				padding-right 20px
				margin-right 0
				text-align left
				margin-bottom 20px
				font-size 12px
				
					
+max-screen(1200px)
	body
		font-size 12px
	
	.link
		font-size 14px
		
	.container,
	.page-container
		padding 0 20px
	// Car card
	.car-card
		&__label
			font-size 11px
			
	// Services cards
	.card
		padding 25px 25px 40px 25px
		min-height auto
		&__ic
			margin-bottom 25px
			width 65px
			height 65px
			span
				width 100%
				height 100%
				
		&__title
			font-size 16px
			margin-bottom 10px
		&__description
			display block
			margin-bottom 15px
			line-height 14px
		.link
			display inline-block

	.service-card
		&__wrapper
			width 50%
			flex 1 0 50% 
			max-width 50%
			&:nth-child(1), 
			&:nth-child(2), 
			&:nth-child(3)
				flex 1 0 50% 
				
		
	
		
	// Search
	.car-categories 
		padding-top 0
		.list-title
			font-size 16px
			margin-bottom 20px
			
		ul
			a
				font-size 12px
			
		&__col
			padding 0 10px 20px
	
	.list-column
		column-gap 15px
		
	// salons map
	.about-us__description
		font-size 14px
		
	.salons
		max-width 900px
		height auto
		
	.salon-address
		width 19px
		height 25px
		&:nth-child(1)
			top 135px
			left 70px
		&:nth-child(2)
			top 145px
			left 90px
		&:nth-child(3)
			top 160px
			left 260px
			
		&:nth-child(4)
			left 100px
			bottom 150px
			
		&:nth-child(5)
			left 105px
			bottom 70px
			
		&__contacts,
		&__information
			transform none
			left -30px
			
		&__marker
			width 100%
			height 100%
			
	// contacts form
	.contact-form__wrapper
		margin-left -20px
		margin-right -20px
		
		padding 15px 20px
		
	.contact-form
		.form-group__input--wrapper_col
			width 50%
			margin-bottom 20px
		
			
			&.col-w-100
				width 100% !important
				
	.form-group__notice
		font-size 14px
		
	// Page contacts
	.sect__contacts
		.map__wrapper
			position relative
			top auto
			width 50%
			right auto
			height auto
			
	.contacts
		&__content
			padding-right 25px
			padding-left 20px
			
			.page-title
				font-size 24px
				margin-bottom 45px
		&__col
			padding 40px 0 160px
			
	
	// Page services
	.sect-page__form-container
		padding-left 20px
		padding-right 20px
		
		.contact-form__wrapper
			padding 40px 20px
			margin-left 0
			margin-right 0
			
		.sect-title
			font-size 30px
			
	.contract-block
		p
			font-size 16px
			line-height 19px
			margin-bottom 25px
			
	// Offer
	.offer
		max-width 100%
		display flex
		align-items center
		.page-title
			font-size 34px
			margin-bottom 12px
			
		p
			font-size 14px
			margin-bottom 25px
			
		&__content
			width 45%
			
		&__img
			position relative
			left auto
			margin-left 0
			bottom auto
			width 55%
			top auto
			
	.sect__offer
		padding 60px 0
		

	.car-header
		margin-left -20px
		margin-right -20px
		&__row
			padding-left 20px
			padding-right 20px
			

			
	.car-params
		padding-left 20px
		padding-right 20px
		
	.car-characteristics__col
		width 33.3333%
		margin-bottom 35px
		
	.car-information
		margin-left -20px
		margin-right -20px
		&__item--block

			padding 30px 20px 5px 20px
			
		&__advantages
			padding 30px 20px
			

			
	.car-characteristics__list
		p
			font-size 14px
			
	.car-advantage
		font-size 14px
		&__ic
			margin-bottom 15px
			
	
	.step
		flex-direction column
		align-items flex-start
		&__ic
			margin-right 0
			margin-bottom 15px
			
		&__content
			padding-top 0
			
	.car-service
		flex-direction column
		align-items center
		text-align center
		&__ic
			margin-right 0
			margin-bottom 10px
			
		&__title
			font-size 14px
			
	.car-services
		margin 20px 0 40px	
		
	.car-technical-guarantee__text
		margin-bottom 40px
		
	// Catalog
	.catalog-cars
		padding-left 0
		.car-card__wrapper
			width 33.3333%
			
	.aside__col
		display none
		
	.btn__toggle-filter
		display block
		top 110px
		
	.popup
		.popup
			&__overflow
				padding 0
				background-color $basic-white-color
			
			&__body
				padding 35px 20px 55px 20px
				box-shadow none
				
	
			
		.btn__close
			right 20px
			
	.trade-in-form
		.form-group__input--wrapper_col
			width 50%
	
	.crediting-form
		.form-group__input--wrapper_col.col-w-25
			width 50%
			
			
	.filter-form
		margin-top 0
		

	.catalog-tablet-title
		display block
		
	.btn__toggle-filter
		top 160px
	
			
	
			
+max-screen(1100px)
	// Sect description
	.description-block
		&__slider
			width 100%
		&__content
			width 100%
			padding-left 0
			margin-top 35px
			max-width 100%
			&--right
				margin-top 0
				margin-bottom 35px
	

	// Footer
	.footer
		&-contacts
			width 100%
			margin-bottom 35px
			display flex
			flex-wrap wrap
			
			&__logo
				width 250px
			
			&__btns
				width 100%
				display flex
				aling-items center
				justify-content space-between
				margin-top 40px
				.btn
					margin-bottom 0
					width 49%
					margin-right 1%
					&:last-child
						margin-right 0
				
			.contacts
				flex 1
				margin-bottom 0
				display flex
				flex-wrap wrap
				align-items center
			
			.contact__item
				width 50%
				margin-bottom 0
				
			.logo
				margin-bottom 20px
				
			.user-city__wrapper
				margin-bottom 0
				
		&-menus
			padding-left 0
			padding-top 0
			
	// Page about
	.sect__about-us
		&--promo
			padding 105px 0
			.page-title
				font-size 24px
		&--content
			padding-top 70px
		
			.page-container
				padding 0
			
			.description-block__content
				padding-left 20px
				padding-right 20px	
			
	.about-us__promo
		p
			font-size 12px
			
	.our-param
		padding-left 90px
		padding-top 70px
		&__wrapper
			width 50%
			max-width none
			margin-bottom 70px
		&__value
			font-size 96px
			

	.value__wrapper
		padding-right 15px
		&:nth-child(odd)
			padding-left 15px
			
	.value
		padding 55px 30px 60px 30px
		&__title
			font-size 18px
			margin-bottom 20px
		

			
	.card__wrapper
		width 50%
		
	// Page vacancies
	.vacancy
		padding 55px 20px
		margin-bottom 20px
		&__description
			font-size 14px
			p
				margin-bottom 15px
				

		&__salary
			font-size 14px
		
	.block-title-lg
		font-size 16px
		line-height 19px
		margin-bottom 15px
		
	// Page services
	.swap-guide-step
		display flex
		align-items center
		&__img
			width 50%
			margin-bottom 0
			max-height none
			
		&__content
			width 50%
			padding-left 25px
		&__wrapper
			width 100%
			padding-top 0
			padding-bottom 0
			margin-bottom 30px
			&:last-child
				margin-bottom 0
				
			&:nth-child(even)
				.swap-guide-step
					&__img
						order 2
					&__content
						order 1
						padding-left 0
						padding-right 25px
	
	.crediting-form__title-col
		width 100%
		flex none
		margin-right 0
	
	.crediting-form__car-col
		margin-bottom 40px
		

	// Popup

	.adv-filter-form
		&__row
			flex-wrap wrap
		&__col
			&:first-child
				max-width 50%
				width 50%
			&:nth-child(2)
				width 50%
				
			&:last-child
				max-width 100%
				width 100%
				flex none
				margin-top 20px
				
	.col-w-tablet-25
		width 25%
		
			
+max-screen(1000px)
	.sect-title__row
		justify-content space-between
		.slider__navigation
			margin-left 30px
			white-space nowrap
	

	.users-count
		display none	
	// Steps
	.sect__steps
		padding 40px 0
		.sect-text
			margin-bottom 25px
	.steps
		margin-bottom 0	
	.step
		flex-direction row
		align-items center
		&__wrapper
			width 50%
		&__ic
			width 104px
			height 104px
			margin-right 22px
			background-size auto
			margin-bottom 0
			
		&__title
			font-size 14px
			
	// Page about
	.sect__about-us--missions
		padding-top 160px
		
	.mission
		margin-bottom 45px
		&__img
			top -40px
			
	// Page car
	.car-header
		&__content
			flex none
			width 100%
			padding-right 0
			
			.back-link
				display inline-block
		&__title
			position relative
			padding-left 45px
			.back-link
				top 5px
			.row
				justify-content space-between
				
		&__tools
			position relative
			right auto
			top auto
			width 100%
			display flex
			margin-bottom 33px
			> .btn
				flex 1
				order 2
				margin-left 25px
			
			&--btns
				width 350px
				order 1
				margin-left -12.5px
				margin-right -12.5px
				&_item
					width 50%
					padding 0 12.5px
					&:last-child
						margin-right 0
						
				.btn
					height 100%
					font-size 12px
					
	.car-header
		&__information
			.contact__item
				width 33.3333%
				margin-right 0
				padding-right 5px
			&--tools
				margin-top 25px
				
	.car-main-slider__slide
		height 400px
		
	.car-main-slider__wrapper 
		.swiper-slide
			width 545px
		
		.btn__arrow
			width 30px
			height 55px
			margin-top 50px
			&--prev
				left 15px
			&--next
				right 15px

	// Catalog
	.catalog-cars
		.car-card__wrapper
			width 50%		
			
+max-screen(900px)
	.salons
		max-width 700px

	.salon-address
		width 19px
		height 25px
		&:nth-child(1)
			top 105px
			left 55px
		&:nth-child(2)
			top 115px
			left 75px
		&:nth-child(3)
			top 130px
			left 200px
			
		&:nth-child(4)
			left 80px
			bottom 110px
			
		&:nth-child(5)
			left 85px
			bottom 50px
			
		
	// Footer
	.footer-menus
		&__row
			justify-content flex-start
		&__col
			width 33.3333%
			
	// Page services
	.faq__question
		padding 15px
		&--title
			font-size 12px
			
	.faq__answer
		padding 0 15px 25px 15px
		
	.contract-block
		max-width 100%
		
		&__links
			.btn
				width 49%
				margin-right 1%
				padding-right 15px
				padding-left 15px
				
	// Offer
	.offer
		.page-title
			font-size 24px
			margin-bottom 12px
			line-height 24px
			
		p
			font-size 12px
			margin-bottom 25px
			

	// Page car
	.car-service
		flex-direction row
		align-items center
		text-align left
		&__wrapper
			width 50%
			margin-bottom 30px
		&__ic
			margin-right 10px
			margin-bottom 0
			

+max-screen(767px)
	.container,
	.page-container,
	.header
		padding-left 10px
		padding-right 10px
		
	.page-container
		.container
			padding 0
		

	.user-city__popup--overflow 
		.logo,
		.btn__close
			display none
			
	.popup__overflow
		padding 45px 10px
		
	.user-city
		&__dropdown
			padding 50px 10px 30px 10px
			
		&__popup
			&--body
				padding 15px
				&_content
					min-height 380px
					
			&--btns 
				.btn
					padding-left 15px
					padding-right 15px
	

	.header__links--tablet
		display none	
		
	//Search
	.car-categories
		&__mobile
			display block 
			
		&__row
			display none
			
	// Page contacts
	.contacts__content
		padding 0 10px
		

	.contact-form 
		.link
			font-size 12px
			margin-top 10px
			
	// Page car
	.car-body
		padding-top 30px
		
	.car-information__controls
		display flex
	.btn__tab
		width 50%
		max-width 50%
		font-size 12px
		
	.scroll-down-link
		display none
		
			
+max-screen(700px)
	.sect-title__row
		margin-bottom 20px
	.single-slider 
		.slider__navigation
			padding-left 10px
			padding-right 10px
	// Stocks
	.stocks-slider__slide
		padding-left 5px
		padding-right 5px
		
	// Car card
	.car-card
		&__tools
			top 15px
			right 10px
			
		&__description
			font-size 12px
			line-height 14px
	
	// salons 
	.about-us__description
		font-size 12px
		line-height 19px
		margin-bottom 70px
	.salons
		max-width 500px

	.salon-address
		width 19px
		height 25px
		&:nth-child(1)
			top 75px
			left 40px
		&:nth-child(2)
			top 85px
			left 60px
		&:nth-child(3)
			top 90px
			left 135px
			
		&:nth-child(4)
			left 55px
			bottom 80px
			
		&:nth-child(5)
			left 60px
			bottom 40px
			
	// Footer
	.footer
		&__content
			padding-left 20px
			padding-right 20px
		&-contacts
			margin-bottom 40px
			&__logo
				width 100%
				display flex
				flex-direction column
				align-items center
				margin-bottom 40px
				
			.contacts
				flex-direction column
				align-items center
				
			.contact__item
				margin-bottom 25px
				width auto
				min-width 185px
				&:last-child
					margin-bottom 0
					
			&__btns
				flex-wrap wrap
				.btn
					margin-right 0
					width 100%
					margin-bottom 12px
					padding-left 15px
					padding-right 15px
					&:last-child
						margin-bottom 0
						
		&-menus
			&__col
				width 50%
				margin-bottom 20px
				
	.official-partners__row
		.footer-menus__col
			width 100%
			
	.copyright
		font-size 12px
		
	// Page about
	.sect__partners
		.sect-title__row
			margin-bottom 70px
			
	// Page about
	.sect__about-us--missions
		padding-top 70px
		padding-bottom 30px
		
	.mission
		&__title
			font-size 16px
			margin-bottom 20px
		&__description
			font-size 14px
			
		&__img
			transform none !important
			top -50px
			
	.value__wrapper
		padding-right 0
		transform none !important
		margin-bottom 15px
		top auto
		&:last-child
			margin-bottom 0
		&:nth-child(odd)
			padding-left 0
			
	.value
		padding 30px 10px
		&__title
			font-size 14px
			line-height 16px
			margin-bottom 15px
		&__row
			flex-wrap wrap
		&__count
			font-size 72px
			margin-right 0
			margin-bottom 5px	
		&__content
			width 100%
			flex none
			
	.values 
		.mission__title
			margin-bottom 25px
			
	.sect__about-us--promo
		padding 90px 0 40px
		
	.our-param__wrapper
		width 100%
		margin-bottom 40px
		padding-top 0
		padding-bottom 0
		&:last-child
			margin-bottom 0
			
	.our-param
		padding 50px 0 0 20px
		.block-title
			font-size 18px
			
		&__description
			font-size 14px
		&__value
			transform none !important
			top -20px
			
	// Content
	.content
		font-size 14px
		h2
			font-size 18px
			line-height 21px
		h3, h4, h5, h6
			font-size 14px
			line-height 20px
		

	
	// Contact form
	.contact-form
		&__wrapper
			padding-top 25px
			padding-bottom 25px
			
			.sect-title
				font-size 18px
				margin-bottom 15px
		.form-group__input--wrapper_col
			width 100%
			margin-bottom 20px
		
	.form-group__notice
		font-size 12px	
		
	// Page vacancies
	.resume
		padding 10px 0 30px
	.resume-form
		.form-group__input--wrapper
			max-width 100%
			&_col
				width 100%
				
		.row-inputs
			margin-bottom 0
			
	.sect-title-lg
		font-size 18px
		margin-bottom 30px
		line-height 21px
		
	// Page contacts
	.sect__contacts
		.map__wrapper
			width 100%
			height 400px
			
	.contacts__col
		width 100%
		padding 30px 0 45px
		
		.page-title
			margin-bottom 25px
			
	.route-link
		margin-right 10px
		
	// Popups
	.popup
		.popup__body
			padding 35px 0
			border-radius 0
			box-shadow none
			display block
			
			.popup__title
				margin-bottom 15px
				
		.btn__close
			top 10px
			right 10px
			
		&__title
			font-size 18px
		

	.vacancy-popup
		.vacancy__salary
			margin 0
			text-align center
			margin-bottom 30px
			

	.popup
		.popup__overflow
			background-color $basic-white-color
			padding 0 10px
			&:before
				display none
				

				
	.row-range
		margin-top 0 !important
	
	.row-checkboxes
		margin-top 30px

		.form-group__input--wrapper_col
			margin-bottom 30px
			
	.adv-filter-form
		&__row
			flex-wrap wrap
		&__col
			margin-bottom 20px
			&:last-child
				margin-bottom 0
				.adv-filter-form__block
					padding-top 0
			&:first-child
				max-width 100%
				width 100%
				flex none
				margin-bottom 30px
			&:nth-child(2)
				width 100%
				padding-top 0
				
				
				.row-checkboxes
					.form-group__input--wrapper_col
						margin-bottom 30px !important
				
			&:last-child
				margin-top 0
				
	.form-group__title
		text-align center
		font-size 14px
		line-height 18px
		margin-bottom 15px
		
	.popup-link__wrapper
		display flex
		justify-content space-between
		margin-top 5px
		
		.link
			font-size 12px
				
	.adv-filter-form__block
		padding 0
		border-radius 0
		background-color transparent
		
	.form-group
		&__input--wrapper 
			.arrow
				right 9px
				
		&__submit
			.btn
				padding 17px 15px
				width 100%
				
	.col-w-mobile-50
		width 50%
			

	.trade-in-form
		.form-group__input--wrapper_col
			width 100%
			
	.crediting-form
		.form-group__input--wrapper_col,
		.form-group__input--wrapper_col.col-w-25
			width 100%
			
	.crediting-form__calculation 
		margin-bottom 10px
		.form-group__price-range--wrapper
			margin-top 10px
			
	.form-group__price-range 
		.noUi-tooltip
			display none
			
	.crediting-block__price
		font-size 16px
		
		.price
			font-size 20px
			display block
			text-align center
			margin-top 5px
			
	
	.contact-form__inputs
		max-width 100%
		
	.popup__body--tall
		min-height 400px
	// Page services
	.swap-guide-step
		flex-wrap wrap
		&__wrapper
			margin-bottom 40px
			
		&__img
			order 2
			width 100%
		&__content
			order 1
			padding 0 !important
			width 100%
			margin-bottom 20px
			
		&__count
			font-size 21px
			margin-bottom 12px
			
	.trade-in__block
		margin-bottom 10px
		
	.car-technical-guarantee__package
		padding 25px 15px
		
		vertical-align top
		&--wrapper
			width 200px
			display inline-block
			
	.car-technical-guarantee__packages--row
		display block
		text-align center
		white-space nowrap
		width 100%
		margin 0
		padding 0 5px 40px
		overflow-y auto
	// Offer
	.sect__offer
		padding 35px 0
	.offer
		flex-wrap wrap
		&__content
			order 2
			width 100%
		&__img
			order 1
			width 100%
			margin-bottom 22px
			
	.form-group__price-range--wrapper
		margin 35px 0 15px	
		
	
	// Page car
	.car-advantage
		&__wrapper
			width 50%
			margin-bottom 30px
			
	.car-main-slider
		&__slide
			height auto
			position relative
			overflow hidden
			width 100%
			padding-top 100% !important
			&--thumbnail
				display block
				position absolute
				position-center()
				width 100%
				height 100%
				
	.car-header
		padding-bottom 60px
		&__content
			position static
			min-height auto
			margin-bottom 5px
			
			.price-lg
				margin-bottom 5px
			
			// .back-link
			// 	display none
		&-fixed
			padding-bottom 65px
			.car-header__row
				padding-left 10px
				padding-right 10px
				
			.car-header__tools
				padding-left 10px
				padding-right 10px
			.car-params
				display none
			
		&__tools
			background-color rgba(252, 252, 252, 0.9)
			padding 10px 20px
			box-shadow 0px -8px 14px rgba(0, 0, 0, 0.07)
			margin 0
			height 50px
			position absolute
			left 0
			bottom 0
			width 100%
			.btn
				white-space nowrap
			.btn-buy
				font-size 12px
				padding 5px !important
				margin-left 10px
			
			&--btns
				margin-left -5px
				margin-right -5px
				width auto
				.btn-light-sm
					font-size 10px
					padding 8px !important
					
				
					
				&_item
					width auto
					padding 0 5px
			
	.car-header
		&__title
			margin-bottom 15px
			padding-left 25px
			.sect-title
				font-size 16px
				margin-right 15px
				margin-bottom 5px
		&__information
			&--tools
				margin-top 0
				.contact__item
					width auto
					font-size 10px
					padding-left 25px
					margin-right 20px
					&:last-child
						margin-right 0
					&:before
						width 19px
						height 19px
						background-size 19px 19px
			
	.car-params
		margin-top 0
		&__list--item
			width 50%
			padding-right 10px
			font-size 11px
			
	.car-main-slider__wrapper
		margin-top 0
		
	.hidden-mobile
		display none !important
	.visible-mobile
		display block !important
		
	.price-lg
		font-size 16px
		
	.back-link
		width 20px
		height 14px
		background-size 20px 14px
		
	.btn-mobile-text
		position relative
		span
			display none
		&:before
			content attr(data-mobile-text)
			
	.car-main-slider__wrapper 
		.btn__arrow
			width 22px
			height 46px
			margin-top -30px
			&--prev
				left 15px
			&--next
				right 15px
				
	.b-radius
		border-radius 6px
		
	.fancybox-navigation 
		button
			width 22px
			height 46px
			margin -30px  0 0
			
		.fancybox-button--arrow_left
			left 15px
			
		.fancybox-button--arrow_right
			right 15px
			

	// Catalog
	.catalog-cars 
		.car-card__wrapper
			width 100%
			
	.sorting
		margin-bottom 10px
		&__item
			width 100%
			margin-right 0
			margin-bottom 10px
			&:last-child
				margin-bottom 0
				
	.btn__toggle-filter
		position relative
		top auto
		left auto
		width 100%
		border-radius 6px
		
	.sect__recommended
		padding-top 60px !important
		
	.pagination
		margin-top 0
		&__item
			&:first-child
				margin-right 16px
			&:last-child
				margin-left 16px
		&__link
			font-size 14px
			&.is-active
				font-size 18px
				
			&--arrow
				width 11px
				height 24px
				padding-left 0
				transform translateY(6px)
				span
					display none
					
				&_ic
					transform none
					position relative
					top auto
					left auto
			
+max-screen(620px)
	.gutters
		padding 40px 0
	.gutter
		&-top
			padding-top 40px
		&-bottom
			padding-bottom 40px
			
	.page-title
		font-size 24px
		
	.sect-title
		font-size 18px
		line-height 21px
		margin-bottom 15px
		
	.btn
		font-size 14px
		padding 12px 25px
		&-mobile-wide
			width 100%
			padding 17px 15px
		
	// Promo
	.promo-slide
		height 340px
		padding 30px 0
		
		.page-title
			margin-bottom 20px
			
		&__text
			margin-bottom 20px
			
		&__btns
			.btn
				margin-right 6px
				padding-left 20px
				padding-right 20px
				
	// Search
	.search-tabs__controls
		text-align center
		margin-bottom 25px
		&--btn
			font-size 18px
			
	.search-form
		.form-group__input--wrapper_col
			width 100%
			max-width 100%
			
		.btn
			width 100%
			padding-top 17px
			padding-bottom 17px
	
	// Service card 
	.card__wrapper
		width 100%
		padding 0 12.5px
		margin-bottom 20px
		&:last-child
			margin-bottom 0
		
	.service-card__wrapper
		flex 1 0 100%
		max-width 100%
		&:nth-child(1), 
		&:nth-child(2), 
		&:nth-child(3)
			flex 1 0 100%
			max-width 100%
			
	.sect__stocks
		&.gutter-bottom		
			padding-bottom 40px
	// Steps
	.sect__steps
		.sect-title
			margin-bottom 25px
		.sect-text
			display none
	.steps
		margin-bottom 15px
	.step
		&__wrapper
			width 100%
			padding-top 0
			padding-bottom 0
			margin-bottom 15px
			&:last-child
				margin-bottom 0
				
	.car-service
		&__ic
			width 104px
			height 104px
			margin-right 22px
			background-size auto
		&__wrapper
			width 100%
			margin-bottom 15px
			&:last-child
				margin-bottom 0
		
	// Sect description
	.description-block
		&__row
			margin-left -10px
			margin-right -10px
		&__content
			padding-left 10px
			padding-right 10px
			
		&__slider
			.slider__pagination
				display none
			
	.btn__arrow
		width 39px
		height 51px
		
	.about-us__salons
		padding-top 50px
		
	// Page vacancies
	.sect-page
		padding-top 60px
		
		.page-title
			margin-bottom 25px
		
	.page-description
		margin-bottom 25px
		font-size 12px
		
	.vacancy
		position relative
		padding 20px 20px 90px 20px
		

		
		.btn
			position absolute
			bottom 20px
			flex none
			width calc(100% - 40px)
			horisontal-center()

			padding 17px 15px
		
		&__description
			margin-right 0
			max-width 100%
			flex none
			font-size 12px
			
			
		&__salary
			max-width 100%
			text-align left
			

			
	.block-title-lg
		font-size 14px
		line-height 17px
		margin-bottom 12px
	

	// Page services
	.sect-page__form-container 
		.contact-form__wrapper
			padding 20px 10px
			
		.sect-title
			text-align center
		
		.contact-form__text
			text-align center
			margin-bottom 15px
			
	.contact-form__wrapper,
	.offer,
	.sect__stocks,
	.permalink__wrapper
		.btn
			width 100%
			padding 17px 15px
			
	.car-technical-guarantee 
		.permalink__wrapper
			margin-top 10px
			

	.contract-block
		&__links
			.btn
				width 100%
				margin-right 0
				margin-bottom 10px
				padding 17px 15px
				&:last-child
					margin-bottom 0
		
	// Page car

		
	.car-characteristics__col
		width 50%

		
	.car-information
		margin-left -10px
		margin-right -10px
		&__item--block
			padding 30px 10px

+max-screen(550px)
	// Header
	.header
		padding-top 15px
		padding-bottom 15px
		.logo
			img
				max-width 140px
		&-actions__row
			width 250px
			padding 25px 35px 35px 35px
		

			.logo
				img
					max-width 110px
				
		.btn__close
			right 15px
			top 30px
		
	.nav
		padding-left 0
		max-width 160px
		
		&__link
			font-size 14px
			
		&__item
			margin-bottom 30px
			
		&-sublist__link
			font-size 12px
		
	
	
		
	.header__links
		display flex
		flex-direction column
		align-items flex-start
		
		.link-with-ic
			padding-right 0
			padding-left 25px
			margin-right 0
			margin-bottom 30px
			&:last-child
				margin-bottom 0
				
			&__ic
				right auto
				left 0
	

	// Search
	.car-categories
		&__mobile
			ul
				column-count 3
				

	.car-card-mini
		max-width 100%
		&__title
			font-size 14px
			margin-bottom 6px
			line-height 17px
			
		&__price
			font-size 12px
			
		&__content
			padding 12px 30px 12px 20px
		
	.crediting-form__car-col
		width 100%
		
	.car-card__slider--slide
		padding-top 87%
		
+max-screen(500px)
	// Salons
	.salons
		max-width 300px

	.salon-address
		width 12px
		height 17px
		&:nth-child(1)
			top 45px
			left 23px
		&:nth-child(2)
			top 50px
			left 35px
		&:nth-child(3)
			top 50px
			left 80px
			
		&:nth-child(4)
			left 30px
			bottom 45px
			
		&:nth-child(5)
			left 30px
			bottom 20px


	// Page car
	
	.car-characteristics__col
		width 100%
		margin-bottom 15px
		&:last-child
			margin-bottom 0
			
	.car-information__item--block
		padding-bottom 30px
		&_title
			font-size 16px
			line-height 19px
			margin-bottom 15px
		
	.car-characteristics__list
		margin-bottom 22px

+max-screen(400px)
	// Search
	.car-categories
		&__mobile
			ul
				column-count 2
				
+max-screen(370px)
	// Page car
	.car-advantage
		font-size 12px
		&__ic
			width 75px
			height 55px
			background-size 75px 55px
			
	.car-information__advantages
		padding-bottom 10px
		
	

+max-screen-height(550px)
	.user-city__popup--overflow 
		.logo,
		.btn__close
			display none
			
	// .popup__overflow
	// 	padding 45px 10px
		

		
	.user-city
		&__dropdown
			padding 50px 10px 30px 10px
			
		&__popup
			&--body
				padding 15px
			
					