.aside
	padding 50px 30px 40px 30px
	box-shadow inset 3px 0px 14px rgba($basic-black-color, 0.1)
	background-color $basic-white-color
	position relative
	&__col
		width 460px
		position absolute
		left 0
		top 0
		transition transform .12s ease-in-out
		will-change transform
	


		
	
	


