.aside
	padding 50px 30px 40px 30px
	box-shadow inset 3px 0px 14px rgba($basic-black-color, 0.1)
	background-color $basic-white-color
	position relative
	&__col
		width 460px
		margin-right 30px
		margin-left -20px
	


		
	
	


