.aside
	width 100%
	max-width 450px
	padding 50px 30px 40px 30px
	box-shadow inset 3px 0px 14px rgba($basic-black-color, 0.1)
	background-color $basic-white-color
	
	
.filter-form
	margin-top 45px
	.form-group__input--wrapper
		margin-bottom 15px
		
	&__inputs
		margin-left -5px
		margin-right -5px
		
		.form-group__title
			padding-left 5px
			padding-right 5px
		.form-group__input--wrapper
			width 50%
			padding-left 5px
			padding-right 5px
			&_wide
				width 100%
			
	&__checkboxes
		margin-top 45px
		.form-group__title
			padding-left 5px
			padding-right 5px
		.form-group__input--wrapper
			margin-bottom 35px
			
	&__btns
		margin-top 40px
		.btn
			margin-bottom 15px
			&:last-child
				margin-bottom 0