.footer
	background-color $footer-bg
	box-shadow 0px -3px 13px rgba($basic-black-color, 0.1)
	
	&__content
		padding 40px 0
	
		

		
	&-contacts
		width 245px
		flex none
		&__logo
			.logo
				margin-bottom 40px
		
		&__city
			margin-bottom 40px
		
		.contacts
			margin-bottom 30px
			
		&__btns
			.btn
				display block
				margin-bottom 11px
				&:last-child
					margin-bottom 0
		
	&-menus
		flex 1
		padding-left 10%
		padding-top 85px
		&__col
			// width 20%
			padding 0 17.5px
			.list-title
				margin-bottom 0
		&__row
			margin-left -17.5px
			margin-right -17.5px
			&:first-child
				margin-bottom 20px
	

	.user-city
		padding-right 40px
		.arrow
			svg
				fill $text-color
		&__wrapper
			margin-bottom 35px
		&__label
			color $accent-color
			text-transform none
			
		&__name
			color $text-color
			text-transform none
			border-bottom 1px solid
			


	
.copyright
	background-color $footer-dark-bg 
	padding 10px 20px
	font-size 13px