.header
	background-color $header-bg
	box-shadow 0px 4px 14px rgba($basic-black-color, 0.07)
	padding 25px 0
	position relative
	// position fixed
	// top 0
	// left 0
	// width 100%
	z-index 10
	
	&__links
		margin-right 110px
		.link-with-ic
			margin-right 30px
			&:last-child
				margin-right 0
				

	.phone-link
		margin-left 5px